[2021-12-24 12:07] IAmRGroot commented on #194
In my original project I actually already tried adding the enforce: 'post'. Still the same result sadly

[2021-12-24 12:10] userquin commented on #194
@IAmRGroot  I'll check the `copy` plugin to see what is doing... try also adding to the `copy` plugin `apply: 'build'`, see vitejs docs...

[2021-12-24 12:13] userquin commented on #194
@IAmRGroot change also the `hook` entry to `hook: 'buildEnd'`.

[2021-12-24 12:21] userquin commented on #194
@IAmRGroot if not working just create your own script, you don't need to copy dist folder using a plugin, for example, you can just drop a `copy.ts/copy.js` module on your root and then using `fast-glob` you can traverse the `dist` folder and copy the content to the `out` directory, then on your build script: `vite build && node copy.js` or `vite build && esno copy.ts` (using `ts` you need to inst

[2021-12-24 12:25] IAmRGroot commented on #194
Thanks for the quick replies!

I figured I could just run a custom js script, but thought if there is a copy plugin why not use it.

Changing the hook to buildEnd and the apply: build seem to do it, but just not on subsequent runs....

![image](https://user-images.githubusercontent.com/8398505/147352404-47dc0ad2-74db-41c3-82f7-31d9b70ec7fb.png)

The first run succeeds with all the file there, but

[2021-12-24 12:41] userquin commented on #194
@IAmRGroot the problem here is that the rollup copy plugin is not compatible with your vite configuration, so you need to modify your build process.

Anyway, why the output error is copying the files to the src directory? both directories, `dist` and `out`, should be on `root` folder` not inside `src` folder.

[2021-12-24 12:45] IAmRGroot commented on #194
That has no particular reason, it was just a quick (and maybe dirty) setup for this problem.

I will just solve it with a custom script. Thanks for pointing out esno, I will use it!

[2021-12-24 12:45] #194 closed

[2021-12-26 10:05] ctwhome opened #195 "is it possible to use vite-plugin-pwa with Nuxt3?"
Hi, I have been trying to use it with Nuxt3 directly with the plugins system from Vite. it is my first try and so far it doesn't seem to be working:

in nuxt.config.ts

[code]

I have put it in this wip repo: https://github.com/ctwhome/top-nuxt3

[2021-12-26 13:17] userquin commented on #195
@ctwhome I'll take a look:
- we need to disable nuxt pwa, it is generating its own `sw.js`, see the build `.output` folder (inside the `_nuxt` directory you can find the sw generated by this plugin on your repro)
- nuxt 3 is not yet released, and so not all modes are not yet ready: once released we'll take a look how we can add a module for this plugin

FYI: I clone your repo but I'm using `pnpm`

[2021-12-26 13:19] userquin commented on #195
@ctwhome the `sw.js` is not created by `nuxt`, you have the `sw` on the public directory.

[2021-12-26 18:26] userquin commented on #195
@ctwhome I have it working,I just need to do some changes to support pages on offline (`about` on you repo), and I'll push to the main branch on my fork of your repro.

Anyway, this is a POC, we're waiting to the official `pwa module` on nuxt 3: I use `pnpm` as package manager.

I need to add a nuxt server middleware, use the inter plugin  communication like on `svetlekit` to make it work, take a

[2021-12-26 18:33] userquin commented on #195
@ctwhome the PR also includes offline support for `/about`...

closing this for now...

[2021-12-26 18:33] #195 closed

[2021-12-30 23:26] qalaya opened #196 "Not allowed to use URLs as source for manifest icons"
Is there any specific reason to not allow the usage of URLs on manifest icons?
I'm trying to build an app like:

[code]
But i'm facing this error at build time:

[code]
I know that URLs are not THE best practice for PWA icons but it usually works. At some moments it is really helpful to have this option.
Am I missing something?

[2021-12-31 00:11] userquin commented on #196
@qalaya I think you cannot use external resources, I'm looking on the specs and it seems you can only serve them from the same codebase:
- https://www.w3.org/TR/appmanifest/#icons-member
- on green **NOTE** you have this link: [process image resources](https://www.w3.org/TR/appmanifest/#dfn-process-image-resources)
- on point 4.1 you have this link: [process an image resource from JSON](https://ww

[2021-12-31 00:13] userquin commented on #196
closing this, if you want to play with a custom sw manually to check if it is working with external resources, provide a working repro and I'll reopen this issue

[2021-12-31 00:13] #196 closed

[2021-12-31 15:30] qalaya commented on #196
Yes, URLs work as source for pwa icons. I have successfully used this for a while. But if it is not open for discussion here, ok. I'll try something.

[2021-12-31 16:24] userquin commented on #196
@qalaya just provide a repro on gh or startblitz or something we can begin testing, I only close the issue, keep in mind we need to add `fetch` for node, detect `http/https` then fetch the icon, or I'm missing something (maybe only check for `http/https on icons and do not exclude them from the logic on build)?.

[2022-01-04 07:55] frck006 opened #197 "[vite-plugin-pwa] 'statSync' is not exported by __vite-browser-external, imported by node_modules\.pnpm\import-meta-resolve@1.1.1\node_modules\import-meta-resolve\lib\resolve.js"
Hi,

Do you know why I have this error when I build "pnpm build" ?
It works when I use "pnpm dev"
I update all packages.

![image](https://user-images.githubusercontent.com/10244725/148026417-d9108352-a3a9-4105-a946-25f3b8944484.png)

[code]

[2022-01-04 12:00] userquin commented on #197
@frck006 can you provide what version of `vite-ssg` and `node` are you using? Anyway, this should be on `vite-ssg` since this is not a problem with pwa plugin.

[2022-01-04 14:01] frck006 commented on #197
You should have right.
I reinstall all packages to see what package/version could produce this problèm.

And now the problem is with vite-ssg
- "vite-ssg": "0.17.5",
- "vite": "2.7.10",
- node => v16.13.1
![image](https://user-images.githubusercontent.com/10244725/148070305-9364beb9-e943-47c9-80f0-bd880f171057.png)

[2022-01-04 14:24] userquin commented on #197
@frck006 try adding `format: 'cjs'` on `ssgOptions`  on your Vite config file.

[2022-01-04 15:03] frck006 commented on #197
@userquin , not the same error:
![image](https://user-images.githubusercontent.com/10244725/148078451-d0c2c0b7-60be-4e1e-b596-234287e361a5.png)

[2022-01-04 15:11] userquin commented on #197
closing this since it is not related to this repo

[2022-01-04 15:11] #197 closed

[2022-01-04 15:11] userquin commented on #197
@frck006 it is not the same error, please check: https://github.com/antfu/vite-ssg/issues/154

[2022-01-04 15:17] frck006 commented on #197
It was necessary to change format: 'cjs' ? because the default is "esm"

[2022-01-04 15:28] userquin commented on #197
just try removing the `format`.

[2022-01-06 07:04] mxm-web-develop commented on #158
sure

Joaquín Sánchez ***@***.***> 于2021年12月2日周四 00:56写道：

[2022-01-06 09:46] #158 closed

[2022-01-07 11:28] maicol07 opened #199 "Issue with latest version (0.11.12)"
I have the following error when trying to start Vite dev server with the latest version (0.11.12):
[code]

Previous version (0.11.11) works fine

[2022-01-07 12:38] userquin commented on #199
@maicol07 can you provide a minimal repro?

[2022-01-07 12:42] maicol07 commented on #199
@userquin this the repo I'm working on: [https://github.com/devcode-it/openstamanager/tree/3.x-dev](https://github.com/devcode-it/openstamanager/tree/3.x-dev) (branch 3.x-dev)

Currently, I've pinned Vite PWA to 0.11.11. You should be able to see the error by changing that to 0.11.12

[2022-01-07 12:43] userquin commented on #199
@maicol07 here is no 3.x-dev, do you mean 3.x?

[2022-01-07 12:44] maicol07 commented on #199
Yes, sorry. I'm used to composer and npm branch names 😅

[2022-01-07 13:25] userquin commented on #199
@maicol07 it seems there is some merge with pwa plugin options not yet resolved and so the error: the problem is that `osmConfig` will do a deep merge of the pwa plugin and we cannot do that since the options are resolved via Vite lifecyle.

If I just use `export default defineConfig().withPlugin(VitePWA({...}))` I have this another error on the client:
[code]

[2022-01-07 13:29] userquin commented on #199
@maicol07 previous error with pwa plugin `0.11.12` and just works, but opening the index page we get previous client error.

[2022-01-07 13:38] maicol07 commented on #199
Oh yeah, the trick was to use `withPlugin()` instead of the `plugins` array.

Thank you!

[2022-01-07 13:38] #199 closed

[2022-01-10 15:33] sharmapukar217 opened #200 "any way to enable in dev"
what if i have to make changes to my service worker and see that? Do i have to build again and again for each changes?

[2022-01-10 16:48] userquin commented on #200
@sharmapukar217 I have a branch on my fork to allow run in dev, but I need to fix some problems reloading the sw using `workbox-window`, it uses some heuristic algoritmh and some events can be wrong.

The pwa in dev will be disabled, we will only support sw logic and always will force full reload since we cannot use hmr from a service worker yet: dynamic import not allowed.

This week I Will try t

[2022-01-12 15:56] userquin commented on #200
@sharmapukar217 you can see the sw on development in action here https://github.com/jeffposnick/yt-playlist-notifier/issues/2, just check the video linked there on last comment

[2022-01-12 17:08] #200 closed

[2022-01-12 17:27] #192 closed

[2022-01-12 18:06] userquin commented on #56
@cawa-93 development support added on `0.11.13` version

[2022-01-12 19:06] userquin commented on #200
@sharmapukar217 you can now register your service worker in development, version `0.11.13` released, also included some hints on docs.

[2022-01-17 14:36] jellehak opened #206 "Weird base for vue-basic-cdn example"
Why is there a security company defined as base here: 'cdn.com' ?

https://github.com/antfu/vite-plugin-pwa/blob/main/examples/vue-basic-cdn/vite.config.ts#L7

[2022-01-17 14:38] jellehak opened #207 "Missing a 'vanilla-js' example"
Couldn't find any example for a native approach is this intentional ? Frameworks are nice but the bare minimum should be a native example.

[2022-01-18 15:19] userquin opened #208 "docs: add link for css tricks article"
https://css-tricks.com/vitepwa-plugin-offline-service-worker/

[2022-01-18 15:56] userquin opened #209 "docs: update apple touch icon"
We're using the plain pwa icon and not the created by Anthony!

[2022-01-19 09:10] userquin commented on #207
@jellehak what do you mean with native?

[2022-01-19 14:37] jeremytenjo opened #210 "Error: Failed to resolve import "virtual:pwa-register/react""
Getting `Failed to resolve import "virtual:pwa-register/react"` error when importing from `virtual:pwa-register/react`

**Reproduce**

[code]

**File producing error**

`ReloadPrompt.tsx`

[code]

`tsconfig.json`

[code]

`package.json`

[code]

Thank you!

[2022-01-19 18:35] userquin commented on #210
remove `"virtual:pwa-register": ["node_modules/vite-plugin-pwa"]` and `"files": ["node_modules/vite-plugin-pwa/client.d.ts"]

you have an exmaple for react here: https://github.com/antfu/vite-plugin-pwa/blob/main/examples/react-router/tsconfig.json

[2022-01-19 19:34] jeremytenjo commented on #210
Thanks @userquin but I even get the error in that example
![image](https://user-images.githubusercontent.com/25231946/150201240-07f5f50f-67dd-454b-a87d-54603fa41ef8.png)

[2022-01-19 19:45] userquin commented on #210
@jeremytenjo try this https://github.com/antfu/vite-plugin-pwa/blob/main/examples/react-router/src/vite-env.d.ts

[2022-01-19 20:00] jeremytenjo commented on #210
No luck unfortunately. This is the repo https://github.com/jeremytenjo/starter-webapp/tree/virtual-pwa-register/react

[2022-01-19 20:03] userquin commented on #210
move the dts inside the src folder

[2022-01-19 20:53] kalvenschraut opened #211 "Auto pull in references icons in manifest config"
I was wondering if it would be possible to have any icons that are referenced to the relative file path in the vite project would then be picked up as a static asset like referencing a static asset in source code. Then the generated manifest would point to the generated icon i.e.

set the below config

[code]

The plugin then will generate the manifest referencing the filepath generated by vite si

[2022-01-20 07:49] carlos-montiers opened #212 "updateServiceWorker(true) when the app is open in different tabs"
Hello, I'm using react with strategies: 'injectManifest', registerType 'prompt' and the service worker prompt-sw.ts and periodic updates (1 minute for development):

[code]

If I open the app in two tabs of the browser, and publish an update, after 1 minute I see the notification in the both tabs (with the button to reload). This button call to `updateServiceWorker(true)`

In the first tab if I pr

[2022-01-20 10:23] www-chique opened #213 "Incorrect type for icons property in manifest"
The type definitions for "icons" in the manifest might be incorrect.
I am receiving the following type warning:
![image](https://user-images.githubusercontent.com/29447216/150319812-6125523e-4772-4ee4-8798-97adea934c43.png)

The correct usage for the "icons" can be found at [Google's Web.dev](https://web.dev/add-manifest/#create), or at [MDN ](https://developer.mozilla.org/en-US/docs/Web/Manifest/

[2022-01-20 13:27] userquin commented on #213
Add the type entry with `image/png`, check any vite config on the examples directory

[2022-01-20 13:27] #213 closed

[2022-01-20 13:35] userquin commented on #212
The sw is system Wide, once reloaded, all the clients will be reloaded (any client controlled by the current sw): any tab but also any browser instance.

The problem here is to detect that event on other clients to hide the prompt.

[2022-01-20 14:33] carlos-montiers commented on #212
Oh, thanks. This workaround works for me:
[code]

[2022-01-20 21:53] jasdeepkhalsa commented on #64
I'm using the Vite TypeScript template and solved this by changing:

[code]

To:

[code]

Hope this helps someone!

[2022-01-21 14:58] jeremytenjo commented on #210
No Luck

[2022-01-21 18:40] jeremytenjo commented on #210
Curious why we have to import `useRegisterSW` from `virtual:pwa-register/react` instead of `vite-plugin-pwa/client` ?

[2022-01-21 19:02] jeremytenjo commented on #210
The reason I was getting the error was because only loaded the plugin in `production` mode

[2022-01-21 19:02] #210 closed

[2022-01-24 11:08] www-chique commented on #213
I apologize.
Even with the "type" it looks the same. What am I doing wrong?

![image](https://user-images.githubusercontent.com/29447216/150771963-6d2585f4-3780-49cb-9d8e-c75ca37c544f.png)

[2022-01-24 11:12] www-chique opened #216 "Incorrect type for icons property in manifest"
Previously, I have opened an issue at #213, but even after following the solutions, the error did not resolve.

The type definitions for "icons" in the manifest might be incorrect.
I am receiving the following type warning:
image
![image](https://user-images.githubusercontent.com/29447216/150772335-dee79285-c98f-40a5-b2d6-06ea4f18610f.png)

I am a newbie at this, but this might be coming from the

[2022-01-24 12:22] userquin commented on #216
Icons option is for manifest root not for shortcuts, why do you need icons on shortcut entries?

[2022-01-24 12:24] userquin commented on #216
https://github.com/antfu/vite-plugin-pwa/blob/main/src/types.ts#L213

[2022-01-24 12:25] userquin commented on #216
https://developer.mozilla.org/en-US/docs/Web/Manifest/shortcuts

[2022-01-24 12:37] userquin commented on #216
It seems we need to review the mapping

[2022-01-24 13:36] www-chique commented on #216
I saw you already posted the MDN links regarding why we need icons on shortcut entries.
Thanks.

[2022-01-27 00:48] danykina commented on #156
@Whirl21 How did you solve? Thanks

[2022-01-27 07:43] amanzrx4 commented on #64
worked for me, thanks

[2022-01-28 12:12] DaPotatoMan opened #217 "How to remove PWA ?"
Hello,
I am using Vercel to deploy my app. I previously added this plugin but I can't remove it since the changes do not apply on the client-side. What I mean is, when I remove this plugin the client-side website doesn't update at all.

Please let me know how can I resolve this issue.
Thanks!

[2022-01-28 12:50] userquin commented on #217
Once the service worker is registered on client side the user should remove it or you can include a script in your `index.html`, then once removed your new version will not register and use the service worker.

You can check the service worker is not registered on your app openningyour app in private window.

For more info, check https://medium.com/@nekrtemplar/self-destroying-serviceworker-73d629

[2022-01-28 15:56] alkanna opened #218 "How to exclude a backend route ?"
I have been successfully using this very basic approach : https://vite-plugin-pwa.netlify.app/guide/generate.html
However, since I have deployed this to production, I have an issue with a route that is supposed to be handled by the load balancer, and then distributed to another service than my SPA.
Currently, if I navigate to /backoffice on my SPA, the service worker seems to be picking up the GET

[2022-01-28 19:43] userquin commented on #218
You can try adding that route to the `navigateFallbackDenylist` on `workbox` plugin option (I test it on `vue-router` examples with the `hi` route, the route is not being intercepted by the sw):
[code]

Previous option will generate this entry on your sw (you must deal with offline support for excluded routes):
[code]

[2022-01-28 20:03] userquin commented on #218
![imagen](https://user-images.githubusercontent.com/6311119/151613789-7f297ee5-abdb-4207-a6e4-d1f772d65d1f.png)

[2022-01-29 19:36] dgastudio opened #219 "Uncaught (in promise) TypeError: Failed to update a ServiceWorker for scope (***) with script (***/sw.js): A bad HTTP response code (500) was received when fetching the script."
Hey
I would like to ask for your help

React 17:
vite: latest
vite-pwa: latest

vite config
`import {defineConfig, loadEnv} from "vite";
import react from "@vitejs/plugin-react";
import path from 'path'
import viteCompression from 'vite-plugin-compression';
import {visualizer} from 'rollup-plugin-visualizer';
import optimizationPersist from 'vite-plugin-optimize-persist';
import pkgConfig from 'vi

[2022-01-29 20:55] userquin commented on #219
@dgastudio what's the error on server?

[2022-01-29 20:56] dgastudio commented on #219
Hola Joaquín!
no errors at server side, new build is compiled successfully.

[2022-01-29 21:02] userquin commented on #219
@dgastudio can you put here the js error?

[2022-01-29 21:05] alkanna commented on #218
Thanks, this seems to do the trick !

[2022-01-29 21:05] #218 closed

[2022-01-29 21:10] dgastudio commented on #219
sure,
Build logs

-----------

$ vite build
vite v2.7.13 building for production...
✓ 3798 modules transformed.
rendering chunks (148)...
build/assets/logo-main.9aa391e4.png                                23.92 KiB
build/assets/auth_bg.e40f1b0d.jpg                                  567.88 KiB
build/assets/1.3c91a09c.mp3                                        102.04 KiB
build/assets/2.b049e0f2.mp3

[2022-01-29 21:21] userquin commented on #219
@dgastudio try adding `scope` and `base` on pwa plugin and `scope` on manifest entry:
[code]

[2022-01-29 21:24] dgastudio commented on #219
No, same error.

[2022-01-29 21:26] userquin commented on #219
@dgastudio screenshot with the error on the promise expanded

[2022-01-29 21:28] dgastudio commented on #219
![image](https://user-images.githubusercontent.com/161524/151678065-2bf8d5b9-896b-417c-a892-8bf237fb034b.png)

[2022-01-29 21:30] userquin commented on #219
@dgastudio the error is not the same, can you show the formatted code at that line on index.js? should have an if statemente registering the service worker.

[2022-01-29 21:31] dgastudio commented on #219
whole component
https://pastebin.com/uYEDnfQQ

[2022-01-29 21:35] userquin commented on #219
@dgastudio `https://hkv3.frontend.local:3000` is local machine serving build or in dev? can you show the formatted code at that line on index.js?

[2022-01-29 21:41] dgastudio commented on #219
index.js

import React from 'react';
import * as ReactDOM from 'react-dom';
import App from './App.jsx';

const container = document.getElementById('root');

// Create a root.
const root = ReactDOM.createRoot(container);
root.render(<App/>);

https://hkv3.frontend.local:3000 is a dev

https://hkv3.build.local is a build

[2022-01-30 13:43] userquin commented on #211
@kalvenschraut workbox is file based, we need to do some additional work: the `manifest.webmanifest` should be changed (replace each icon src with the final asset name traversing  the vite bundle map and find a match) but also the sw precache manifest, since we also need to add/check those entries: for example, if we include an icon from assets, this asset will be excluded by workbox since the def

[2022-02-01 12:44] userquin commented on #209
closing this since the pwa icon is hte same on readme

[2022-02-01 12:44] #209 closed

[2022-02-03 11:30] mkhennoussi commented on #207
I think he means a working example with the basic "vanilla-js" template from `create vite` for instance. Without using frameworks.
Just tried to add this plugin to the simplest web app. Found a lot of issues to get it working properly.

[2022-02-03 13:13] userquin commented on #207
@mkhennoussi @jellehak  https://github.com/userquin/vite-plugin-pwa-vanillajs

[2022-02-03 17:39] 719media opened #223 "Migration guide from vue-cli pwa"
Hello,
Is there any sort of migration guide for people who were previously using vue-cli with https://cli.vuejs.org/core-plugins/pwa.html to use this plugin? In order to avoid service worker problems resulting from production visitors hitting the application with old service-worker code.
It seems that the vue-cli generated the entry at service-worker.js, and this plugin uses sw.js by default, so I

[2022-02-03 20:20] userquin commented on #223
@719media
- the sw name, just try adding `filename: 'service-worker.js'` on pwa plugin configuration.
- your client should update all assets, maybe some not changed but will depend on the webpack configuration you have
- about the pwa manifest, it is the new standard, maybe you can run a post install hook to change the name on the pwa plugin  dependency: maybe I can make it configurable

IIRC `vue

[2022-02-03 23:28] 719media commented on #223
@userquin
Wow thank you for the detailed response. By way of information, I am using a very "vanilla/standard" install of the vue-cli, where the only configuration I've done is with iconPaths and themeColor. I am currently doing an autoUpdate strategy where I refresh the assets behind the scenes every time the service-worker gets new content.

Yes, vue-cli does use register-service-worker module t

[2022-02-03 23:33] userquin commented on #223
@719media you can take a look at this (vanilla with ts, using prompt strategy, just remove the callabcks and the toast/dialog on main.ts): https://github.com/userquin/vite-plugin-pwa-vanillajs

[2022-02-05 12:12] danielyogel opened #225 "docs: relationship between "registerType", "onNeedRefresh" and "onRegistered"."
From reading the guides I personally don't understand the relationship between "registerType", "onNeedRefresh" and "onRegistered".
For example, if I set `registerType: 'autoUpdate'`:
1. Do I still need to configure "onNeedRefresh" with a call to "updateSW"? or is that redundant?
2. Do I still need to follow the "Periodic Service Worker Update" guide and set an interval inside "onRegistered"?

If I

[2022-02-05 13:05] userquin commented on #225
@danielyogel I use *strategy* for both `strategies` and `registerType` options: former for build time and latter for client behavior/strategy

1) `onNeedRefresh` will never be called since you're using auto update client strategy (`registerType`): it will be called only when using `prompt` client strategy and a new sw detected. `onOfflineReady` will be called once the sw is registered first time:

[2022-02-05 13:12] userquin commented on #225
you can take a look at this issue (take your time, it is huge): https://github.com/antfu/vite-plugin-pwa/issues/33

check https://github.com/antfu/vite-plugin-pwa/issues/33#issuecomment-792680487 and a few comments I made in response

[2022-02-05 18:23] danielyogel commented on #225
@userquin Many thanks for the detailed answer!

I don't really understand this sentence... :\  I've defined only "registerType", anyway.

I understand I may just leave it off, and the app eventually will update when navigated, but what about "installed" (added to home screen) apps?

If I do decide to use periodic updated, using push and web sockets -  how do I know that an asset was changed in the

[2022-02-05 19:34] userquin commented on #225
@danielyogel

There are 2 plugin options: `strategies  (default is generateSW)` and `registerType (default is prompt)`, I use `strategy` to refer both, former for build time and latter for client behavior.

`r.update()` will ping the sw url to the server (via GET or HEAD), if changed then will proceed to install it in the background without refreshing the page: browser will start download new app

[2022-02-06 14:32] jacekkarczmarczyk opened #226 "feat: automatic generation and injection of favicon"
There's a favicon plugin for webpack https://github.com/jantimon/favicons-webpack-plugin which given the single image file automatically creates small icons and injects them to index.html

Providing such functionality to this PWA plugin would be a nice thing too - it would inject icons to the manifest section of the plugin configuration, to the entry file (index.html) and to dist/assets.

[2022-02-09 10:52] DaPotatoMan commented on #217
@userquin Thanks! It worked.

[2022-02-09 10:52] #217 closed

[2022-02-10 07:13] shaddollxz opened #227 "cant use registerSW when use pnpm install"
i can build vue code when i use npm install packages, but use pnpm there has error
[code]
[code]
[code]

the error is:
[code]

[2022-02-10 11:21] userquin commented on #227
@shaddollxz just add `workbox-window` as `dev dependency`:`pnpm i -D workbox-window`

[2022-02-11 10:06] madeleineostoja commented on #226
Found this package looking specifically for this feature — I'm using Sveltekit and service workers are already reasonably straightforward there, but generating and injecting an iconset into a manifest would be a big productivity win on new projects

[2022-02-11 14:04] armenr commented on #89
I just got hit by the same thing.

This seems to fix the problem in a repeatable and reliable way (both in my CI pipeline, as well as my local environment):

`shamefully-hoist=true`

:)

[2022-02-11 20:39] userquin commented on #226
@jacekkarczmarczyk Maybe it would be better to add a cli to generate the icons since the process will be too expensive, then we can transform the index.html using the cli or just adding another plugin with a transform html hook.

I'm testing this vite plugin https://github.com/josh-hemphill/vite-plugin-favicon/, but the generation is wrong since it is using the assets directory and the manifest is

[2022-02-11 20:44] jacekkarczmarczyk commented on #226
I don't know vite internals but I'm pretty sure it could be done with some caching, obviously first time would be expensive, but next time images would be taken from the cache (unless the original image has changed)

[2022-02-11 20:45] userquin commented on #226
ok, I'll try do to some test

[2022-02-12 22:18] danielberndt opened #228 "Migrating app from registerType `autoUpdate` to `prompt` results in broken state"
Hi there 👋

The first versions of my app have been published using `registerType: "autoUpdate"`.
Now I'd like to offer a better UX and created an upgrade of my app to use `registerType: "prompt"`.

It seems though that all clients that have the old version of the app loaded, won't be able to load a new version.

Looking into it, the devtools tell me that the new version is present, but the app/ser

[2022-02-12 22:45] userquin commented on #228
@danielberndt I think it is a edge case and I don't know how to solve it directly, I'll ask to someone on workbox but I don't promise you anything .

I'm testing it using `vue-router` example, I build the pwa with `autoUpdate`, open it on chrome, then I rebuild it using `prompt` strategy but the old sw is used intead the new one:

![imagen](https://user-images.githubusercontent.com/6311119/1537307

[2022-02-12 23:37] danielberndt commented on #228
Thanks for the quick reply!

I've done some more experimenting. And I think I've somewhat succeeded by creating a custom `sw.js` containing code of registerTypes:

[code]

Once all clients have loaded this version, I could remove the first two lines and the "prompt" strategy was working without these clients being stuck in the old version.

So maybe it's worth to add the `addEventListener` line ev

[2022-02-13 00:32] userquin commented on #228
@danielberndt The problem is that the sw is updated with the new strategy, but since we now have the prompt behavior the old app is still being used and so the new `ReloadPrompt` is not there.

I suggest you to not do this, if your users are under your control (not a public app), you can hint them to close the browser and reopen the app once you deploy the new version.

Another approach: you can a

[2022-02-13 00:38] userquin commented on #228
you can also use the `replace` plugin instead the `env` variable, for example using `__CONTROL_APP__`. check any example in this repo.

[2022-02-13 11:57] danielberndt commented on #228
Thanks for all your pointers! I will take a look at them :)

I guess one question to ask for this library (and/or for workbox?) is whether the use case of migrating from `autoUpdate` to `prompt` is considered an edge case which needs some deeper understanding of the internals to work yourself out of it, or whether this is something that should be supported "out of the box".

[2022-02-19 17:08] ljxok2001 commented on #64
This worked for me too, thanks.

[2022-02-20 00:21] cedpoilly opened #229 "Vite special queries broken when using `strategies: "injectManifest"`"
# Description
I am using web workers in my application, for which I use `import Worker from './worker?worker'`.

The `?worker` is part of Vitejs's special queries:  [https://vitejs.dev/guide/features.html#static-assets](https://vitejs.dev/guide/features.html#static-assets)

The build breaks when I update the config for `VitePWA`.

# Setup
When I use the `injectManifest` instead of `generateSW` the

[2022-02-20 11:01] userquin commented on #229
@cedpoilly we need to review the plugin to update to latest version of vite, we need to add some more plugins, check #215

So, are you using the worker inside the sw or the build just fails?

I'm testing pwa plugin with latest vite version and I'll try to add some some worker test.

[2022-02-20 12:03] userquin commented on #229
We cannot use web workers inside service workers: you need to split the logic inside the web workers and use it on service worker as another module via import.

We've a web worker example used frm the app on `vue-router` example.

[2022-02-20 15:53] cedpoilly commented on #229
# Answer
@userquin I am using web workers **from the main thread**. Not from the Service Worker. The error happens at the **build level**, not at runtime.

# Current Workaround
I am currently using the `import { useWebWorker } from "@vueuse/core"` which is far from ideal, it expects the worker file to be in `/public`.

This folder is not watched, so I had another workaround for that.

Also the imp

[2022-02-20 16:14] userquin commented on #229
@cedpoilly the pwa plugin on build does nothing on the codebase, just build the sw, so your problem can be solved including the web worker on the `includeAssets` entry on the pwa plugin config.

Can you check the generated sw.js file to check if the web worker is on the sw precache manifest beofre adding it to the `includeAssets` entry?

[2022-02-22 03:33] fadi-george opened #230 "React-Router Blank Page after Reload after Open (From Browser)"
Hello, I noticed that reloading after opening the installed app leads to a blank page.

Commit: main / 99f204b00b984d26a06c7eb1f1b465077751f151

Steps:
- run examples (react-router)
[code]

- go to localhost
- install app
![Screen Shot 2022-02-21 at 7 24 57 PM](https://user-images.githubusercontent.com/6709400/155057516-b69573e3-a4e6-4727-a145-dfaedff7f9a1.png)

- close app
- go to localhost again

[2022-02-22 03:36] fadi-george commented on #230
Running the app from a location like Applications / Chrome Apps / PWA Router and reloading there doesnt seem to produce blank page

[2022-02-22 05:14] zzh948498 opened #231 "pushManager.subscribe does not ask me whether to display a notification"
https://vite-plugin-pwa.netlify.app/workbox/inject-manifest.html#server-push-notifications

I want to subscribe the user，but the `self.registration.pushManager.subscribe` will not popup tooltip

![image](https://user-images.githubusercontent.com/35091020/155067166-6fbe65ae-15da-4df5-ae89-d88999655dc3.png)

I'm not familiar with service workers. Thanks in advance for your help.

My code ：https://gi

[2022-02-22 10:50] userquin commented on #231
the docs are outdated, the server push notifications have changed, check this: https://developers.google.com/web/ilt/pwa/introduction-to-push-notifications

you can also take a look at this repro from workbox core team member: https://github.com/jeffposnick/yt-playlist-notifier

[2022-02-22 11:40] #231 closed

[2022-02-22 12:11] userquin commented on #230
@fadi-george

On windows I cannot reproduce it: can you test it with the dev tools opened, maybe there is some error? tested with vue and react router examples

[2022-02-22 17:29] cedpoilly commented on #229
@userquin it seems to be working okay after adding the worker to the `includeAssets` list. I have a minor error in the console though.

### Chrome:
![image](https://user-images.githubusercontent.com/11003819/155185634-540c41c1-2c05-44ba-8c1a-da462c5f6b5f.png)

### Firefox:
![image](https://user-images.githubusercontent.com/11003819/155185729-c9418c7f-ed75-4fc2-bbf4-167a1587e1f4.png)

[2022-02-22 17:39] userquin commented on #229
It seems it is included twice, can you share your pwa plugin configuration?

You can check also the vue router example, it is using a simple web worker

[2022-02-23 14:31] johannb75 commented on #216
Having the same, issue, any update on this?

[2022-02-23 16:20] eRendon opened #233 "self.__WB_MANIFEST is undefined when the strategies is 'injectManifest'"
Hi!,
I have a problem when deploy the proyecto to vercel or any host and previw server in local.

Versión PWA plugin vite

`    "vite-plugin-pwa": "^0.11.13",`

Versión vite
`    "vite": "^2.6.7",`

Version vue
`    "vue": "^3.0.5",`

The configuration of mi custom sw
![image](https://user-images.githubusercontent.com/36104986/155360441-d24f8f93-8cf9-4f79-8ce9-66e49ac4ee00.png)

the configuration

[2022-02-24 21:30] fadi-george commented on #230
I also tested on Windows and it doesn't seem to have that problem. Also for Mac, even if it appears blank you can still hover/interact with button elements I believe.

[2022-02-25 01:30] fadi-george commented on #230
<CssBaseline /> (Mui) seems to cause the blank page at least for my app

[2022-02-28 04:11] wuxiuran opened #236 "Build failed to export the 'base' path in the Vue configuration file"
Hello, my problem is that static resource files such as JS or CSS and HTML files are in servers with different domain names, so I'm in `vite.config.js` is configured with 'base' to modify the public path of static resources, but `vite-plugin-pwa` seems unable to package this' base ' path into' `service-worker.js` The final output is `{"revision": null, "URL": "assets / index. 17337179. JS"}`. How

[2022-02-28 09:05] jellehak commented on #207
@mkhennoussi Yes indeed, perfectly described. Would be nice, seems very weird to have the basics "vanilla-js" missing.

[2022-02-28 12:43] userquin commented on #236
@wuxiuran this plugin will use the `base` from `vite` not from `vue` configuration

[2022-02-28 16:01] subdavis commented on #158
This issue should be reopened.  The problem wasn't resoved, the solution was just to "ignore all type errors".

I'm trying to use `vue-tsc` in CI because [vite does not do type checking](https://vitejs.dev/guide/features.html#typescript).

[2022-03-01 03:20] qcyblm opened #237 "Prompt to refresh new content, and want to add custom prompt information function."
Better support for multilingual management of site projects

[2022-03-01 03:22] wuxiuran commented on #236
@userquin You are right. My problem description is wrong. But the problem does exist, The `base` in `vite-config.js` will not be built into the final file. What should I do

[2022-03-01 10:07] userquin commented on #236
@wuxiuran just remove scope from plugin options and from workbox/injectManifest option, you can check src/options.ts module how we configure it.

If you dont have the scope configured, please provide a repro.

[2022-03-01 10:51] userquin commented on #237
@qcyblm what do you mean about i18n? this plugin is ui agnostic, you should resolve it with your ui/app framework.

For example, if you're using `vitesse` template (vue 3), it is using `vue-i18n`, so changing the `registerType` to `prompt` you can add the entries into the `locales/*.yml` files and using the i18n entries on the  `ReloadPrompt` component you should add (`vitesse` template is using `

[2022-03-01 10:57] userquin commented on #233
@eRendon try to upgrade vue version to `3.2`, if you cannot upgrade the plugin try adding this line at the top of your `sw.ts` file:
[code]

[2022-03-01 11:07] palmer-rm opened #238 "Jest unit test cannot find module 'virtual:pwa-register/vue'"
Have integrated a reload prompt as per docs: https://vite-plugin-pwa.netlify.app/frameworks/vue.html#prompt-for-update

[code]

Works fine, however any unit tests for the component (using vue-test-utils) fail due to:

`Cannot find module 'virtual:pwa-register/vue' from...`

Not getting any IDE errors and the module _is_ imported okay and works fine.

[2022-03-01 11:09] userquin commented on #238
@palmer-rm `jest` is not aware about virtual modules, check `vitest` instead.

[2022-03-01 11:24] palmer-rm commented on #238
Thanks for the suggestion userquin, but not an option I'm afraid.

Managed to mock the module by doing:

[code]

which works fine.

[2022-03-01 11:27] #238 closed

[2022-03-01 13:42] eRendon commented on #233
@userquin now my dependences are
![image](https://user-images.githubusercontent.com/36104986/156178812-0129084f-e1f2-40f9-b477-17555b29f3b9.png)

i upgrade vue version. Builded whit sourcemap, i see the problem in the PrecachingControll.js file
![image](https://user-images.githubusercontent.com/36104986/156179391-f933ce17-321f-4e73-8dd4-6dea6cc9b8cc.png)
and the error
![image](https://user-images.

[2022-03-01 13:47] qcyblm commented on #237
@userquin
Look at the figure, is there a corresponding parameter to modify the button label and prompt information?
![image](https://user-images.githubusercontent.com/64412486/156180098-4ff2bc78-c265-46cf-80fa-bcaaf2556166.png)

[2022-03-01 14:09] userquin commented on #233
@eRendon what are you doing importing the `src/sw.ts` from your `src/main.ts` module? you cannot import the `sw` on the main entry, you should remove that import from that module, `registerSW` call will register the sw.

I test your repo (https://github.com/eRendon/vite-vue3-tailwind) using `pnpm` instead `npm` and it is working on my local, you will need:
- remove `workbox-precaching` from depend

[2022-03-01 14:18] userquin commented on #237
@qcyblm this is an screenshot, you can take a look at this component: https://github.com/antfu/vite-plugin-pwa/blob/main/examples/vue-router/src/ReloadPrompt.vue#L40

If you're using vue 3 with vue-i18n, just replace text with `$t('xxxx')` or using `const { t } = useI18n()`. If you're using another framework, just check the `ReloadPrompt` component on the corresponding framework examples folder an

[2022-03-01 14:43] eRendon commented on #233
Thanks!!!!! maybe the problem are the `workbox-window` as dev dependencie and other libraries that i have in dependencies.
The sw importe in the main, is to practice whit the update component registration and notification.

Thanks so much. The problem is solved.

[2022-03-03 20:13] iammati opened #239 "Use build.outDir from vite for custom public/sw.js file"
I'm really new to service worker, workbox and PWA. Got following situation:

My vite setup is located inside `~/app/frontend/vite.config.ts` thus contains `build.outDir` which links to `../../public/dist`.
I'd need to configure the same for the PWA plugin or that at least the PWA automatically checks whether `build.outDir` has been configured and makes use of it instead of searching for `public/sw

[2022-03-03 20:15] iammati commented on #239
Welp just found out that there's `srcDir`...

[code]

[2022-03-03 20:15] #239 closed

[2022-03-06 19:00] mykwillis commented on #155
I have the same question as @akirarika and I don't see how the above comment from @userquin resolves it.

I started with the Vue starter app:

    npm create vite@latest vite-vue-pwa

I then added the vite-plugin-pwa in `vite.configt.ts` and added the `registerSW` call to my main.ts. I verified I have a working service worker - great!

I noticed from the developer console that the Vue logo used in

[2022-03-06 19:58] userquin commented on #155
@mykwillis read this entry form docs (check the warning section): https://vite-plugin-pwa.netlify.app/guide/static-assets.html

[2022-03-07 10:35] palmer-rm opened #240 "virtual:pwa-register/vue - needRefresh returning true on new browser session"
Have set up a reload prompt for a vue3 application using: https://vite-plugin-pwa.netlify.app/frameworks/vue.html#prompt-for-update

Having an issue whereby the prompt is showing even on first visit, or after clearing all site data from cache and re-visiting the site.

After updateServiceWorker fn is called after clicking the refresh button, the prompt will then disappear as expected, and does not

[2022-03-07 10:39] danielyogel commented on #225
Thanks for the detailed response!

A few more questions, if that's fine:

1. If I use `registerType: 'autoUpdate'`, and never configure `onRegistered` at all - will the app still update when reloaded - or I have to call `onRegistered(r) {r.update()}` at least once? (I'm not interested in periodic update).
2. When I use `registerType: 'autoUpdate'` - does that can cause a flickering when loading th

[2022-03-07 11:06] userquin commented on #225
@danielyogel
1. `onRegistered` is optional so you don't need to worry about it, the app will be auto updated with a page reload: the check for new sw will only occur when entering the page or a page refresh (this is why we include the periodic check for updates)
2. should be only a flickering only when received an updated and reloading the page
3. no, the time will depend on the app size: when the

[2022-03-07 11:10] userquin commented on #240
@palmer-rm check your logic, it seems you're using the ready to work offline callback instead the need refresh callback, once you call `updateServiceWorker` your app should be reloaded on the browser, since it will force a page reload

[2022-03-07 13:04] palmer-rm commented on #240
@userquin - are you suggesting to just use the needRefresh boolean to determine whether to render the refresh prompt, as opposed to doing `v-if"offlineReady || needRefresh"` as per the docs?

Calling updateServiceWorker works fine; the app is reloaded on the browser as expected. The problem is the reload prompt is rendered even in a completely new browser session with nothing cached.

[2022-03-07 13:11] userquin commented on #240
@palmer-rm can you provide a repro or the code for you reload prompt component?

[2022-03-07 13:18] palmer-rm commented on #240
This is the reload prompt component:

[code]

[2022-03-07 13:48] userquin commented on #240
@palmer-rm `offlineReady` is `true` only once, when the sw is installed, while `needRefresh` is `true` when there is a sw installed and a new version available and awaiting to be installed. Both flags cannot be true at the same time (the first time the sw is installed `offlineReady` will be true and `needRefresh` is false).

You have an example on `examples/vue-router/src/ReloadPrompt.vue`.

[2022-03-07 17:11] mykwillis commented on #155
Thanks for the pointer @userquin. I've read that section several times while trying to get this to work and I still can't see how it helps.

To be clear, the only reason I touched `workbox.globPatterns` is to troubleshoot why I couldn't get `includeAssets` to work. Point taken that using "assets/*" as the value of `workbox.globPatterns` will break things (because it tries to pre-cache the service

[2022-03-07 17:21] mykwillis commented on #155
Regarding the warning message, I see now my confusion.

This note:

Might be more clear if it said:

Sorry for my confusion on that.

[2022-03-09 13:16] palmer-rm commented on #240
@userquin - Thanks for the clarification. I am curious, though, as to why in the example `ReloadPrompt.vue`, the prompt is conditionally rendered if `needRefresh` _and_ `offlineReady` are both true.

Why would one want to render the reload prompt on initial SW registration, when nothing is cached and content is up to date?

[2022-03-09 13:27] userquin commented on #240
@palmer-rm this is just an example: you can prompt the user for initial installation or not, in the example we show the message for it. If you don't want to show the prompt in that case just omit it, use only the `needRefresh` ref.

The behavior is similar when using the pwa on mobile, the browser will show a popup to install the app first time the sw is ready (installed).

[2022-03-09 13:27] #240 closed

[2022-03-09 13:31] userquin commented on #240
this is not true, please review the code: the prompt is conditionally rendered if `needRefresh` _or_ `offlineReady` are true.

[2022-03-09 13:32] palmer-rm commented on #240
@userquin - sorry, my typo. I meant _or_, not and.

[2022-03-09 13:34] #237 closed

[2022-03-09 13:37] userquin commented on #230
@fadi-george  closing this, it seems a problem not related with this repo, feel free to open a new issue...

/cc @antfu can you enable discussions here?

[2022-03-09 13:37] #230 closed

[2022-03-09 13:38] #225 closed

[2022-03-09 13:38] #212 closed

[2022-03-09 13:43] #146 closed

[2022-03-09 13:48] #223 closed

[2022-03-09 13:52] userquin commented on #228
@danielberndt closing this for now since it is not related how this plugin works, feel free open a new issue...

[2022-03-09 13:52] #228 closed

[2022-03-09 13:57] userquin commented on #206
@jellehak it is just an example, you can upload your sw to a cdn and change the `base`

[2022-03-09 13:57] #206 closed

[2022-03-09 13:59] userquin commented on #229
@cedpoilly have you solve your problem?

closing this for now, feel free to open a new issue if the problem persists

[2022-03-09 13:59] #229 closed

[2022-03-09 14:06] userquin commented on #219
@dgastudio it seems the sw is being served with an incorrect mime type, just check the error: do you have a frontend behind the dev server?

[2022-03-09 14:12] userquin commented on #236
@wuxiuran try using pwa plugin `base` option

[2022-03-10 07:47] kangdy opened #241 "path does not match"
How can I solve this problem, the cache path is inconsistent with the request path, causing the cache to fail

<img width="1246" alt="image" src="https://user-images.githubusercontent.com/20158466/157613065-a4ca8891-f26b-43aa-912c-6ed9e9b8a20b.png">

<img width="1553" alt="image" src="https://user-images.githubusercontent.com/20158466/157613242-453173c5-16df-4233-87f0-8749b3f4ac60.png">

[2022-03-10 08:34] kangdy commented on #241
<img width="625" alt="image" src="https://user-images.githubusercontent.com/20158466/157620862-9309b5d6-8c2b-4980-9cce-b29c89d244fd.png">

[2022-03-10 09:47] userquin commented on #241
@kangdy what're your `vite.base` and pwa plugin `scope` and `base` options?

[2022-03-10 11:57] kangdy commented on #241
<img width="264" alt="image" src="https://user-images.githubusercontent.com/20158466/157656961-c116a127-91c4-4858-975c-93c3f44878cb.png">
vite.base: '//awp-assets.sankuai.com/key/slug/'

[2022-03-10 12:10] kangdy commented on #241
My project static resources are deployed in another domain name, such as:
Static assets: assets.sankuai.com. Project access address http://wanxiang.data.st.sankuai.com/vinci/#/ or http://wanxiang.data.st.sankuai.com/udf/#/. Nginx will forward static resources, thank you.

[2022-03-10 12:21] userquin commented on #241
@kangdy try adding on plugin `base: 'http://wanxiang.data.st.sankuai.com/vinci/#/` and `scope: '/vinci/#/'`, you also need to switch to `https`, the pwa will not work using `http`

[2022-03-10 12:58] kangdy opened #242 "path does not match"
Sorry, just clicked delete by mistake. and i am using https

The service worker has been successfully registered and cached

<img width="1394" alt="image" src="https://user-images.githubusercontent.com/20158466/157666159-5bd45ecb-e1fb-4132-bbf9-61b6d95ecfd4.png">
<img width="1474" alt="image" src="https://user-images.githubusercontent.com/20158466/157666252-d5ee5dba-e72a-4f0d-a870-39d3bb1b1b61.png

[2022-03-10 13:21] kangdy commented on #241
Configured as you suggested, but still no success
<img width="1610" alt="image" src="https://user-images.githubusercontent.com/20158466/157670167-28845e65-10aa-4066-bdd2-5bdc4d1a8439.png">
<img width="1601" alt="image" src="https://user-images.githubusercontent.com/20158466/157670267-d76108cd-ba74-4161-bcee-7e14c981941f.png">
<img width="515" alt="image" src="https://user-images.githubusercontent.

[2022-03-10 15:18] userquin commented on #241
@kangdy https://vite-plugin-pwa.netlify.app/deployment/nginx.html

[2022-03-10 15:30] datWeazel opened #243 "woff/woff2 fonts in assets folder not cached"
I'm tried using fontawesome and bootstrap-icons in my PWA.
In both cases the icon fonts weren't cached and thus only displayed a black box.

`includeAssets: ['favicon.ico', (...) 'assets/*.*'],` didn't help.
Neither did setting `injectManifest.globPatterns'.

Images are cached correctly using `'img/*.*' in `includeAssets`.
If you need more information I'm happy to provide them.

[2022-03-10 15:50] userquin commented on #243
@datWeazel try this, add `fast-glob` as dev dependency:
[code]

[2022-03-10 15:53] userquin commented on #243
@datWeazel `src/assets` folder is not yet handled by this plugin, we need do some changes on the codebase, just move your fonts to the public folder and use `/` to reference them, see public directory on vitejs docs:

https://vitejs.dev/guide/assets.html#the-public-directory

[2022-03-10 17:41] datWeazel commented on #243
@userquin thanks for your reply.
The font get's moved into `dist/assets` after compile. Beforehand it's part of the node module. So it shouldn't matter that the plugin can't handle `src/assets` for now if I understood you correctly.

I'll try the fast-glob solution tomorrow, thanks for that.

[2022-03-14 03:40] deounix opened #245 "The plugin is considering sitemap.xml & /dashboard as the main website"
When activating the PWA on my website it always redirects the domain.com/sitemap.xml & domain.com/dashboard to the 404 page

I did the same configuration as you do in the react-router example.

When I do (unregister for the workbox) the URL works. then when I'm visiting my main URL (domain.com) then it always redirects me to the 404 page

Note: I already did an alias in Nginx so it isn't related t

[2022-03-14 03:49] deounix commented on #245
Is there any way in the configuration to exclude URLs from caching?
eg:

routes: ["/sitemap.xml", "/dashboard"] # these routes don't belong to u so don't listen or handle them 🤔

[2022-03-14 09:33] userquin commented on #245
@deounix check this https://github.com/antfu/vite-plugin-pwa/issues/218#issuecomment-1024580718

[2022-03-14 22:34] deounix commented on #245
@userquin Finally, it works now. Thank you.

[2022-03-14 22:51] #245 closed

[2022-03-15 06:07] Pika-Pool opened #246 "Can this be used in production?"
I want to use this plugin with a react app. I know from the versioning that it's not a stable release. But is someone using it in production right now? Is it advisable to do so, or should I shift to CRA(Create-react-app) for now?

[2022-03-15 12:23] datWeazel commented on #243
Issue was on my end. I mixed generateSW and injectManifest stuff. Sorry.

[2022-03-15 12:23] #243 closed, assigned to nobody

[2022-03-20 05:53] pcarrier opened #248 "background_color in manifest does not work"
With the following config:

[code]

While running `npx vite preview --port 3000`:
[code]

Expected `"#000000"`.

[2022-03-20 11:35] userquin commented on #248
@pcarrier why not just configure it on the plugin? you have `theme_color` configured not `background_color`.

The default value configured for `background_color`  is `#fffff`: https://github.com/antfu/vite-plugin-pwa/blob/main/src/options.ts#L93

[2022-03-20 16:40] pcarrier commented on #248
Wow don't know how I failed to see it wasn't there. Sorry about that.

[2022-03-20 16:40] #248 closed

[2022-03-21 09:44] luozhihua opened #249 "is support mpa?"
A Multiple page app has multiple html page, how ever, `vite-plugin-pwa` generate only one route for `index.html`:

[code]

Is there a way to generating multipe route for multiple pages?

- foo/index.html
- bar/index.html

[code]

[2022-03-21 10:04] userquin commented on #249
@luozhihua I have this repo for a vitesse clone using a custom sw: https://github.com/userquin/test-pwa-ts-4.5.5/blob/main/src/sw.ts, you can check the result here [optimistic-cray-38ef22.netlify.app](https://optimistic-cray-38ef22.netlify.app/)

You should also configure your serverfor serving the pages instead acting as a SPA, just check `netlify.toml` with the redirects for each route.

[2022-03-21 10:17] userquin commented on #249
@luozhihua you have some hints here: https://github.com/antfu/vitesse/issues/252#issuecomment-1046085093

[2022-03-22 15:32] cutsin commented on #236
This doesn't work inside `sw.js`, the bundle's fileName doesn't have a prefixed-path define by `base`:
[code]

[2022-03-23 21:56] Aarbel opened #250 "How to progressively upload all app modules with dynamic modules, thanks to service workers ?"
Hi all,

I use dynamically imported modules in my app.

Just after the first connexion, when the network is not used, i want my users to upload all the modules that they will need in my app to optimise loading time of later navigations.

Is there a way to do that with services workers and this lib ?

Thanks a lot !

[2022-03-24 04:40] KenEucker commented on #186
I have an issue with my vite built pwa site on netlify where every time a new deploy is published all clients have to hard refresh the site or else they get a blank screen, forever. I have to hard refresh on desktop and it requires opening and closing chrome on android several times as well to get it to load properly again. After this, the "new content has loaded" dialog pops and is confusing beca

[2022-03-24 06:27] doutatsu commented on #186
On my side - I did manage to get it working and service worker seems to be working as expected. Not sure what it was in the end - but seems to be the combination of the correct Netlify configuration and properly calling `registerSW`, but I tried a lot of things, so not sure what exactly got it working for me

[2022-03-24 06:27] #186 closed

[2022-03-24 10:41] #250 closed

[2022-03-24 10:41] userquin commented on #250
@Aarbel the pwa sw will download all assets from your app on background, the dynamic imports will be resolved from the sw precache once the sw is installed (downloaded assets and included on the `Cache Storage`):

![imagen](https://user-images.githubusercontent.com/6311119/159898937-f824ad5d-bee0-4693-8587-79c9c444a068.png)

You can go to the docs and check the network tab on dev tools, you will s

[2022-03-30 13:41] MentalGear commented on #246
What is CRA.

[2022-03-31 11:39] samuel-git commented on #180
Just a short heads up for everyone encountering this: Migrating from a DIY i18n plugin to the official one for Vue 3 along with the changes suggested by @userquin fixed the issue for me.

[2022-04-01 08:44] CaptainYouz opened #252 "Offline support not working - "Web app manifest or service worker do not meet the installability requirements""
Hi!
I recently started a pwa project using vite, vue and vite-plugin-pwa. I noticed then that my PWA didn't get offline support, so i started investigating. I didn't find anything strange, and the manifest, icons, html meta etc looked fine, but in lighthouse, under the installable section, i got this error `Web app manifest or service worker do not meet the installability requirements`

So, I crea

[2022-04-01 09:02] #252 closed

[2022-04-01 09:02] userquin commented on #252
@CaptainYouz you should import the `virtual` module and call `registerSW` on the main entry:
[code]

[2022-04-01 09:56] rationalthinker1 opened #253 "Vite PWA workbox registerRoute not working"
I have this in my `sw.ts`
[code]

and I have this as my `vite.config.ts`
[code]

Everything works as it should but these three routes are not registering in `sw.ts`
[code]

I've spend all day on this but to no avail. Any advice?

[2022-04-01 10:05] userquin commented on #253
@rationalthinker1 you should provide to `registerRoute` method the regex as first parameter: https://github.com/GoogleChrome/workbox/blob/v6/packages/workbox-routing/src/registerRoute.ts#L38

[2022-04-01 10:06] userquin commented on #253
maybe something missing on `workbox-routing`...

[2022-04-01 10:41] rationalthinker1 commented on #253
I copied that Google workbox recipes.

[2022-04-01 11:23] userquin commented on #253
@rationalthinker1 you can check this repo, the route is being registered with the strategy  https://github.com/chromeos/chromeos.dev/blob/main/site/sw.js#L165 or this another one, also using the strategy as second param https://github.com/jeffposnick/yt-playlist-notifier/blob/main/src/service-worker/sw.ts#L23

[2022-04-01 14:52] CaptainYouz commented on #252
thanks 👍🏼
by adding this and `pnpm i -D workbox-window` everything worked as expected.
Is it planned to be added to the doc?

[2022-04-01 15:00] userquin commented on #252
uhhm, what's the error? maybe we can add it to the FAQ entry, PR welcome

[2022-04-01 17:54] #246 closed

[2022-04-01 17:58] #241 closed

[2022-04-01 17:58] userquin commented on #241
@kangdy feel free to open a new issue if the problem persists

[2022-04-01 18:00] userquin commented on #207
closing this since you have an example, maybe in a future I can move my repo here

[2022-04-01 18:00] #207 closed

[2022-04-01 18:00] #208 closed

[2022-04-01 18:01] userquin commented on #184
@antfu closing this, if you want add the tags when you want

[2022-04-01 18:01] #184 closed

[2022-04-01 18:01] userquin commented on #219
@dgastudio  feel free to open a new issue if the problem persists

[2022-04-01 18:02] userquin commented on #253
@rationalthinker1 closing this since the problem is on `workbox` side, feel free to contact me if you need help

[2022-04-01 18:13] userquin commented on #133
@oliverpool closing this since there are a few resources from `Google` and `Microsoft` about pwa stuff, including your example:
- https://web.dev/progressive-web-apps/
- https://microsoft.github.io/win-student-devs/#/30DaysOfPWA/kickoff

[2022-04-01 18:13] #133 closed

[2022-04-01 18:26] jacekkarczmarczyk commented on #226
Me too, also not sure if VS Code plugin would be usable in automatic CI etc

[2022-04-02 17:39] robotpapier opened #254 "Cannot make the plugin work in conjunction with vite-plugin-ssr"
Hi,
could someone succeded in making both work?
I had to manually add the link in the html head to the manifest but the service worker is not present even tought sw.js is preset.

[2022-04-02 18:01] userquin commented on #254
@robotpapier can you provide a minimal repro?

[2022-04-04 11:06] robotpapier commented on #254
Hi,
ok I forgot add registerSW.js generated by the plugin so it can register the SW.
now it is working!

`
const documentHtml = escapeInject`<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="${logoUrl}" />
        <link rel="manifest" href="/manifest.webmanifest">
        <script src="registerSW.js"></script>
        <meta name="viewp

[2022-04-04 11:08] #254 closed

[2022-04-04 20:23] daniel-nagy opened #255 "[WKWebview] Subsequent SW Updates Not Setting `needRefresh`"
I'm not sure if the issue is in this plugin, Workbox, or WKWebview. The first time I deploy an update to my service worker `needRefresh` is `true` and I'm able to show an update notification and reload the page and the new content renders. However, If I then deploy a subsequent update `needRefresh` is never set to `true`. I can see in the Safari dev tools that the Webview does in fact download the

[2022-04-04 20:30] daniel-nagy opened #256 "No Updates if Page Begins Life Without A Service Worker"
If a page begins life without a service worker then updates to the service worker will not trigger an update notification (will not set `needRefresh`).

I see `offlineReady` which looks like it is intended for pages that begin life without a service worker. However, it would be valuable to know that the service worker was updated before the old service worker becomes active.

[2022-04-04 20:37] daniel-nagy commented on #255
I'm willing to investigate this more but I need to put this on pause at the moment.

[2022-04-04 20:40] daniel-nagy commented on #255
This is also working in Mobile Safari within the iOS simulator.

[2022-04-04 21:25] userquin commented on #256
@daniel-nagy

offline ready is true when the sw is installed and active, should be only be fired once. You can use it to hint the user the app can now work offline.

On the ither hand, need refresh is true when we have a service worker installed and active and there is a New version available and ready to be installed, only when register type option is prompt, if using autoUpdate on regiter type o

[2022-04-04 23:23] daniel-nagy commented on #256
It appears the service worker must also be controlling the page for this to be true, so if a page begins life without a service worker you must call `clients.claim()` in the service worker context. Otherwise if the service worker updates it will not set `needRefresh`.

This can be problematic for native like experiences were you expect your app to be running for a long time without the app reloadi

[2022-04-05 00:38] userquin commented on #256
Check periodic sw  updates on docs or just force reload the page on app activation.

Anyway, why are you using a pw inside a native app? The pwa should replace that native app.

[2022-04-05 01:52] uipoet opened #257 "Update for React 18"
React 18 no longer provides exports with the `.js` extension.

Temporary workaround until `vite-plugin-pwa` is fixed:

[code]

[2022-04-05 17:13] daniel-nagy commented on #236
I discovered there is an option in Workbox to prefix the asset URLs. The following plugin config will allow you to prefix the URLs with your base URL.

[code]

However, even with this configuration the service worker is still not serving pre-cached files, it's always going to the network. I can see in the dev-tools that the service worker is installed and that it is caching the assets. It just doe

[2022-04-05 19:02] userquin commented on #236
@daniel-nagy can you try just adding `base: '/foo/bar/'` on vite config?

[2022-04-05 19:26] daniel-nagy commented on #236
@userquin I tried using Vite's `base` option and just about every combination of the HTML `<base />` tag and absolute/relative asset paths. I can't seem to get it to work. I think the issue may actually be in Workbox. I couldn't find any explicit documentation in Workbox for using base URLs.

[2022-04-05 19:43] daniel-nagy commented on #236
@userquin So I deployed my code to a CDN using only Vite's `base` option to test and the service worker is serving the cached assets. So I wonder if this has something to do with Vite's `preview` command, which is how I was testing before.

[2022-04-05 19:57] userquin commented on #236
@daniel-nagy I'm checking it rn...

[2022-04-05 20:09] userquin commented on #236
@daniel-nagy it is working, it seems there is a bug on the manifest icons, not using the `base`, for example using `vitesse (vue 3)`:

![imagen](https://user-images.githubusercontent.com/6311119/161840072-e4dd836d-42fa-477b-9c9a-dcb7448bfd60.png)

Here the requests:

![imagen](https://user-images.githubusercontent.com/6311119/161839948-ec57800e-77bc-4005-8d04-cda30b395cce.png)

and the sw:

![imag

[2022-04-05 20:11] userquin commented on #236
Previous example just adding `base: '/foo/'` to the vite config file. I'll check it without ssg on a plain one example to check if working.

[2022-04-05 20:27] userquin commented on #236
I was writing this on vite build:

![imagen](https://user-images.githubusercontent.com/6311119/161843292-6b0e25b0-ae4c-4aa8-892a-a782026c9779.png)

[2022-04-05 20:42] robotpapier opened #258 "How to generate sw.js with precaching after prerendering with vite-plugin-ssr"
Hi,
I am using vite-plugin-pwa with vite-plugin-ssr
but it seems like the plugin generates the sw.js file with the precaching path before vite-plugin-ssr prerenders for production.
Resulting in my routes present in the sw.js and are not cached.

How can tel vite-plugin-pwa to generate the sw.js file after vite-plugin-ssr prerender ?

[2022-04-05 20:45] userquin commented on #236
@daniel-nagy the icons now working, maybe I had an older sw installed, so it seems workbox is ok when using base and the assets relative and the pwa is also ok.

[2022-04-05 20:57] userquin commented on #258
@robotpapier you should use `transformManifest` callback on `workbox` or `injectManifest` plugin option, add routes in that callback.

I'm not familiar with SSR Apps, I only use it on SSG: `vite-ssg` will execute twice the plugin, former on the vite lifecycle and later after `vite-ssg`  finish build.

You can also check for example the script on docs when building using `vitepress` or check the `s

[2022-04-05 21:25] userquin commented on #258
@robotpapier check this issue https://github.com/antfu/vitesse/issues/159

[2022-04-06 09:53] userquin commented on #256
@daniel-nagy ok TWA.

About the problem checking for sw update you should check the docs for the native web view, maybe the feature not yet supported (it works on browsers, maybe a native porting bug). When I have time I'll check it also on android.

[2022-04-06 10:33] robotpapier commented on #258
Thanks for the hints, I'll have look!

[2022-04-06 13:22] daniel-nagy commented on #256
@userquin Regarding pages that begin life without a service worker, I see the same behavior in both the browser and the Webview. That is, a service worker needs to be controlling the page before `needRefresh` is true on SW updates.

This is potentially something I can deal with on my end. I might be nice if this plugin had an API for this case though.

[2022-04-06 13:35] userquin commented on #256
@daniel-nagy this plugin uses `workbox-window` on the client to handle sw events, as I mention it should be a problem with the interface between the native browser impl and the webview (for example, on android we have WebView and ChromeWebView with Chrome Embedded Framework (via JNI) on the bridge between native and android web view).

If the sw is not controlling the page, then `needRefresh` shou

[2022-04-06 16:13] userquin commented on #255
@daniel-nagy maybe the `update` method is not working/implemented and that's why `needRefresh` will never be true, refreshing the page works, so it seems there is a problem with the `update` (check also the registration is not undefined on the `onRegistered` callback)

[2022-04-06 16:49] daniel-nagy commented on #255
It works the first time I update the service worker but If I deploy a 2nd service worker update it does not work. I'm wondering if `location.reload` is behaving differently in WKWebview.

[2022-04-06 16:55] userquin commented on #255
@daniel-nagy maybe, here the `window.location.reload()` calls:
- for prompt, `updateServiceWorker` logic: https://github.com/antfu/vite-plugin-pwa/blob/main/src/client/build/register.ts#L32
- for auto update: https://github.com/antfu/vite-plugin-pwa/blob/main/src/client/build/register.ts#L55

[2022-04-07 21:39] keithlayne opened #260 "`injectManifest` doesn't include enough plugins"
See #229 for an example of this - this plugin has a whitelist of allowed plugins when using `injectManifest`:

https://github.com/antfu/vite-plugin-pwa/blob/main/src/modules.ts#L41-L50

That issue needed at least `vite:asset` for it to work, possibly more.

I actually remember now debugging this about a year ago before abandoning this plugin and rolling my own to support my service worker setup. Y

[2022-04-07 21:45] keithlayne commented on #260
Update:

Replacing the whitelist thing with this simple thing works, at least for my current project - it allows me to do a successful production build.  Can't deploy yet to test but will update if there are any issues.

[code]

[2022-04-07 22:10] userquin commented on #260
@keithlayne we have a PR to add commonjs and json plugins, we need to merge and release, maybe we can include also assets before merge to main.

[2022-04-07 22:34] keithlayne commented on #260
Sorry i missed that, but any thoughts on the last paragraph? I'm going to have to carry a patch if you're going to insist on a plugin list.

Does anyone even remember why it's like this?

[2022-04-07 22:55] userquin commented on #260
@keithlayne avoid infinite recursion,  if we include a plugin that is building using vite plugin will not work, for example, in this plugin we need to exclude itself from the rollup build.

[2022-04-07 22:57] userquin commented on #260
Maybe we can review it and apply similar approach for web worker build on vite.

[2022-04-07 23:53] keithlayne commented on #260
Yeah this is the basis for my (working) one-liner above. I meant why the allow-list vs. a disallow-list, or the simple thing in my example. For my project, the plugins that aren't added my me are (via `uniq | sort`):

[code]

That's...a lot of plugins. And everyone that's not on the allowed list is vite's default feature set that this plugin is gimping, in this specific case.  The current approach

[2022-04-08 00:09] keithlayne commented on #260
Okay, you're talking about #215. Wow, that's pretty disheartening how long it's taken to get a 2-liner approved, and still not merged.

In regards to the webworker plugins: this plugin shouldn't omit them. If you use them in a service worker, you will get runtime errors. That is user error. However, the code is essentially valid JS, and should build anyway. Lots of other things with heinous runtim

[2022-04-08 00:18] userquin commented on #260
@keithlayne maybe you can make a pr, then we can check the best solution.

[2022-04-08 00:40] keithlayne commented on #260
:+1: will do

[2022-04-08 10:33] userquin commented on #260
@keithlayne we need to exclude also `vite:build-html` and `vite:html`, since them will transform the html again, we should prevent that. I have this on the original PR:
https://github.com/antfu/vite-plugin-pwa/pull/43/files#diff-6c92cdf875e851bf289c6c86c2f48382289c8aa490fc1651ce8c0f12a967dd1aR29

I'll change the PR adding some new configuration stuff and so you will be able to provide the plugin l

[2022-04-08 11:46] userquin commented on #260
@keithlayne my PR will allow you to do what you want, using the approach on your PR: just use the new option `vitePlugins` on `injectManifest` plugin option using the same filter function. And so we don't need to change the original behavior.

[2022-04-08 13:20] keithlayne commented on #260
What HTML? You're running rollup directly against `swSrc`.

[2022-04-08 13:21] userquin commented on #260
@keithlayne since your are providing the plugins to the rollup build, `vite:html` will be applied again and so will rebuild/transform the html entry point.

[2022-04-09 12:22] doutatsu commented on #238
Nice and simple solution @palmer-rm, thanks!

[2022-04-09 12:53] doutatsu commented on #238
Can you share a snippet of your code? Trying to mock it the way you did, but failing so far

[2022-04-09 12:56] userquin commented on #238
@palmer-rm if you share the snippet we can include on the docs on FAQ section

[2022-04-09 16:24] doutatsu commented on #238
I've made some progress with this, as it was the order of dependencies that messed up the mock... But with:
[code]

I am now getting this error: `TypeError: (0 , _vue.useRegisterSW) is not a function`.

Here's my call:
[code]

[2022-04-09 17:10] doutatsu commented on #238
Looking further into it - `useRegisterSW` is indeed `undefined`... only when invoked in the `setup`, but if imported normally inside the `script`, there are no issues. I have no idea why it behaves like this

[2022-04-10 13:43] daniel-nagy commented on #236
I think I figured out the issue. If you omit the trailing `/` in the URL when using Vite's base option then the assets will not be served from the service worker proxy. If you include the trailing `/` or any path then the assets are served from the proxy.

For example, if your base bath is `/foo/`, your host is `localhost`, and your port is `3000` then if you load `http://localhost:300/foo` you wi

[2022-04-10 15:18] daniel-nagy commented on #256
Alright, I've had more time to dig into this.

If a service worker is activated, and there is not currently a service worker controlling the page, then Workbox will emit the `activated` event but `event.isUpdate` will be **_falsy_**. This will end up calling [`offlineReady`](https://github.com/antfu/vite-plugin-pwa/blob/634c3b2acd8119a14382f79f0e046e2fca354c7e/src/client/build/register.ts#L57). Ef

[2022-04-10 17:06] daniel-nagy commented on #255
I'm not sure what changed on my end but WKWebview is working fine now. I see the update notification every time I deploy a SW update.

[2022-04-10 17:24] #255 closed

[2022-04-12 12:14] seriousManual opened #263 "Manifest / Service Worker in subdirectory"
I have a project with the following structure:

[code]

Vite is configured so that it uses each index.html file as input files:
[code]

This works fine, vite is generating individual bundles (and common chunks) ...
Now I'm trying to use `vite-plugin-pwa` to generate a service worker / manifest *only* for subProject1.

But the plugin always puts the manifest and serviceworker in the root ('/fronten

[2022-04-12 13:08] kangdy opened #264 "Cache succeeded but not valid"
<img width="532" alt="image" src="https://user-images.githubusercontent.com/20158466/162968577-2e569ace-101b-4f30-a4d0-c857c0a6e928.png">
<img width="1612" alt="image" src="https://user-images.githubusercontent.com/20158466/162968637-3d2ddfbe-f1b7-4db5-b434-149644ef1d98.png">
<img width="1615" alt="image" src="https://user-images.githubusercontent.com/20158466/162968743-89f13c54-d391-4245-9ec5-258

[2022-04-13 08:13] #264 closed

[2022-04-14 17:23] larsrickert opened #265 "fix: update vulnerable dependencies"
With version `0.11.13` I get 6 high severity vulnerabilities. Below is the `npm audit` report, my dependencies and system information.

- node version: 16.14.2
- npm version: 8.5.0

# npm audit report
[code]

# My dependencies

[code]

[2022-04-15 08:37] BenjaminOddou commented on #265
Hello @larsrickert, I have the exact same problem as yours. I tried the `npm audit fix --force` which installed the version 0.11.3 but I still have 5 high severity vulnerabilities. I think we will have to wait for an update.

`# npm audit report

async  <2.6.4
Severity: high
Prototype Pollution in async - https://github.com/advisories/GHSA-fwr7-v2mv-hh25
fix available via `npm audit fix --force`
W

[2022-04-15 08:50] userquin commented on #265
I'll try to fix it in the next few days

[2022-04-18 00:08] Aloento opened #266 "Failed to execute 'register' on 'ServiceWorkerContainer'"
According to your guidance with React. Then, under dev, I got:

[code]

It's working on the production.
Maybe you don't have this:
navigator.serviceWorker.register('/sw.js', { scope: '/', _**type: 'module'**_ })

[2022-04-18 15:49] userquin commented on #266
@Aloento can you provide a small repro or at lest your pwa plugin options?

[2022-04-18 16:06] userquin commented on #265
ok, checking the repo it seems we have 4 vulnerabilities, 3 high and 1 critical (I have local repo with latest versions, not main branch):
- `minimist`: only used on `sveltekit-pwa` example, `fast-glob` and `fs-extra`
- `prismjs`: on vitepress (docs package)
- `node-fetch`: I don't know who is using it, `sveltekit-example` using `3.1
- `async`: `workbox-build` dependencies, it seems we need to sen

[2022-04-18 16:10] Aloento commented on #266
[code]

[2022-04-18 16:11] Aloento commented on #266
[code]

[2022-04-18 16:15] Aloento commented on #266
Then, No Service Worker enabled under dev.

[2022-04-18 16:36] #216 closed

[2022-04-18 16:41] jetro4u commented on #266
I am having the same error when I followed the react/router example. My project uses jsx and not tsx. I got the error:
[code]
Without setting up this update functionality, I can see the custom service worker in action in production. But the issue comes up when I tried to implement the prompt for update react/router example.
In my pwa plugin option I have:
[code]

[2022-04-18 17:02] userquin commented on #266
have you added `WebWorker` to `tsconfig.json` file on `lib` entry? type module will work only on chromium based browsers (firefox will not support it)
[code]

[2022-04-18 17:14] jetro4u commented on #266
In my case I am testing with chrome. By the way I added the WebWorker in lib entry but the issue persist?

[2022-04-18 17:16] Aloento commented on #266
Me too

[2022-04-18 17:16] Aloento commented on #266
Me too

[2022-04-18 17:34] jetro4u commented on #266
@Aloento when I added type: "module" to the devOptions, I got the error:
[code]

[2022-04-18 17:36] userquin commented on #266
the dev is only for sw testing not the pwa, I mean, it is only for sw logic testing, cannot work on offline for example.

I'm preparing the new release and I'll do some tests before releasing it, bbl with the results using the react example in this repo.

[2022-04-18 17:45] userquin commented on #257
@uipoet what's the error? I'm testing with react 18 on `react-router` and it seems to work

[2022-04-18 18:27] userquin commented on #266
can you remove `node_modules/.vite` folder/directory and restart the dev server?

Testing with latest changes seems to work:

![imagen](https://user-images.githubusercontent.com/6311119/163855937-fa698fdc-adb8-465f-ae6e-4743a7deacdf.png)

[2022-04-18 19:23] userquin commented on #263
@seriousManual can you provide a minimal repro?

[2022-04-18 20:06] Aloento commented on #266
I know, I just say that browser cannot load SW. (always under the status of trying to install)
I will try your solution.

[2022-04-19 01:03] jetro4u opened #268 "Where should I place sw.js file in custom serviceWorker workbox injectManifest"
I have conflicting idea on which directory to place the sw.js file.

According to the documentation here https://vite-plugin-pwa.netlify.app/guide/inject-manifest.html#custom-service-worker under Runtime, custom service worker is supposed to be placed in public/sw.js

But in the documentation under workbox the setting below placed it in the src folder
[code]
When I placed it outside of the public

[2022-04-19 03:30] #265 closed

[2022-04-19 03:30] #266 closed

[2022-04-19 10:11] seriousManual commented on #263
Absolutely!

Here is the setup, stripped down to the absolute minimum:
https://github.com/seriousManual/vite-pwa-muilti-app

In the vite config, a couple of "sub apps" are registered:
https://github.com/seriousManual/vite-pwa-muilti-app/blob/master/vite.config.js#L18

These are setup in the frontend folder:
https://github.com/seriousManual/vite-pwa-muilti-app/tree/master/frontend

When I'm running

[2022-04-19 10:15] userquin commented on #263
@seriousManual be patient, I'm too busy at work...

[2022-04-19 16:02] BenjaminOddou commented on #265
Hello,

after the update to v0.12.0, I still have warning of vulnerabilities coming from vite-plugin-pwa according to npm. Is it normal ? Thank you very much in advance !

# npm audit report

[code]

[2022-04-19 16:27] BenMcLean commented on #265
Same here.

[2022-04-19 18:34] userquin commented on #265
@BenjaminOddou @BenMcLean file an issue on `jake`: https://github.com/mde/ejs/issues/668 once resolved we'll update dependencies.

[2022-04-19 21:36] userquin commented on #265
@BenMcLean @BenjaminOddou if you can confirm that the workaround works, maybe we can add it to the FAQ until fixed on `ejs` (and workbox deps, there is already an issue on the repo: https://github.com/GoogleChrome/workbox/issues/3061). I need to check it also using `yarn` but the workaround should also work.

[2022-04-20 06:29] BenjaminOddou commented on #265
Hello @userquin, it's working on my side ! I added the preinstall script + async line on my package.json then I ran `npm install` and it worked as expected ! thank you very much for your support !

[code]

[2022-04-20 09:18] #268 closed

[2022-04-20 12:24] userquin commented on #265
@BenjaminOddou I mean, you should check the project build script once fixed the vulnerability

[2022-04-20 12:33] pavlexander opened #269 "Postponing caching of certain pages/files until a certain event occurs"
I am developing a `vuejs3` app with `vite` and `vite-plugin-pwa` plugin. The app is login-protected. Therefore whoever opens the webpage - should not have to load all of the pages of the application right away. Only authenticated users should have all of the app components pre-cached.

By default - `vite-plugin-pwa` caches all of the pages, including the JS assets from `assets` folder, where lazy-

[2022-04-20 12:46] userquin commented on #269
@pavlexander you can exclude secured pages from the sw precache manifest (will not work on offline, but also you cannot login into the app) or you can protect the data on that pages (loading data before routing to the page and/or prevent that transition: you will need to protect on the server, no matter if the page can be fetched or not).

You can also build a custom sw with custom routing, but yo

[2022-04-20 13:07] userquin commented on #265
thx for the feedback

[2022-04-20 18:25] userquin commented on #269
@pavlexander SEO here is not involved, the sw will precache all the manifest entries on a brackground thread, it will take more time to be ready/update when the app is huge, but should not be a problem: lighthouse can be wrong including that resources on the results

For the custom sw, you can write it using TypeScript with static imports using `injectManifest` strategy on the pwa plugin configura

[2022-04-20 19:20] userquin commented on #269
The sw will prefetch all assets only once or when updated found, if you navigate once sw activated the browser will never request the page to the server, the sw will respond with the cache (stale while revalidate): only a hard refresh from the browser will reload the current server page and its assets, but the sw will never download again the sw precache, since it will be updated (of course if you

[2022-04-20 20:48] larsrickert commented on #265
Yes, indeed the vulnerabilitiesare fixed. I have 0 vulnerabilities now :)

[2022-04-20 21:18] userquin commented on #263
@seriousManual I have it working, but you need to keep in mind that all pwa stuff (all sw precache entries: pwa icons and sw) must be served from `/sub1/` path, it acts as the scope for the sw.

You can check it here https://github.com/userquin/vite-pwa-muilti-app:
- check scripts folder, contains the pwa configuration and the script to run after build
- the build script also copy the pwa icons an

[2022-04-20 21:28] userquin commented on #256
PR welcome

[2022-04-20 21:28] #256 closed

[2022-04-20 21:29] userquin commented on #256
About this, file it on a separate issue, thx

[2022-04-20 21:30] #263 closed

[2022-04-21 01:17] BenMcLean commented on #265
Works for me too now, just from `npm update`

[2022-04-21 07:07] BenjaminOddou commented on #265
@userquin it worked for me as well ! thank you for the update ! =)

[2022-04-21 07:43] seriousManual commented on #263
Hey @userquin ,
thanks a lot for looking into this, amazing work!

It seems like these are a lot of hoops to jump through 🤔

One issue I have:
in the other sub apps (sub2 and sub3) the webmanifest from sub1 is now referenced:
![image](https://user-images.githubusercontent.com/1330022/164404740-f89a6211-a28f-4c05-ae8c-3c5eb904278a.png)

[2022-04-21 09:07] pavlexander commented on #269
Great example! It really is loading resources on the background! I thought it's all done on initial page load synchronously. In this case SEO should not be a concern. A bunch of unnecessary files downloaded? Maybe. I will have to do the re-prioritization :)

It was not my intend to exlude the `index.html`. I used it to check if the `globPatterns` tag is working at all or not. Seems like not. Could

[2022-04-21 09:18] userquin commented on #263
I need to review the code, since on offline will not work, the sub1 asset is one level up and will not be included on the sw precache.

[2022-04-21 09:25] userquin commented on #269
Then you can exclude all from globIgnored option on worbox, but keep also the deny list option.

[2022-04-21 09:27] userquin commented on #269
Upps, you have it configured, it should be a glob expresión. If not working you can use transformManifest callback removing the entries yourself, check the sveltekit example in this repo

[2022-04-21 10:00] Fleeck opened #271 "Unable to parse HTML; URI malformed with Python injection"
Hi, we generate manifest based on user id in runtime. But the plugin won't run the build, giving me the error above. Any solution to this?

Code in `index.html`
` <link
      rel="manifest"
      href="{% url 'wb_manifest_json' token_id=token_id %}"
      crossorigin="use-credentials"
    />`

[2022-04-21 10:07] userquin commented on #271
@Fleeck can you provide the full error?

[2022-04-21 10:08] Fleeck commented on #271
Sure @userquin
<img width="1293" alt="image" src="https://user-images.githubusercontent.com/12518334/164432493-900552ac-a13d-41d3-8e8a-fe5f155f2ae8.png">

[2022-04-21 10:10] userquin commented on #271
from the stacktrace it seems the problem is on vite, not in the plugin, maybe you may ask on vite discord server

[2022-04-21 10:14] seriousManual commented on #263
Hi Joaquín,
please do not sink too much time and effort into this!
It looks like the plugin is not meant to be used in this way, it seems a lot of additional work is neccessary and I don't want to burden you with this edge case.

[2022-04-21 10:14] seriousManual commented on #263
Thanks für your work!

[2022-04-21 10:19] userquin commented on #226
@jacekkarczmarczyk can you take a look at this one [PWA Asset Generator](https://github.com/onderceylan/pwa-asset-generator)](https://github.com/onderceylan/pwa-asset-generator) ? You can also generate splash for installed PWA.

I'll take a look to try to integrate here, including also pwa icons injection on html (the library allow us to use it also as a module).

FYI: https://web.dev/learn/pwa/en

[2022-04-21 10:25] Fleeck commented on #271
You are correct. If I comment out the plugin it throws via `[vite:build-html]`

[2022-04-21 10:25] #271 closed

[2022-04-21 10:37] jacekkarczmarczyk commented on #226
Will do, thanks. This link from Google looks cool too!

[2022-04-21 10:46] userquin commented on #226
FYI: The link to Learn PWA is also included on Getting Started entry on docs: https://vite-plugin-pwa.netlify.app/guide/

[2022-04-21 16:20] uipoet commented on #257
You opt-in to React 18 by rendering with `createRoot`, imported from `react-dom/client`.

There were several releases to various dependencies since I opened this issue. I'll update and try rerunning without the above workaround to see if the issue persists.

[2022-04-21 16:26] uipoet commented on #257
Confirmed the workaround is no longer needed. Apologies if this was an upstream issue and not a bug with `vite-plugin-pwa` itself.

[2022-04-21 16:26] #257 closed

[2022-04-23 19:36] SudhanshuBhagwat opened #272 "Needed help with configuring React app with vite-plugin-pwa"
I have been trying to setup a bare react project without the 2 service worker files mentioned in the guide but haven't been able to do so.
Either the service worker is not correctly generated or the manifest isn't generated at all.
I even tried the react router example, but that doesn't generate the manifest file either.

The following is the link to my working branch: https://github.com/Sudhanshu

[2022-04-23 19:55] userquin commented on #272
@SudhanshuBhagwat try removing inject register option from the plugin and the link for the manifest on index.htnl

[2022-04-23 19:57] userquin commented on #272
Since you are using inject manifest strategy the workbox option on the plugin option will be ignored.

The included assets option is wrong, you should declaee each asset or use some glob dep to list them, such as fast-glob: you can also use the globPattern using injectManifest option on plugin configuration

[2022-04-27 15:21] Fleeck opened #275 "Ignore manifest creation"
Hi, I generate `manifest.json` dynamically hence I don't need it in the build. Is there an option to ignore it? Thanks.

A snippet of manifest generation for understanding:
[code]

[2022-04-27 16:00] userquin commented on #275
@Fleeck just configure `manifest: false`

[2022-04-27 16:02] Fleeck commented on #275
Thanks, it works!

[2022-04-27 16:02] #275 closed

[2022-04-30 17:53] pavlexander commented on #269
I ended up configuring my own script to transform the sw.js file with pure workbox solution, no addons. This way I get a better control of what's happening.

[2022-04-30 17:53] #269 closed

[2022-05-05 06:44] kasperstorgaard opened #276 "Unable to use latest version with Astro"
_somewhat related to #199_

# Unable to use latest version with Astro

When using the latest version with astro starter templates, I get the following error:

[code]

This leads back to this line
https://github.com/antfu/vite-plugin-pwa/blob/c0f92a7de068780c1183215c97d9966db95b1264/src/index.ts#L85-L87

## Steps to reproduce
1. create astro solution by running `npm init astro -- --template with-vi

[2022-05-09 01:31] Youdaman opened #277 "Cannot find module 'virtual:pwa-register' or its corresponding type declarations."
Following the instructions here: https://vite-plugin-pwa.netlify.app/guide/auto-update.html#runtime

[code]

Repro: start fresh Vite Vue TypeScript app, install the Vite PWA plugin, and use the following vite.config.ts and main.ts

vite.config.ts
[code]

main.ts
[code]

I read similar issues like https://github.com/antfu/vite-plugin-pwa/issues/40 and https://github.com/antfu/vite-plugin-pwa/issues

[2022-05-09 01:46] Youdaman commented on #277
I notice that with [Vitesse](https://github.com/antfu/vitesse) the tsconfig.json does not have an explicit `include` but instead just uses `exclude` https://github.com/antfu/vitesse/blob/main/tsconfig.json and it does not have any issues with import of virtual:pwa-register https://github.com/antfu/vitesse/blob/main/src/modules/pwa.ts

[2022-05-09 22:15] userquin commented on #236
@daniel-nagy can you test with latest version of vite (2.9.8)?

[2022-05-09 23:32] dodu2014 opened #278 "An error occurred while building"
<img width="645" alt="image" src="https://user-images.githubusercontent.com/15245544/167514764-b4716e03-7c98-477c-ac17-bd2a996988f8.png">

"vite-plugin-pwa": "^0.12.0"

[2022-05-10 03:51] hamedg68 opened #279 "install prompt"
hi. how can i customize install prompt?

[2022-05-10 09:33] userquin commented on #277
https://vite-plugin-pwa.netlify.app/guide/faq.html

[2022-05-10 09:33] userquin commented on #278
Can you provide a repro?

[2022-05-10 09:34] userquin commented on #279
You can check the examples entry on docs and the examples folder here

[2022-05-10 16:25] jlabresh1 commented on #218
This was very helpful, thank you

[2022-05-10 19:22] hamedg68 commented on #279
shoud I use window.addEventListener('beforeinstallprompt', (e) => {    }) for having install propmt modal?

[2022-05-11 00:28] dodu2014 commented on #278
https://gitee.com/dodu/tdstarterdemo.git

newly initialized this project, thank you.

[2022-05-11 01:12] RonLeeLi opened #280 "[vite] Internal server error: Failed to resolve import "virtual:pwa-register" from "src/appinit/main.ts". Does the file exist?"
[vite] Internal server error: Failed to resolve import "virtual:pwa-register" from "src/appinit/main.ts". Does the file exist?

VUE3

[2022-05-11 01:50] #280 closed

[2022-05-11 08:49] userquin commented on #278
Check the faq entry on docs to configure the pwa client types and move pwa plugin to dev dependencies

[2022-05-12 00:41] ZYinMD opened #281 "feature suggest: out of the box support for unregister"
A dangerous scenario that may happen to some developers:

**Deploy PWA in production -> decide they don't need a PWA -> remove the plugin -> deploy again**

Result: old users will be served by old sw and old precache, and never receive updates again.

**Proposal**: add an unregister function:

Proposed signature 1:
[code]
Proposed signature 2:
[code]

[2022-05-13 01:05] mysilkworld opened #282 "onRegistered callback is called promt again after reload in safary"
Hi, i have a problem. onRegistered callback is called promt again after reload, only in ios safary. Then the promt is displayed every minute.

vite.config.js
`
import { defineConfig } from 'vite'
import vue from '@vitejs/plugin-vue'
import { VitePWA } from 'vite-plugin-pwa'

export default defineConfig({
  plugins: [
    vue(),
    VitePWA({
      workbox: {
        sourcemap: true,
        cleanu

[2022-05-13 08:04] userquin commented on #282
It is always being called since we are registering it on page load, try removibg the await and the window reload below it.

Also increase the time, check all warnings about workbox window and heuristic algorithm.

[2022-05-13 10:26] mysilkworld commented on #282
It did't help. Every time the page is loaded, a promt is displayed. Even if there were no updates, but it works well in chrome.

[2022-05-13 11:10] userquin commented on #282
@mysilkworld can you just try it removing the interval? try on private window, removing previous sw, you've how to do it here: https://vite-plugin-pwa.netlify.app/examples/#how-to-run-example-projects

![imagen](https://user-images.githubusercontent.com/6311119/168271451-8e0fc9b8-79af-4b35-af64-63045e13dbc5.png)

[2022-05-13 11:25] mysilkworld commented on #282
https://user-images.githubusercontent.com/25644045/168272532-a976d729-70cf-404e-a0fd-6e422f49c2e5.mp4

I tried different settings and different times for the interval and always the same result.

[2022-05-13 11:26] userquin commented on #282
are you awaiting 1 minute between changes?

[2022-05-13 11:26] userquin commented on #282
check this entry on docs: https://vite-plugin-pwa.netlify.app/guide/periodic-sw-updates.html

[2022-05-13 11:31] mysilkworld commented on #282
in this example 5 minutes

[2022-05-13 11:38] mysilkworld commented on #282
Checked, but I don't register new service workers. Every 5 minutes I have to reload the page twice.

[2022-05-13 11:43] mysilkworld commented on #282
My code now

[code]

[2022-05-13 11:54] userquin commented on #282
maybe it is a problem on Safari with the `update` impl.

is it working without the `update` logic? I mean, making a change on the codebase and refreshing the page...

[2022-05-13 12:00] userquin commented on #282
about the time is about changing the codebase not the interval, read the docs again, the gray box warning: you must await at least 1 minute between changes on your codebase (and build your app)

[2022-05-13 12:02] mysilkworld commented on #282
Yes, it is working without the `update` logic.

[2022-05-13 12:03] mysilkworld commented on #282
Yes, it is, I definitely wait longer than one minute

[2022-05-13 15:57] userquin commented on #282
unfortunately I don't have my mac at hand, so I can't test what's going on (a nephew has it), maybe you can debug the `workbox-window` library to check if it is a problem with the `update` impl or something wrong with `workbox-window`

[2022-05-13 16:12] mysilkworld commented on #282
I don't have mac too, now. But will try to take it from a friend. I'll keep you informed

[2022-05-14 07:36] code2933 commented on #158
You could try to add `compilerOptions.skipDefaultLibCheck = true` in tsconfig file

[2022-05-18 02:21] #277 closed

[2022-05-18 16:53] ChristopherJohnson25 commented on #195
Is this confirmed to have worked for Nuxt3? I only need` registerSW() `on nuxt3, any tips?

[2022-05-18 16:56] userquin commented on #195
@ChristopherJohnson25 check this entry and linked issues there on nuxt3 repo: https://github.com/ctwhome/top-nuxt3/issues/3

[2022-05-20 13:23] userquin commented on #272
closing this, feel free to open a new issue

[2022-05-20 13:23] #272 closed

[2022-05-21 08:15] hamedg68 opened #283 "the minimum configuration"
can anyone help me to set the minimum and necessary information for the plugin to work correctly?(for example install banner)

[2022-05-21 08:57] userquin commented on #283
@hamedg68 check the examples folder, add the `ReloadPrompt` (I don't know what framework you're using), you should remove all the `process.env` entries, for example if using vue (read this entry to register the client types: https://vite-plugin-pwa.netlify.app/guide/faq.html#ide-errors-cannot-find-module-ts2307), and add it on the main entry (in the example should be added to your App.vue, if usin

[2022-05-22 18:59] userquin commented on #276
@kasperstorgaard check this https://github.com/withastro/rfcs/discussions/198#discussioncomment-2800143

I have it working with 2 routes, I need to finish the docs and the mapping from the hook.

You will be able to use built-in support, just import the hook and configure it, on previous comment I add it manually for testing.

[2022-05-22 23:58] vdemcak opened #288 "Minimal setup for React"
Hello,
I'm having some issues with understanding the documentation and the examples provided.

Could someone help me to get the most barebones version up and running? I tried checking out the examples, but they don't help much.

For example, why are there around 19 scripts? What do they do and are they needed or can I just use vite commands?  Why do all the examples include routers? Is rollup repl

[2022-05-24 16:57] troncoso opened #289 "No server worker created?"
I followed the docs [here](https://vite-plugin-pwa.netlify.app/guide/generate.html) to setup this plugin. It looks like everything worked except no service worker is actually generated. Looking in the /dist folder, there are no seemingly related files and in the browser console I see "No matching service worker detecte".

What more do I need to do to create the service worker? Here's my `vite.conf

[2022-05-24 16:58] troncoso commented on #289
Also note that I'm testing this by following the doc instructions [here](https://vite-plugin-pwa.netlify.app/guide/testing.html)

[2022-05-24 18:21] userquin commented on #289
it is zero config, not zero development: the plugin will configure a lot of (workbox) defaults for you, but you need to instruct the plugin how to load the sw

it is not about react, it is just another fw: before deploying the app you must fix the behavior you want for your sw, changing the behavior once deployed can be a pain: if only for local testing you can check the guide to uninstall the sw

[2022-05-24 18:35] troncoso commented on #289
Thanks for the information. Sorry, I did read the docs, but the "getting started" doesn't specify any of this as bare minimum to get everything working like it's suppose to. Even in the [Generate Service Worker](https://vite-plugin-pwa.netlify.app/guide/generate.html), all it talks about is setting up the manifest properties.

[2022-05-24 18:41] userquin commented on #288
@vdemcak check https://github.com/antfu/vite-plugin-pwa/issues/289

[2022-05-26 09:49] fonsp commented on #158
🎉 You can do `tsc --skipDefaultLibCheck` instead of `tsc` to skip checking the `lib.dom.d.ts` and `lib.webworker.d.ts` files.

[2022-05-30 05:47] zpovsic opened #293 "No manifest file"
In svektekit example there is not generated manifest.webmanifest

error:

Generating PWA...

PWA v0.12.0
mode      generateSW
precache  1 entries (0.00 KiB)
files generated
  .svelte-kit\output\client\sw.js
  .svelte-kit\output\client\workbox-0b852b48.js
warnings
  One of the glob patterns doesn't match any files. Please remove or fix the following: {
  "globDirectory": "./build/",
  "globPattern"

[2022-05-30 17:00] mashpie commented on #218
yes, very helpful!

@userquin may I propose to add a section to docs, like "How to connect pwa to your backend api". I'd guess this is a very common use case for a lot of us, that didn't study workbox docs.

I don't remember any situation where I had to configure `denylist` in vue2 projects using `@vue/cli-plugin-pwa`. So actually, with that background, the implicit fallback to /index.html was new

[2022-05-30 17:33] userquin commented on #218
@mashpie  PR welcome

[2022-05-30 17:53] mashpie commented on #218
@userquin I'd like to, but I am afraid, that my knowledge of assumptions and internals of vite-plugin-pwa is far too limited.

Still playing with `runtimeCaching` options, which I can't get to work the way I understand docs (https://developer.chrome.com/docs/workbox/modules/workbox-strategies/ & https://vite-plugin-pwa.netlify.app/workbox/generate-sw.html#background-sync)

[code]

but this never h

[2022-06-01 08:55] CXZ7720 opened #294 "Build Failed at yarn berry with pnp mode."
Hi. I have a problem with build in Yarn berry with pnp environment.
Here's my Build Environment.

Here's my console error with pnp environment.
![image](https://user-images.githubusercontent.com/29659112/171363718-27546832-8d9a-447f-915b-acb73e21ca6f.png)

By the way, I can successfully build at yarn classic(1.23.x) and yarn berry with node-modules linker.

* yarn berry with node-modules linker.
!

[2022-06-01 09:03] userquin commented on #294
@CXZ7720 try adding `workbox-window` as dev dependency

[2022-06-01 09:19] userquin commented on #293
@zpovsic are you using the same code with the `@sveltejs/adapter-static` adapter? Maybe a new version of SvelteKit changing the output layout? Check the build folder and adjust the paths on `pwa.js` module

[2022-06-01 10:15] userquin commented on #294
@CXZ7720 can you disable the vite compress plugin to check if the problem is using also that plugin?

[2022-06-01 10:21] userquin commented on #294
@CXZ7720 can you provide the vite config file?

[2022-06-01 10:28] CXZ7720 commented on #294
@userquin Here's my `vite.config.ts`

[code]

[2022-06-01 11:02] userquin commented on #294
upps, sorry, I don't check that module is inside a zip... (maybe it is just a name, it is a zip file on your file system?)

[2022-06-01 11:08] CXZ7720 commented on #294
@userquin Yes It is zip file. I can't edit the file.
![image](https://user-images.githubusercontent.com/29659112/171390751-d3ffcdd8-e3ea-4ac8-8dc9-99b9a4824097.png)

[2022-06-01 19:32] ZYinMD opened #296 "How to listen for the "controlling" event in the main window"
I found some example code from the official doc [here](https://developer.chrome.com/docs/workbox/handling-service-worker-updates/#the-code-to-put-in-your-page) about listening for the "controlling" event in the main window, it's something like this:
[code]
How can I listen for this event in a vite-plugin-pwa app? I'm using injectManifest. Thanks!

[2022-06-01 23:04] ZYinMD commented on #296
I was looking for a way to know when sw is ready to intercept web requests. I created [a question on stackoverlow](https://stackoverflow.com/questions/72468047/which-service-worker-event-indicates-it-is-ready-to-and-will-intercept-web-tra). Maybe you could give some advices? Either in here or over there. Thanks!

[2022-06-05 03:36] darklight9811 opened #297 "Inject manifest.json on development"
Currently devOptions.enabled only adds a service worker to the development app, add an option to also include the manifest data (manifest.json) would be cool for debugging.

[2022-06-05 14:01] userquin commented on #297
@darklight9811 tested on local, PR in a few minutes:

![imagen](https://user-images.githubusercontent.com/6311119/172054345-8be1d310-3a73-40df-9517-acfefe5e7ee9.png)

[2022-06-05 20:57] LeaderbotX400 opened #299 "No manifest file being generated"
everything runs as expected but the site.webmanifest file is empty, there is no error that I can find either

[2022-06-05 22:36] #297 closed

[2022-06-05 23:28] #299 closed

[2022-06-05 23:29] LeaderbotX400 commented on #299
found out the problem was that it was not built but was just in dev env

[2022-06-08 02:47] ZYinMD opened #302 "Is there a way to use sw without using precache?"
(I'm using injectManifest)

In my app, I need to use sw to intercept and modify traffic, but I don't need precaching (in fact, precaching leads to various troubles in my case).

So, I removed `precacheAndRoute(self.__WB_MANIFEST)` from my sw source code, then I got this error when building:
[code]
Is there a way to use workbox routing strategies without using precache? Thanks!

[2022-06-08 08:16] userquin commented on #302
You only need the injection point, just assign it to a const variable, dont use it and you are done.

About usage of workbox you shoukd ask on workbox repo, just check the links on the docs there are some examples on their docs website

[2022-06-08 08:22] userquin commented on #302
https://web.dev/learn/pwa/serving/

[2022-06-08 16:48] ZYinMD commented on #302
Hi @userquin, thanks, I'm confused about the "just assign _it_ to a const variable and dont use _it_" that you said. In which file do I do that, and who is _it_?

I assume I'll still use the same setup of the `VitePWA` plugin in vite config? And I assume I'll still use the same `registerSW()` from `virtual:pwa-register`?

I tried to put `self.__WB_MANIFEST = []` or `precacheAndRoute([])` in my sw

[2022-06-08 19:37] userquin commented on #302
[code]
The `registerSW` must be imported/used on your main `jsx/js/ts/tsx`.

The error you get comes from `workbox-build` since there is no `self.__WB_MANIFEST` (the injection point): you remove the entire line and you should have it.

Maybe in a future we can just building the custom service worker without using `workbox-build::injectRegister` function.

[2022-06-08 21:54] ZYinMD commented on #302
Hi @userquin, thanks, not sure if I understood you correctly, but if I leave everything unchanged, and only make the one-line change you suggested, it won't compile:
[code]
into ↓
[code]

Searching "wbManifest" in this repo doesn't yield any match. Did you mean another spelling?

[2022-06-08 22:49] userquin commented on #302
@ZYinMD check this repo, it is building a custom sw for serving dynamic pages: the sw is here https://github.com/userquin/test-pwa-ts-4.5.5/blob/main/src/sw.ts

[2022-06-08 23:27] ZYinMD commented on #302
Hi @userquin, thanks, I thought we were talking about how to use sw without using precache? But the `sw.ts` you linked does contain `precacheAndRoute(self.__WB_MANIFEST)`.

[2022-06-08 23:33] userquin commented on #302
@ZYinMD my sw is using the `const wbManifest = self.__WB_MANIFEST;`, if you call `registerRoute(myRoute);` without calling `precacheAndRoute` will throw an error on runtime not in build time, just read the comments on my custom sw.

[2022-06-08 23:37] userquin commented on #302
@ZYinMD you should ask on workbox repo instead here

[2022-06-09 00:07] ZYinMD commented on #302
Thanks, after some reading, I've come to the conclusion that both `generateSW` and `injectManifest` are designed to handle precache. If I don't need precache, I should just use a bundler to compile my sw.ts, then register it manually with `navigator.serviceWorker.register("sw.js")`. I'll probably just use esbuild to do that as part of my build process, and remove vite-plugin-pwa.

[2022-06-09 00:27] #302 closed

[2022-06-10 10:44] web-97 commented on #281
Very useful features

[2022-06-10 13:36] aimergenge opened #305 "sw response html for image request"
Follow steps:
1. visit link: https://a1mer.netlify.app/
2. open a new tab and visit the background image: https://a1mer.netlify.app/assets/banner.3f1ad366.png
3. it will fail and see the fallback route

What is expected:
The png image should be responsed from cache

What happened:
sw return a html document for the image request

repo: https://github.com/aimergenge/blog

[2022-06-10 23:21] aimergenge commented on #305
Thank you @userquin
But isn't this a bug?
Even the image isn't in cache, sw should just pass it to server instead of response the fallback html.

[2022-06-11 08:44] userquin commented on #305
It is not a but, the sw will intercept all request since you are confuguring offline support with navigation fallback, you can add for example denylist on workbox entry adding all png files and all png will be requested to the server, but then on offline those png will fail.

[2022-06-11 08:45] userquin commented on #305
You must check your server, maybe you are serving that files wrong

[2022-06-11 08:48] userquin commented on #305
@aimergenge I Will review your repo later, it is weird and maybe you are right...

[2022-06-11 13:46] mastercoms opened #307 "Preload response"
I get this error in console and in network, I see that a Preload request was canceled to my app shell page.

[code]

What sort of thing is this caused by?

[2022-06-11 16:10] userquin commented on #307
@mastercoms you should ask/check these questions on workbox repo: https://github.com/GoogleChrome/workbox/issues/2178

[2022-06-11 17:03] mastercoms commented on #307
I mean, is there any config this is related to? globPatterns? manifest entries?

[2022-06-11 17:19] mastercoms commented on #307
I'm not using a custom sw.js, just the one generated by this plugin, which is why I ask.

[2022-06-11 17:53] userquin commented on #307
@mastercoms I need some repro or your pwa plugin configuration: it seems you've a navigation preload and maybe blacklist entry configured

You can try to add sourcemap, don't minify the build then take a look the sw generated by workbox, check the linked issue if it is the same problem, it can be a bug on workbox

[2022-06-11 23:00] aimergenge commented on #305
@userquin I try to access the same image through force reload(which means ignore service worker totally), the response from server is correct.

[2022-06-13 23:07] nstringham opened #308 "does not work with imported wasm"
when I import a wasm file it does not get added to the service worker

here is a minimum to reproduce example: https://github.com/nstringham/vite-pwa-wasm-min-to-reproduce

[2022-06-14 09:54] userquin commented on #308
@nstringham add `workbox` entry on `pwa plugin options` with this option `globPatterns: ['**/*.{js,html,wasm}']`:
[code]

[2022-06-14 22:33] nstringham commented on #308
thanks that worked

[2022-06-15 08:46] #308 closed

[2022-06-16 04:16] kangdy opened #309 "Can generateSW strategy cache static resources on cdn"

[2022-06-16 08:04] #309 closed

[2022-06-17 23:19] mastercoms commented on #307
https://github.com/mastercomfig/comfig-app/blob/develop/astro.config.mjs

[2022-06-18 04:27] saeed-asghari commented on #38
change tsconfig to :
"compilerOptions": {
    "baseUrl": ".",
    "paths": {
      "@/*": [
        "./src/*"
      ]
    },
    "types": [
      "vite-plugin-pwa/client"
    ]
  }

[2022-06-18 07:07] userquin commented on #307
@mastercoms this is a copy of my PR on astro (I need to change a few things)?

Anyway, the problem can be related to https://github.com/antfu/vite-plugin-pwa/pull/306, since the workbox `generatedSW` call doesn't include the claims stuff, check this entry on `îles` to solve it:
https://github.com/ElMassimo/iles/blob/main/packages/pwa/src/pwa.ts#L37

[2022-06-20 08:39] proohit opened #310 "Exclude paths from pwa"
First of all thanks for this wonderful library!

Is it possible to exclude specific paths from pwa?

Suppose we have a backend serving our pwa but also some other web app (I.e. api docs). The pwa is served at root and web app at /api/docs. Now for the pwa, it is always configured at root, including sub paths. When accessing /api/docs, it gets first handled by pwa. It is working without pwa. Is it

[2022-06-20 09:00] userquin commented on #310
@proohit https://github.com/antfu/vite-plugin-pwa/issues/218#issuecomment-1024580718

read the issue for context

[2022-06-20 09:16] #310 closed

[2022-06-20 09:56] userquin commented on #218
@mashpie sorry for late response, you should include the method, if still not working file an issue on workbox repo, this plugin is just a wrapper fro workbox

[2022-06-23 21:12] danykina commented on #294
Hi @CXZ7720 , I had the same problem and I just solved it by updating nodejs to the latest LTS available, `16.15.1`.
Hope it can help you too!

My current configuration is:
[code]

[2022-06-24 13:31] tobiasfeil opened #312 "Have to add "web app capable" tags manually"
I've just tried setting up a plain project:
[code]
after which I followed the steps described [here](https://vite-plugin-pwa.netlify.app/guide/#setup) and [here](https://vite-plugin-pwa.netlify.app/guide/generate.html#generate-service-worker)

Now if I start the app locally, serve it over the network, open it on my phone in Chrome, add it to my homescreen and then open the app I added to the home

[2022-06-24 13:40] userquin commented on #312
@tobiasfeil are you serving your app on local using https? can you check if the docs of this repo is showing the install button on the address bar (without the entries you added to the entry point)?

The install button is the first on the right side in the address bar:
![imagen](https://user-images.githubusercontent.com/6311119/175547600-8c5190a1-b90a-4050-9de5-dca596fccde9.png)

[2022-06-24 13:45] userquin commented on #312
on Android
![Screenshot_20220624-154340_Chrome](https://user-images.githubusercontent.com/6311119/175548671-cd6d602b-0518-4731-822d-affe7823aeb6.jpg)

[2022-06-24 13:52] userquin commented on #312
@tobiasfeil if only works adding those entries, I can add them to the docs to support macos/ios.

[2022-06-25 04:51] Juliapp opened #313 "Images from assets is not loading in production env"
I'm having some issues to make the assets (.svg, .png, .jpeg) work. In local environment it doesn't seems to have any problem but in the vercel machine everything breaks down

Even tho the request returns 200
![image](https://user-images.githubusercontent.com/34479004/175758498-d9d2a99d-1549-428f-81d6-469bd7fb03c7.png)
![image](https://user-images.githubusercontent.com/34479004/175758372-dcd3fc4a-

[2022-06-25 08:16] userquin commented on #313
@Juliapp can you provide a screenshot of the dist folder once you run the build script (remove the assets folder from `includeAssets` array)?

[2022-06-25 11:25] tobiasfeil commented on #312
@userquin thank you so much for the quick answer. I've tried all your suggestions, dug through the examples and done much trial and error for about 3 hours now and I've found the answer: **It doesn't work when I run it with `npm run dev`, only if I build first and then serve e. g. with the `serve` command.** I think it would be helpful to include this somewhere in the docs since it cost me quite s

[2022-06-25 11:25] #312 closed

[2022-06-25 12:06] Juliapp commented on #313
after removing include assets
![image](https://user-images.githubusercontent.com/34479004/175772777-ac8f029d-44f4-4c6b-a0b5-a35d9f919099.png)

[2022-06-25 12:16] Juliapp commented on #313
As the description I reported before:
![image](https://user-images.githubusercontent.com/34479004/175773094-e1ecc197-8228-4c0c-bc85-3f1ca1692a45.png)

after remove include assets array:
![image](https://user-images.githubusercontent.com/34479004/175772936-664a87a7-dd72-43b7-b989-aee7adecd3b4.png)

[2022-06-25 12:20] userquin commented on #313
@Juliapp it seems your assets folder is not inside `src`, `Vite` expects to be there; or maybe you're not using the resources inside the assets folder, and so `Vite` will not use them.

If the assets folder is under src, just try to move the resources inside it to the `public` folder (should be under project root), `Vite` will just copy all entries inside `public` folder to the `dist` folder (no m

[2022-06-25 12:43] Juliapp commented on #313
It works. Somehow vercel was already linking the images even without the public so I wasn't imagining
Thank you so much

[2022-06-25 12:53] userquin commented on #313
@Juliapp so, this issue can be closed?

[2022-06-25 17:01] #313 closed

[2022-06-26 11:32] amxmln commented on #297
I’m glad this was merged, but I was very confused by the fact that the docs already mention:

when version 0.12.1 isn’t released yet. I was just about to file a new issue that this isn’t working, because I thought it was already released. Is there an ETA for the next release? If not, maybe the docs should be updated to not include the above statement  until the new version is released.

[2022-06-28 16:20] userquin commented on #312
@tobiasfeil you shouldn't use that meta tags, check the warning here: https://web.dev/learn/pwa/web-app-manifest/#designing-your-pwa-experience

You can use the `devOptions` with the latest version `0.12.0`, a minimal version installing the pwa on dev (only the entry point will be registered in the sw precache manifest), but the `manifest` will not be generated, we've a PR ready for next patch rel

[2022-06-29 08:06] tfranzel opened #314 "injectRegister"
So first of all this is an awesome library! However, getting it set up has been quite painful for 3 reasons.

1. Assuming `vite serve` will work with most recent release (#297), which it does not as the feature is unreleased. A dot release might be warranted. The next points are based on `build`, as I tried getting this to work.

2. I believe I encountered a bug with [injectRegister](https://githu

[2022-06-29 09:06] tfranzel commented on #314
yes, that would have solved the problem for me probably. thanks

I did understand this after searching for quite a while. I'm just saying this info should be provided [here](https://vite-plugin-pwa.netlify.app/frameworks/vue.html#vue-3) and [here](https://vite-plugin-pwa.netlify.app/guide/). Or at least link that FAQ entry at those places. New users will waste time here unnecessarily.

So all of m

[2022-06-29 09:18] userquin commented on #314
@tfranzel we have also included the search for Algolia (not working on the preview, we need to fix it), this should help: it is difficult to structure the documents, we cannot have all the suggestions for each specific case in a single sentence/page

[2022-06-29 09:27] tfranzel commented on #314
I know from experience that writing good doc is hard and always a trade-off.

I just think this might be something that blindsights most (non-advanced) typescript users and is fundamental enough to be at least mentioned in "getting started".

[2022-06-30 08:41] userquin commented on #117
included with the new `VitePress`

[2022-06-30 08:41] #117 closed

[2022-06-30 11:57] userquin commented on #279
@hamedg68 I don't use it, but you can, beware, not all browsers support it: https://web.dev/learn/pwa/installation-prompt (check the caution here https://web.dev/learn/pwa/installation-prompt/#the-beforeinstallprompt-event)

[2022-06-30 11:57] #279 closed

[2022-06-30 11:58] #283 closed

[2022-06-30 13:52] MikeGulik opened #317 "Svelte Service worker never registers."
Trying to follow the docs included, workbox instructions, workbox cli, and a handful of online blogs; it seems that the default service worker never installs.

[Workbox CLI](https://developer.chrome.com/docs/workbox/modules/workbox-cli/)
[Blog1](https://blog.unixfy.net/offline-first-pwa-with-svelte-vite/)
[Blog2](https://blog.unixfy.net/offline-first-pwa-with-svelte-vite/)

vite config
![](https:/

[2022-06-30 14:02] userquin commented on #317
@MikeGulik the `vite-plugin-pwa` is not configured in your Vite config file

[2022-06-30 14:09] userquin commented on #317
update the repo

[2022-06-30 14:52] userquin commented on #317
You don't need to use the virtual module, just configure `registerType: 'autoUpdate'` and `injectRegister: 'inline'` and you're done, check my fork of your repo here https://github.com/userquin/vite-pwa-plugin-317:
[code]

If you want to use the virtual, just remove previous injectRegister: 'inline'` option and configure this on the main module or `App.svelte`:
[code]

![imagen](https://user-image

[2022-06-30 14:54] userquin commented on #317
upps, wrong button

[2022-06-30 15:19] MikeGulik commented on #317
@userquin How is this working for you, and not for me?

I pulled your changes, remove node-modules, built and ran using pnpm. No service worker. Removed inline, uncommented registerSW and import, still no service worker showing up.

[2022-06-30 15:30] userquin commented on #317
@MikeGulik I don't know, can you test it on private window? Check in the source code the entry point has a script registering the sw.

[2022-06-30 15:33] userquin commented on #317
@MikeGulik are you testing on dev? I've it working running `pnpm run build && pnpm run preview`, I don't test the dev.

[2022-06-30 15:34] MikeGulik commented on #317
@userquin I was running it in dev. This worked. I am so happy. Thank you so, so much.

[2022-06-30 15:34] #317 closed

[2022-06-30 15:42] userquin commented on #317
@MikeGulik I'm checking it rn...

[2022-06-30 17:00] userquin commented on #317
@MikeGulik the `enabled` option is always false, you just copy it from the examples??, set it to `enabled: true`, also update to `0.12.2`  and use the virtual module, I'm fixing it, but I don't know when it will be released...

![imagen](https://user-images.githubusercontent.com/6311119/176735455-d3fd93e4-fc10-47f4-897c-66b031c00b46.png)

[2022-06-30 17:06] userquin commented on #317
@MikeGulik check last commit on my fork

[2022-06-30 17:18] MikeGulik commented on #317
@userquin Yeup, copied it from the examples. Totally forgot about that option. However, this did the trick thank you

[2022-06-30 19:31] MikeGulik opened #318 "gRPC calls fail when using service worker"
When adding the service worker as described in #317 gRPC requests fail with:

![image](https://user-images.githubusercontent.com/100597264/176761660-9f5089ba-ed20-4579-9120-e43302986c00.png)

Removing the service worker runs as intended.

Is gRPC supported yet? If not, how do I have the service-worker ignore gRPC requests ?

[2022-06-30 19:58] userquin commented on #318
@MikeGulik check this entry https://vite-plugin-pwa.netlify.app/workbox/generate-sw.html#exclude-routes

[2022-06-30 20:33] MikeGulik commented on #318
@userquin despite having
![image](https://user-images.githubusercontent.com/100597264/176773287-3679e317-bedd-40af-bb8b-ebc08439213e.png)

grpc still returns errors when trying to call:
https://localhost:44333/KDService

[2022-06-30 20:45] userquin commented on #318
@MikeGulik it should be a regex, somehting like this `/^\/KDService/`?: repro please, I don't use `gRPC`, I have no idea how to configure it...

[2022-07-01 02:17] lindsaykwardell opened #320 "Cannot read properties of undefined (reading 'disable')"
When attempting to use this plugin from within Astro, the environment fails to start. Below is the stack trace of the error:

[code]

Step to reproduce:
1. Set up a fresh Astro site (any template).
2. Install vite-plugin-pwa
3. Configure the plugin with the basics, as below:

[code]

4. Attempt to run or build the site (`npm run dev` or `npm run build`). Neither will work, and node will throw the

[2022-07-01 08:05] userquin commented on #320
@lindsaykwardell we are working to add support on Astro repo, I have a draft PR here https://github.com/withastro/astro/pull/3428

Astro is trying to make a deep merge of each pwa plugin before Vite resolves the configuration, and so the rollup intercomunication api exposed will fail when resolving the disable prop vía its getter.
https://github.com/antfu/vite-plugin-pwa/blob/main/src/index.ts#L93

[2022-07-01 17:41] MikeGulik commented on #318
@userquin Sorry, this was an issue on my end, grpc web works

[2022-07-03 10:51] userquin commented on #314
@tfranzel about the TS2307, check this preview:
- https://deploy-preview-321--vite-plugin-pwa.netlify.app/guide/faq.html#ide-errors-cannot-find-module-ts2307
- https://deploy-preview-321--vite-plugin-pwa.netlify.app/frameworks/#type-declarations (check also the same entry on vue or any fw)

[2022-07-03 10:59] tfranzel commented on #314
excellent! @userquin that is a lot better. thanks

[2022-07-03 17:46] userquin commented on #281
@ZYinMD the way you propose uninstalling the service worker is not correct, we cannot do it correctly only from the client side, we need to do it from the service worker side.

I'm exploring this feature but enabling it in the plugin configuration, we need to generate a custom sw: I'll add this feature using https://github.com/NekR/self-destroying-sw:
- check my response here: https://github.com/a

[2022-07-03 19:05] userquin commented on #281
I have it working, I need to add the `Unregister SW` scripts in all examples. Thw SW can be registered, unregistered and register again and so on, the configuration should be always the same, we only need to enable the new boolean option `selfDestroying` on the plugin.

Running the examples cli, we'll have this new option at the end:

![imagen](https://user-images.githubusercontent.com/6311119/177

[2022-07-03 19:12] userquin commented on #281
The configuration will be just:
[code]

Here's the video:

https://streamable.com/kgk5uy

[2022-07-04 09:46] userquin commented on #281
This feature will also work in development mode.

[2022-07-05 13:28] ayZagen commented on #281
@userquin how did you implement it ? I tried to override sw.js manually but couldn't find a way to refetch it as it is already cached by the app.

[2022-07-05 18:02] doutatsu opened #322 "Failed to update a ServiceWorker for scope"
I've been having countless errors of this sort:
`Failed to update a ServiceWorker for scope ('https://www.kenmei.co/') with script ('https://www.kenmei.co/sw.js'): An unknown error occurred when fetching the script.`
![image](https://user-images.githubusercontent.com/4270980/177387935-0239a5c9-9fb3-4433-9b50-8b3b53195a2c.png)

which appears as unhandled in Sentry, but it doesn't seem to be an actu

[2022-07-05 18:14] userquin commented on #322
@doutatsu what browser is complaining? On Windows Chrome is ok: try to include `id: '/' in the manifest`.

![imagen](https://user-images.githubusercontent.com/6311119/177390112-4f1406d9-088e-4e5c-bfb7-201a26587613.png)

[2022-07-05 18:15] userquin commented on #322
![imagen](https://user-images.githubusercontent.com/6311119/177390361-c414b92f-578e-4acd-b335-bbd5c541c1a4.png)

[2022-07-05 18:17] doutatsu commented on #322
![image](https://user-images.githubusercontent.com/4270980/177390451-cdc2a753-b646-4d09-b3af-57a1e78a866a.png)

All of them - but 71% is Chrome / Chrome Mobile, followed by Safari, Edge Firefox. I'll try the fix you are suggesting 👀

[2022-07-05 18:50] userquin commented on #322
@doutatsu also working on Android 9 Tablet with Chrome (screenshot using USB degugger):

![imagen](https://user-images.githubusercontent.com/6311119/177395642-0415f2a4-cd95-4f54-abb8-2e492dfb21f1.png)

[2022-07-05 18:51] doutatsu commented on #322
@userquin as mentioned - the worker is working, there are no issues there. It's just this error that happens _for some_ reason. I've deployed the ID, so will be monitoring whatever the error comes back or not

[2022-07-05 22:40] doutatsu commented on #322
Unfortunately the ID change did nothing - still getting the error and rate doesn't seem to have changed

[2022-07-05 23:15] userquin commented on #322
@doutatsu file an issue in workbox repo, maybe Jeff can help you.

Try removing the start url or using Just dashboard or ./dashboard (relative to the scope).

[2022-07-06 10:30] userquin commented on #281
@ayZagen about the implementation: since we have the logic implemented, we only need to generate the `selfDestroying` sw when the option is activated. It is **IMPORTANT TO NOT CHANGE ANYTHING** in the plugin configuration (especially **DO NOT CHANGE THE SW NAME**), just keep the options and the UI components, the plugin will take care of changing the sw and avoid interacting with the UI if configu

[2022-07-06 23:07] userquin opened #324 "add support for new SveltekKit and Vite integration"
Latest version of SvelteKit now uses Vite, that's, SvelteKit is just another plugin (check this repo https://github.com/userquin/pwa-sveltekit-vite):
- we need to move the `_generateSW` to `writeBundle`: SvelteKit uses `process.exit` on `closeBundle`
- we also need to detect the `vite-plugin-svelte-kit` on SSR (check below)

[code]

/cc @antfu  @benmccann

[2022-07-07 12:29] tobiasfeil commented on #312
Alright, thank you very much!

[2022-07-07 15:00] angelnext opened #325 "sw.js not generated with Astro build"
When doing `astro build` command sw.js is not being generated.

Astro version: **1.0.0-beta.64**
vite-plugin-pwa version: **0.11.11**
vite version: **2.9.13**

My astro.config.mjs
[code]

[2022-07-08 14:09] dmnkrthrt opened #328 "After autoUpdate event?"
Hi there, thanks for the great work with vite-plugin-pwa.

I'm using the autoUpdate register type with generateSW strategy. Is there a way to listen for an "after autoUpdate event"? I'd like to show a notification when things have been updated.

Thanks for your help. Dominik

[2022-07-08 14:33] dmnkrthrt commented on #328
Just found myself that attaching an event listener to "updatefound" is what I was looking for. Unfortunately that's fired before the window reloads so I'd have to store a hint in local storage to display after reloading the window. Maybe there's something less hacky.

[2022-07-08 15:38] userquin commented on #328
@dmnkrthrt you can switch to `prompt`, then, add `onNeedRefresh` to the `virtual` options, when called, store something in the localstorage, then call `updateServiceWorker` and add logic to load and remove the localstorage on `onNeedRefresh` callback on app load (show also the prompt you want to show). Keep in mind there will be always a page reload.

[2022-07-08 16:28] userquin commented on #328
@dmnkrthrt check https://vite-plugin-pwa.netlify.app/guide/periodic-sw-updates.html

The final `done` is not supported, if you want it you must add the corresponding logic. Just apply my approach.

[2022-07-08 16:36] dmnkrthrt commented on #328
Thanks a lot @userquin! I was expecting update() to force a reload and not check if something's changed before. So that's working like a charm. Closing this issue, again thanks for your support.

[2022-07-08 17:36] dmnkrthrt commented on #328
@userquin sorry one last question. That mentioned `updateServiceWorker `method - where is it availabile?

[2022-07-08 18:05] userquin commented on #328
If you're using the `virtual:pwa-register` module: `const updateServiceWorker = registeSW({/* options */)`

If you're using some `virtual:pwa-register/<framework-name>` module: const updateServiceWorker = useRegisterSW({/* options */)`

[2022-07-08 21:56] ltaylor2607 commented on #238
@doutatsu Not sure if you've managed to fix this yet, but I got it working by doing the following:
[code]

The values returned inside useRegisterSW were the ones I was using, this may be different depending on which properties you use.

[2022-07-11 11:56] francmarin98 opened #330 "Safari compatibility"
Friends how are you, you know I have a query. How compatible is this plugin with Safari?

Is it possible to use push notifications and faceID or fingerprint in Safari through this plugin?

[2022-07-11 12:21] userquin commented on #330
@francmarin98 push notification not yet, fingerprint I don't know, just check this entry: https://web.dev/learn/pwa/capabilities/

[2022-07-11 12:27] userquin commented on #330
@francmarin98 about the compatibility, it should be 99% compatible. It depends also on the PWA capabilities you're including: Safari have some weird errors when used on some environments, but should work (of course, if a feature is not supported we cannot do anything here).

You can check this repo for some cool features (Jeff: workbox): https://github.com/jeffposnick/yt-playlist-notifier

[2022-07-12 01:50] #330 closed

[2022-07-13 03:21] csorz commented on #40
如下代码对我有效，希望能帮到你
[code]

[2022-07-13 03:22] csorz commented on #40
如下代码对我有效，希望能帮到你

[code]

[2022-07-13 22:07] matrunchyk opened #336 "Vite 3.0.0"
Hi, I'm just wondering about vite@3.0.0 support, after upgrade I cannot use this plugin anymore:

![image](https://user-images.githubusercontent.com/2089828/178845038-662f3332-8f78-46fc-8d46-1b237b5098d8.png)

[2022-07-13 22:19] userquin commented on #336
@matrunchyk we're working on it... just released today, do you have a repo where we can test?

[2022-07-13 22:22] matrunchyk commented on #336
Great news. Unfortunately, I don't have a public repo...

Thank you for your hard work! <3

[2022-07-13 22:24] userquin commented on #336
@matrunchyk the error when installing deps or running dev? can you put here the raw log?

[2022-07-13 22:25] matrunchyk commented on #336
When installing, will attach the log in a few moments

[2022-07-13 22:34] matrunchyk commented on #336
I very apologise @userquin, now it installs correctly with no issues, vite starts successfully. I will check how it works after deploy.

Thanks again!

[2022-07-13 22:42] userquin commented on #336
@matrunchyk I've read the logs and it seemed like a dependency installation problem...

[2022-07-13 22:52] matrunchyk commented on #336
Yeah I think it was because of another package which still not on vite@3 (like `vite-plugin-eslint` and `vite-plugin-html-config`)

[2022-07-13 22:52] #336 closed

[2022-07-16 11:23] SteveALee opened #338 "Unable to find config options"
Sorry If I missed it but I cannot fond the reference for the various config options that can be passed to the plugin factory function. A few are distributed around the docs and examples, some code snippets in the docs include others. Some look like they are vite config options that might be passed through.

I'd expect to see then listed or linked to here:

https://vite-plugin-pwa.netlify.app/guide

[2022-07-16 11:50] userquin commented on #338
@SteveALee the types are in the README file: https://github.com/antfu/vite-plugin-pwa#-full-config.

I will add a link to the types to the docs: https://github.com/antfu/vite-plugin-pwa/blob/main/src/types.ts

[2022-07-16 11:52] userquin commented on #338
@SteveALee I'm adding a `PWA Build` application, check this PR https://github.com/antfu/vite-plugin-pwa/pull/331.

You can also check the preview in previous PR, the app is WIP, the generate button does nothing...

[2022-07-16 14:11] SteveALee commented on #338
For now  I found the the list of names and default values here - https://github.com/antfu/vite-plugin-pwa/blob/main/src/options.ts#L40-L59

[2022-07-16 14:11] SteveALee commented on #338
@userquin Oops, seems I needed to refresh the page before adding my comment - thanks

[2022-07-16 14:17] SteveALee commented on #338
Adding a link is good idea for folks like me reading the docs on their phone not using an IDE with intellisense. :)

PS Using the vite vanilla template plus this plugin is super simple way to create a PWA - thank you and team.

[2022-07-16 14:20] userquin commented on #338
@SteveALee are you asking for client (virtual modules) or plugin types? anyway, in the README page (at bottom) you have both links.

I'll add both links to the docs.

[2022-07-16 14:20] #338 closed

[2022-07-16 14:31] SteveALee commented on #338
@userquin

I'm after all the options and values for the object passed to the plugin factory function `VitePWA` used in vite.congif.js

[code]

Nice little builder.
I used the vanilla vite template - no framework - and I notice neither docs or builder really address that choice.

[2022-07-16 15:05] userquin commented on #338
@SteveALee check this repo: https://github.com/userquin/vite-plugin-pwa-vanillajs

[2022-07-17 18:35] userquin commented on #338
@SteveALee added on FAQ, on the guide index and also in the frameworks index: check https://github.com/antfu/vite-plugin-pwa/pull/339

[2022-07-17 19:16] SteveALee commented on #338
@userquin Looks good. Thank you!

[2022-07-19 11:55] Ehesp commented on #120
Sorry to pickup an old thread here, however this is causing some confusion for me.

I'm using Vite to SSR a page, however the `index.html` file gets added to the client bundle even though it's not served by users. My server returns the HTML, however with the index.html file being cached, it's returning the version of my html which is missing things (e.g. I replace `` on the server to add metadata)

[2022-07-21 02:16] kangdy opened #343 "How to pre-cache files on cdn"

[2022-07-21 05:29] aimergenge commented on #305
any following actions?

[2022-07-21 08:53] userquin commented on #343
@kangdy beware using opaque responses, read this entry https://developer.chrome.com/docs/workbox/caching-resources-during-runtime/

You can use plugins instead building your own custom sw https://developer.chrome.com/docs/workbox/using-plugins/

[2022-07-21 18:52] brandonculverwork commented on #305
I have encountered this as well. I think the reason a forced reload works is because it dumps the web app (service worker) from the browser and then it turns into a direct link.

[2022-07-22 09:22] userquin commented on #324
updated https://github.com/userquin/pwa-sveltekit-vite using local copy of #327

it is working but we need to wait SvelteKit to fix the process.exit in the `closebundle` hook: we've included a sequential plugin hook that sleeps 1sc and then call pwa closeBundle hook and finally call kit closeBundle hook.

https://github.com/sveltejs/kit/issues/5306

[2022-07-26 12:57] brandonculverwork opened #346 "navigateFallbackDenylist is not respected in dev mode"
### Describe the bug

The navigateFallbackDenylist is not respected in dev mode. Dev injects the manifest file overriding anything set in the vite config by the user.

[code]

### Reproduction

Look at service worker generated in dev mode

### System Info

[code]

### Used Package Manager

pnpm

### Validations

- [X] Follow our [Code of Conduct](https://github.com/antfu/.github/blob/main/CODE_OF_

[2022-07-26 15:11] userquin commented on #346
@brandonculverwork we'll change that behavior in next release: https://github.com/antfu/vite-plugin-pwa/pull/335

[2022-07-29 03:35] K1ssSh0t opened #348 "Add github pages guide in docs"
Could you add guide to deploy to github pages?

I have tried [this](https://github.com/gitname/react-gh-pages) guide for github pages  but the end result is a blank page.

[2022-07-29 08:50] userquin commented on #348
@K1ssSh0t can you provide the link to the deployed app?

[2022-07-29 13:16] K1ssSh0t commented on #348
https://k1sssh0t.github.io/prubea-pwa/

[2022-07-29 23:51] userquin commented on #348
have you configured  `base: '/prubea-pwa/'` in vite config file? it seems the ghpages is not finding your app, just check the logs in dev tools (404 after a few minutes)

[2022-08-02 01:32] #348 closed

[2022-08-02 06:58] ZhaoHongzcyh opened #349 "Problems encountered in using vite plugin PWA in vue3"
Use vite plugin PWA in vue3. Every time you update the business code, vite will hot update and refresh the browser. At this time, a series of exceptions will be thrown in the browser (exceptions are as follows)

**Basic configuration**
`// pwa workbox配置
export const workbox = mode => {
  const config = {
    // cleanupOutdatedCaches: true,
    runtimeCaching: [
      {
        urlPattern: /^\/quer

[2022-08-02 08:28] userquin commented on #349
Remove the dev options. This option was included to test your custom sw and the webmanifest. Since we cannot use hmr on sw in any browser, each time the sw is regenerated will trigger a full reload.
You should test the sw with a local build once the app is finished.
Next release will address the errors,  since we're caching the assets, and we should only cache the entry point in the sw precache ma

[2022-08-02 12:00] Charles-1999 commented on #120
@userquin I have got a similar problem, how can i exclude the html file.

[2022-08-02 12:23] Charles-1999 opened #350 "non-precached-url: non-precached-url"
@userquin I have got a similar problem, how can i exclude the html file.

_Originally posted by @Charles-1999 in https://github.com/antfu/vite-plugin-pwa/issues/120#issuecomment-1202392339_

[2022-08-02 12:31] userquin commented on #350
if you have SSR for your entry point, add an 404.html page and use it as the `navigationFallback` in the dev options. If the entry point shouldn't be added to the pwa, just exclude it using 404.html only in the `allowlist` (`workbox.navigateFallbackAllowlist` if using `generateSW` strategy).

[2022-08-02 12:40] Charles-1999 commented on #350
but i have not using SSR

[2022-08-02 12:54] Charles-1999 commented on #350
it is something effect if i get this error (non-precached-url: non-precached-url)?

[2022-08-02 12:55] Charles-1999 commented on #350
it is any effect if i get this error (non-precached-url: non-precached-url)?

[2022-08-02 13:02] Charles-1999 commented on #350
<img width="538" alt="image" src="https://user-images.githubusercontent.com/60194808/182380784-32f0ec2a-7697-4153-94b3-4fc7dd62c807.png">
@userquin

this is the normal logic, exclude the html file.

but if I precache the html file, the redirect will not take effect.

[2022-08-02 13:05] userquin commented on #350
Try adding previous config using `index.html` instead `404.html`, this will instruct the sw to only cache the entry point.

If still not working, provide a repro, any example in this repo (in examples folder) are working without the error.

[2022-08-02 13:13] #343 closed

[2022-08-02 13:45] userquin commented on #120
@Ehesp you're right, the default value when undefined is configured by the options module with `index.html`, so you need to set it to null.

[2022-08-02 13:46] userquin commented on #350
https://github.com/antfu/vite-plugin-pwa/issues/120#issuecomment-1202579983

[2022-08-02 14:23] Ehesp commented on #120
I made a quick PR to update the type docs: https://github.com/GoogleChrome/workbox/pull/3106

[2022-08-03 06:04] Tommertom commented on #293
@userquin  - correct

`copyFileSync('./.svelte-kit/output/client/_app/manifest.webmanifest', `${d}/manifest.webmanifest`)`

should become

`copyFileSync('./.svelte-kit/output/client/manifest.webmanifest', `${d}/manifest.webmanifest`)`

in pwa.js

[2022-08-03 09:03] userquin commented on #293
I have been working with Ben to align kit and vite, but we have a problem with a race condition in kit and pwa plugin in the write and close bundle hooks.

You can check this PR https://github.com/antfu/vite-plugin-pwa/pull/327

The folks at Vite and Rollup have gotten involved and an RFC is open to fix the existing problem, you can see it here:
https://github.com/vitejs/vite/discussions/9442

I h

[2022-08-03 19:57] Tommertom commented on #293
Thx for this - I am not sure I fully understand all the details.

But for now - until I see otherwise in the documentation or I get errors -  I changed pwa.js to reflect the new path.

And manually added in index.html `<link rel="manifest" href="/manifest.webmanifest">`

And in pwa.js search for a workbox*.js file and copy this into build

Then the build process runs nicely and I get an installabl

[2022-08-03 20:25] userquin commented on #293
@Tommertom if you're using SvelteKit 358+ you need to copy sw stuff manually.
The example in this repo is wrong with the new Kit version and may or may not work.

The problem is the following:
- `writeBundle` in Kit plugin will generate the prerendered folder with the SSG
- then, we have the `closeBundle` hook on Kit and pwa plugin: since this 2 hooks are async, both will run in parallel, so the a

[2022-08-03 20:58] Tommertom commented on #293
Got it! Thx

[2022-08-04 14:58] rogerfar opened #352 "Add event when updated worker is ready"
### Clear and concise description of the problem

At the moment when calling `updateServiceWorker` it calls SKIP_WAITING, but there are a few issues with this:

* The event does not do anything until the workbox event `waiting` is fired, otherwise the worker will sit in waiting state forever.
* There is no event passed back to the user indicating that the update is ready.

The issue is that our ca

[2022-08-05 10:34] userquin commented on #352
@rogerfar there is no problem updating the cache, it is done by the browser in a background thread, it the app is large then it will take more time to be ready (check `@vueuse` for example).

If you call `updateServiceWorker(false)` (I don't know why you want to call it with false) you should do a hard refresh or reopen the browser, the sw will be updated (just try pressing F5 while the sw is in y

[2022-08-05 10:55] userquin commented on #352
@rogerfar, on the other hand, we would be interested in being able to notify the user that a new version has been detected and is being downloaded, so PR welcome

[2022-08-12 07:49] userquin opened #354 "Load workbox-window with dynamic import"
### Clear and concise description of the problem

Instead using static import on register service worker client module use dynamic import.

Check if we can use the mjs module from workbox-window (source).

### Suggested solution

This will make the client load fast.

### Alternative

_No response_

### Additional context

https://developer.chrome.com/docs/workbox/modules/workbox-window/#loading-wo

[2022-08-12 10:46] mqliutie commented on #64
niubility

[2022-08-17 10:47] userquin opened #355 "add VitePress integration"
### Clear and concise description of the problem

Finally VitePress has been released with the `buildEnd` hook: we can now create an integration here using the code in the VitePress PR: https://github.com/vuejs/vitepress/pull/709#issuecomment-1146139835

### Suggested solution

Just add a new integration for VitePress: add a factory function to create the `async buildEnd` hook.

I need to check th

[2022-08-17 13:37] sciyoshi commented on #236
I am also running into this issue. The `modifyURLPrefix` option to `injectManifest` seems to help, but does not prefix the entries added by `additionalManifestEntries` (workbox applies the additional entries last and does not transform them).

[2022-08-17 18:49] userquin opened #357 "Create Vite 3 branch"
Things start moving fast, we need to update the plugin to Vite 3. We should create a vite3 branch once we merge all pending PR (excluding SvelteKit one).

VitePress integration PR can be merged once the docs ready: there is a small problem with TS with latest VitePress 1.0.0.alpha8 version (the plugins entry has changed again).

We can create the vite3 branch and then update it once we release/pub

[2022-08-17 18:52] userquin commented on #357
We need to discuss if we'll mantain Vite 2 (only bugs and security fixes) and Vite 3 versions (and the next incoming Vite 3.1).

[2022-08-18 05:11] Evertt opened #358 "Some lines of code make the build have an export default"
### Describe the bug

I'm writing a TypeScript file that is agnostic about whether it's run inside a service worker or inside a browser. The goal is that is for some reason the service worker fails to load, the browser can then just import the file instead.

Now this *almost* works. Except that when I add some lines of code, and it seems pretty arbitrary which lines of code will do it, the final b

[2022-08-18 06:46] antfu commented on #357
What changes would be needed for Vite 3? I suppose it works today already? For 3.1 we will need a major bump with 3.1 only support.

[2022-08-18 08:32] userquin commented on #357
Some types in Vite 3 have changed, for example, plugins entry on UserConfig

[2022-08-18 08:45] userquin commented on #358
@Evertt provide a minimal repro.

[2022-08-18 14:35] userquin commented on #358
@Evertt the repro is using Vite 3

[2022-08-18 14:36] Evertt commented on #358
@userquin as am I in my own project

[2022-08-18 14:40] userquin commented on #358
@Evertt can you try removing the commonjs plugin in your pwa options?

Copy/Paste this list: https://github.com/antfu/vite-plugin-pwa/blob/368542e6c1069f07f4d45969a948919765297258/src/constants.ts#L13 removing the commonjs, you should configure like this:
[code]

[2022-08-18 19:47] userquin commented on #358
@Evertt the sw is built using a Rollup, you can check it here: https://github.com/antfu/vite-plugin-pwa/blob/main/src/modules.ts#L109

I don't know why sometimes is generating export default in your project.

[2022-08-18 19:59] Evertt commented on #358
@userquin the vitePlugins thing didn't fix it, but it did give me the idea to replace some of the packages I'm using with other packages that are more esm-friendly. And that seems to have done the trick.

Thanks for thinking along with me. 🙏

[2022-08-18 19:59] #358 closed

[2022-08-21 10:50] lhjt opened #359 "`registerSW.js` 404s in dev mode with `injectManifest` strategy"
### Describe the bug

### What am I trying to do

I am trying to get the service worker to register in dev mode with `strategies = injectManifest` and `devOptions.enabled = true`

### What do I expect to happen

I expect the service worker to load correctly in dev mode.

### What happens instead

The service worker registration does not take place as `registerSW.js` cannot be found:

![image](http

[2022-08-21 12:24] doutatsu commented on #322
@piotr-cz It didn't work out for me - I had the scope set to `/` and I am still seeing this error

[2022-08-21 14:14] userquin commented on #359
@lhjt we need to update the `inline` and `registerSW.js` generation to include `type: module`, it is missing, only works using the pwa plugin virtual modules.

PR welcome ;)

[2022-08-21 14:20] lhjt commented on #359
Thanks for the quick turnaround!

I see the issue; I haven't worked on vite plugins before, so I wouldn't even know how to approach this yet, but if I do get some time to look into it and get a functioning solution, I'll be sure to open a PR 😄

[2022-08-21 14:43] userquin commented on #359
We need to change the html.ts module to add the type from devOptions on the sw registration and also the dev.ts plugin module to do the same on web socket ping/pong when register type is inline.

[2022-08-21 15:01] lhjt commented on #359
Does this also mean that trying to use this in dev will result in `self.__WB_MANIFEST` not being injected? I am trying to use the virtual module method instead, but the worker cannot precache because the `self.__WB_MANIFEST` array passed into the `precacheAndRoute()` method is empty.

[2022-08-21 15:12] userquin commented on #359
@lhjt The dev options is only for testing the sw and the webmanifest not for testing the app with the sw.

The current implementation on dev for the injection point is wrong: see https://github.com/antfu/vite-plugin-pwa/pull/335: this PR will change the behavior to only intercept the webamnifest.

[2022-08-21 17:01] ChocolateLoverRaj opened #360 "Example / feature of optionally making parts of code offline"
### Clear and concise description of the problem

I am currently using webpack and not vite. I want to switch to vite / this plugin, but I think vite might be missing something that webpack has which I need.

I am making a website which has multiple games. I want the main website code to be available offline. I want to user to be able to select specific games to download for offline use. I will be

[2022-08-22 07:36] maifeeulasad opened #362 "Uncaught (in promise) TypeError: Failed to fetch"
### Describe the bug

I was trying to make my web application into a PWA also. So I added this library as a plugin. But it isn't working for some reason. Here is the log:
[code]

Here is the website where I deployed: https://react-pipeline-test.netlify.app/

And here is the source for this deployment: https://github.com/maifeeulasad/react-pipeline/tree/9e7a31bc3f9e45984bb8ef027eeacb6e5fd80447

And

[2022-08-22 09:13] userquin commented on #360
@ChocolateLoverRaj the pwa is for the whole site, offline support cannot be selective.

If the user is offline, how do you install the game the user select?

You can try to add a custom sw and add your current logic to it: you can use service worker logic or workbox plugins, check for example this repo (with custom sw events and push notifications): https://github.com/jeffposnick/yt-playlist-notif

[2022-08-22 16:50] ChocolateLoverRaj commented on #360
Okay I will make a custom sw.

[2022-08-22 16:50] #360 closed

[2022-08-24 10:53] pjninnim opened #363 "Vite 3.0.9 + SSR + Vue 3 ESM Bundler"
### Describe the bug

vue aliased as {'vue': 'vue/dist/vue.esm-bundler.js'}
try to build produces the following error

[vite-plugin-pwa:build] Could not load vue/dist/vue.esm-bundler.js/server-renderer (imported by src/App.vue): ENOENT: no such file or directory, open 'C:\Dev\myproject\vue\dist\vue.esm-bundler.js\server-renderer'

This issue is not present when using Vite 2

### Reproduction

Try

[2022-08-24 13:50] pjninnim commented on #363
I managed to resolve this problem by setting 'legacy.buildSsrCjsExternalHeuristics' to 'true' which will tell Vite to generate a CJS bundle for SSR.

[2022-08-24 13:50] #363 closed

[2022-08-24 14:06] userquin commented on #363
@pjninnim the error is not in the pwa plugin, pwa plugin will just throw the error in the `buildEnd` hook if there is an error on the build (the error is not in the pwa plugin).

The error can be confusing, it seems the error comes from the pwa plugin build, but there is no another way to do it.

[2022-08-24 14:09] pjninnim commented on #363
@userquin thank you for the explanation. It would be nice if Vite build process would reference the whole error in stack form, then it would be easy to find the source of the issue.

[2022-08-24 22:48] ElBouhaliMohamed opened #364 "Failing to load module for ssr (@vite-plugin-pwa\pwa-entry-point-loaded)"
### Describe the bug

If i want to enable my sw in development using devOptions.enabled i get the following error. I am using vite-ssr with vite 3.

![image](https://user-images.githubusercontent.com/28925237/186535851-d3c7c8e9-23e4-4585-8e92-dc67f53cd87e.png)

### Config

`    VitePWA({
      mode: 'development',
      base: '/',
      srcDir: 'src',
      filename: 'sw.ts',
      strategies: 'in

[2022-08-25 08:27] userquin commented on #364
@ElBouhaliMohamed provide a mininal repro

[2022-08-31 08:31] #346 closed

[2022-08-31 08:32] #359 closed

[2022-08-31 08:54] userquin commented on #364
@ElBouhaliMohamed can you try with latest relea a e 0.12.4?

[2022-08-31 18:03] ElBouhaliMohamed commented on #364
Seems like its fixed, thank you!

[2022-08-31 18:03] #364 closed

[2022-08-31 22:06] userquin commented on #349
@ZhaoHongzcyh try with latest version 0.12.4, review the navigation fallback option in devOptions, read the dev entry in the docs, has been updated.

[2022-09-02 11:54] re2005 opened #366 "Error when trying to update the ServiceWorker"
### Describe the bug

I'm using this plugin and it does works nicely.

But my Sentry report is getting spammed with a lot of errors that comes as Unhandled.

Failed to update a ServiceWorker for scope ('https://app....') with script ('https://app.../sw.js'): An unknown error occurred when fetching the script.

<img width="1069" alt="Screenshot 2022-09-02 at 13 51 40" src="https://user-images.githu

[2022-09-02 12:36] userquin commented on #366
@re2005 what can we do here if the update is failing? I have the app open and seems to be ok, the sw installed and there is no error on update (pinging sw.js each 45 seconds).

This plugin is not releated with the update call, the update call is provided by the browser, you will have the same problem using this plugin or another approach.

[2022-09-02 15:40] userquin commented on #366
@re2005 still opened, update received and still with no errors...

![imagen](https://user-images.githubusercontent.com/6311119/188189280-6eecf6ac-5671-418c-9783-8b90a551256b.png)

[2022-09-02 17:43] re2005 commented on #366
@userquin Thanks for taking the time to check it!

The issue is that doesn't happen every time but it's happening quite often.
![Screenshot 2022-09-02 at 18 47 38](https://user-images.githubusercontent.com/2920357/188201083-26b45cbd-22fe-41b1-8fc6-3850bf75186d.png)

Another think that would be handy is to have the ability to handle the error when the sw.js tried to update the the .js/.css files
 a

[2022-09-02 17:54] userquin commented on #366
@re2005 still opened without any error...

I don't know if it is posible to control the error, you can check if there is an error calling the update (maybe you need to add an event listener): change the interval callback to be async awaiting the result and add a try catch block:
- https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/update
- https://w3c.github.io/ServiceWorke

[2022-09-02 18:10] userquin commented on #366
@re2005 if the server can be down, maybe you need to do a ping to the sw.js prior to do the update call, if the ping fails, then don't do the call (increase the intervalMS it is too short, 30 min or 1 hour should be ok: if you need some critical info, just change the strategy for that api call using NetworkFirst instead StaleWhileRevalidate strategy):
[code]

[2022-09-02 18:12] userquin commented on #322
@doutatsu maybe you can try this approach: https://github.com/antfu/vite-plugin-pwa/issues/366#issuecomment-1235780068

[2022-09-02 18:14] doutatsu commented on #366
That looks to be exactly the same issue as the one I am having - I'll try this solution out and curious to hear if @re2005 would have it fixed applying this solution

[2022-09-02 18:26] userquin commented on #366
You can also check if the user is online, for example using https://vueuse.org/core/useonline/#demo

[2022-09-02 18:33] re2005 commented on #366
Thanks @userquin I'll give it a try to see if it will stop bleeding logs to Sentry. 🚀

Will post some update soon. @doutatsu

[2022-09-02 18:38] userquin commented on #366
If my proposal works (it should) I'll add it to the docs in the corresponding section.

[2022-09-02 18:39] re2005 commented on #366
You may can also check using `window.navigator.onLine`

[2022-09-02 18:44] userquin commented on #366
[code]

[2022-09-02 20:08] shaunchander commented on #325
Hey, for some reason `sw.js `will not be generated in Astro **unless** you are hoisting a client-side script inside your `Layout.astro` file or wherever the entry-point of your Astro site is. Simply add an empty script tag and `sw.js` will then be included in your `dist` bundle. This works for `astro@1.1.3`

[2022-09-03 10:10] userquin commented on #366
@re2005 @doutatsu another thing we should check is the state of the registration, we should also avoid to call update when the state is `installing`:
- check point 4 here https://w3c.github.io/ServiceWorker/#service-worker-registration-update-
- https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/installing

[code]

[2022-09-03 10:21] userquin commented on #366
I'll add an utility to allow do this stuff just providing the intervalMS as an option in the RegisteSWOptions

[2022-09-05 07:01] re2005 commented on #366
That's great @userquin thanks for the updates. I'll give it a try.

[2022-09-05 08:47] re2005 commented on #366
Tested the code you shared and the `catch` part is never reached. I'm not sure if the reason is because it's inside the callback `useRegisterSW` or the Interval.

[2022-09-05 09:21] userquin commented on #366
@re2005 the problem is that calling the update without catching the error will throw the error, with the new code, if the server is down when pinging `sw.js`, the error will be never shown in the console since we're checking the status code and so the update will never be called.

ofc we can ping the `sw.js` and the server up, but calling update the server can be down, but now we catch the error (

[2022-09-05 17:17] urapadmin opened #368 "dev mode/InjectManifest: registerSW.js not found / no precaching inserted"
### Describe the bug

Not sure if this is a bug or rather me not understanding something. I am trying to use the plugin in dev mode with the injectManifest strategy.
The plugin generates a registerSW.js in a sub folder called dev-dist. But the built in vite dev server does not serve from that directory. So I get a 404.
When I manually move the file to the public folder the file gets served BUT it

[2022-09-05 17:44] userquin commented on #368
@urapadmin pwa plugin version?

[2022-09-05 19:04] urapadmin commented on #368
sorry, forgot to add the most important versions: pwa plugin is at 0.12.6, vite is at 3.0.7.

Thanks for pointing me to the documentation but as far as I understand it I don't really need to add anything as long as I leave registering the sw / dev-sw.js entirely to the plugin, which I do. The generated code in the registerSW.js looks right to me.

As far as I can see the issue is really only that

[2022-09-05 19:47] userquin commented on #368
@urapadmin provide minimal repro

[2022-09-05 22:25] urapadmin commented on #368
with pleasure: [https://github.com/arch-kiosk/simplelit](https://github.com/arch-kiosk/simplelit)
And many thanks for looking into it, I really hope I am not wasting your time by simply missing something obvious.

[2022-09-06 00:29] HazyFish commented on #89
This issue still exists with `pnpm` both locally and on GitHub Actions

[code]

[code]

[2022-09-06 08:04] userquin commented on #368
@urapadmin we need to modify the dev plugin...

[2022-09-06 08:27] userquin commented on #368
check this repo (forked from your repo using #369):

![imagen](https://user-images.githubusercontent.com/6311119/188584895-87eff63d-4cf9-425a-a16d-1456d292f92c.png)

[2022-09-06 13:54] urapadmin commented on #368
@userquin; Thank you, that was really fast.
It works exactly as you show when I start it the first time. But only once. When I restart vite dev (having erased all active service workers and Chrome's cache) I can't get it to work again:
![image](https://user-images.githubusercontent.com/38838314/188650687-8207093f-609a-42e3-8b9c-a39fa808422c.png)

Perhaps this is a hint: After the first start and d

[2022-09-06 14:00] userquin commented on #368
@urapadmin thx for the info, I'll try to fix later

[2022-09-06 14:11] userquin commented on #368
@urapadmin can you add `base:'/'` in the Vite root cofig and test again?

[2022-09-06 15:17] urapadmin commented on #368
just to make sure, this is what I tried:
[code]
Alas, it did not change anything.

[2022-09-06 16:30] userquin commented on #368
On root, the base for Vite, check my repo config file

[2022-09-06 17:00] urapadmin commented on #368
I see. I get exactly the same result, though. registerSW.js can't be found. Now I use
[code]

[2022-09-06 17:10] userquin commented on #368
@urapadmin I'm fixing it: since we don't remove the dev-dist folder, if the `registerSW.js` file is already there we don't register it internally in a map, and so when requested it is missing...

[2022-09-06 17:19] userquin commented on #368
@urapadmin updated my repo adding also the skip part to the sw (on udpdate will keep in skip waiting state): the local tgz file also updated, just remove the pwa plugin (`pnpm remove -D vite-plugin-pwa`), override the tgz with the new and install it again `pnpm add -D ./vite-plugin-pwa-0.12.6.tgz`

[2022-09-06 17:44] urapadmin commented on #368
Good job, that fixed it. Works fine now in dev and preview.
Just for my understanding: While precaching works perfectly fine in the preview, no precaching happens in dev mode.``precacheAndRoute(self.__WB_MANIFEST)`` is simply turned into ``precacheAndRoute([])`` in the sw.js that vite dev serves.
That is the intended behavior, I suspect?

[2022-09-06 18:31] #368 closed

[2022-09-06 18:37] userquin commented on #368
@urapadmin released 0.12.7 version fixing this issue

[2022-09-07 11:42] michealroberts commented on #357
Just wondering what the status is of this, is vite-plugin-pwa now Vite 3 compliant?

[2022-09-07 11:46] michealroberts commented on #357
Just to give some feedback from my end => upgraded to version 0.12.7 has fixed an error I was seeing and can confirm that this plugin works nicely with Vite 3 👍

[2022-09-07 12:24] userquin commented on #357
@michealroberts we are working in a new version of pwa plugin, there is a new PR to support new Vite 3.1.0. Once published a new version 0.13.0 (minor: breaking changes, will work only with Vite 3.1.0+), we'll include some integrations for SvelteKit and VitePress (initial, then Astro).

You can check a preview here https://github.com/userquin/pwa-sveltekit-vite (with local copy of #370), I need to

[2022-09-08 06:56] userquin commented on #366
@doutatsu @re2005 is the problem solved with my code?

[2022-09-08 07:10] re2005 commented on #366
Hi @userquin. I see a a small improvement on the errors related to the `sw.js`  But still see some `unknown` errors.

I think we can  close this issue for now. Thank you very much for your time!

Cheers

[2022-09-08 07:58] userquin commented on #366
@re2005 can you shared this small improvement? when I have time I'll try to add it as a new feature...

[2022-09-08 23:00] userquin opened #372 "allow configure custom service worker build format"
### Clear and concise description of the problem

There are problems when using `es` format in Rollup build using ancient/polyfill packages (I need to investigate what's causing extra `export default` in the sw).

Using `iife` format seems to fix the problem.

### Suggested solution

Add a new configuration option to `injectManifest` to allow use `iife` format when building the custom sw.

### Alt

[2022-09-10 10:59] userquin commented on #366
@re2005 @doutatsu the condition is wrong, the `installing` property should be null to send the update:
[code]

[2022-09-10 11:14] re2005 commented on #366
For me it reduced the amount of errors pretty much.

I'm doing something like this:

[code]

[2022-09-10 11:25] userquin commented on #366
@re2005 using axios (use native `fetch`)? I stop using axios a few years ago (XHR is blocking), has been axios updated to use `fecth`?

[2022-09-10 11:45] re2005 commented on #366
`Axios` just for compatibility and some extra nice configurations.

[2022-09-16 10:02] amreladawy opened #374 "Service worker is not found on dev mode (npm start)"
### Describe the bug

I am using devOptions to enable service worker in dev mode. When I start the app using `npm start`, service worker file is not found
[code]

### Reproduction

``` VitePWA({         injectRegister: null,         strategies:'injectManifest',         filename:'service-worker.ts',         srcDir: 'src',         devOptions: {           enabled: true,           type: "module",

[2022-09-16 11:04] userquin commented on #374
@amreladawy please provide full info or repro: using prompt behavior requires importing virtual module (default `registerType` is `prompt`).

Try removing `injectRegister: null` entry.

[2022-09-16 13:51] doutatsu commented on #366
My errors went down somewhat, but not entirely using this configuration:

[code]

I am still getting a couple of `Failed to update a ServiceWorker for scope` and a new `InvalidStateError: newestWorker is null` error. Going to try those extra conditions @userquin had in his code

[2022-09-16 13:56] victordidenko commented on #302
Stumbled upon very this issue, fixed it by adjusting [`globPatterns`](https://vite-plugin-pwa.netlify.app/guide/static-assets.html) — I've excluded `js`/`html`/`css` from it

[2022-09-16 14:09] doutatsu commented on #366
Looks like newestWorker `null` is indeed an expected state that I need to handle

[2022-09-16 14:34] doutatsu commented on #366
As I am writing up the code based on conditions you've wrote @userquin - I can see that `needRefresh` would return `true` even if `navigator.onLine` if `false` 🤔 But with your conditions, it means that you would see a prompt, but the update will never occur unless the person is back online.

I can of course add the condition to not show prompt when offline, but then does it make sense? Should `nee

[2022-09-16 15:06] userquin commented on #366
@doutatsu if the sw isn't updated, maybe there is bug in workbox-window, or a bug here: we should check `src/client/build/register.ts` module: the event should never be fired.

https://github.com/antfu/vite-plugin-pwa/blob/main/src/client/build/register.ts#L56

[2022-09-16 15:14] userquin commented on #366
@doutatsu about the update, if the user is offline, how is it possible (receive the event)? There can be a race condition, received updated and then go offline, but it the user is offline you should deal with it (maybe we can provide some logic, but then we also need to remember that).

Edge case:
- user receives update: if offline between received and confirmed updated (remember and once online r

[2022-09-16 15:18] userquin commented on #302
@victordidenko https://vite-plugin-pwa.netlify.app/guide/static-assets.html#globpatterns

[2022-09-16 15:22] doutatsu commented on #366
No no, what I meant is that because `onLine` is `false` we never reach `.update()` due to `ping` constant being `false` in your scenario. `const ping = !r.installing && navigator && 'connection' in navigator ?  navigator.onLine : true`

No, you are totally right. I was using the built-in offline capability
<img width="350" alt="image" src="https://user-images.githubusercontent.com/4270980/19067410

[2022-09-16 15:30] userquin commented on #366
@doutatsu you're simulation tools, ok, don't worry, but then the call should be ok: the browser is offline. Test I made result also on your results, it seems dev tools is bypassing the offline check, I've found when testing offline, restarting the https-localhost and refreshing the page sometimes works (the sw is updated and the event fired).

[2022-09-16 15:31] doutatsu commented on #366
Testing with disabling network _properly_, obviously it doesn't pull the new worker - so all is good in that instance. Coming back online, provides the prompt and update works as expected. I'll proceed with that then and see how it goes

[2022-09-16 15:31] userquin commented on #366
the edge case is still present: if going offline while sw is updating...

[2022-09-16 15:32] userquin commented on #366
@doutatsu  remember to also close your issue ;)

[2022-09-16 15:33] doutatsu commented on #366
I think that edge-case should be rare enough for me not to worry about right now - but I'll observe the situation after this update. The code I've landed on is this, making more heavy use of guards compared to your original code:

[code]

[2022-09-16 15:34] doutatsu commented on #322
Keeping logs on the progress to address this issue in here - https://github.com/antfu/vite-plugin-pwa/issues/366

[2022-09-16 15:34] #322 closed

[2022-09-16 15:37] userquin commented on #366
@doutatsu copy/paste from vueuse ;) !

Maybe you can send a PR to add this to the docs: if you can't, don't worry, I'll do it.

[2022-09-16 15:38] userquin commented on #366
is this ok `if (!(!r.installing && navigator)) { return; }`?

[2022-09-16 15:40] doutatsu commented on #366
Sure, I'll take a look, happy to contribute

[2022-09-17 11:05] userquin commented on #374
We temporarily close this due to the lack of enough information.
Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue.
Thanks.

[2022-09-17 12:54] amreladawy commented on #374
Hi @userquin
I am using a create react app. I have a custom service worker file and I will register my service worker file myself. That is why I set the `injectRegister` to `null`.
When I run `npm start` the service worker ts file is not found 404.
When I build, the service worker file is compiled and saved to build folder.

Please let me know if any more info is needed.

[2022-09-17 13:32] userquin commented on #374
@amreladawy if you register your custom sw, this plugin cannot register it for you, your are preventing that, try removing your registration and let the plugin do its work (removing also `injectRegister: null` from the pwa configuration).

You can also check using react virtual module if you need to interact with the ui: https://vite-plugin-pwa.netlify.app/frameworks/react.html

[2022-09-17 14:36] amreladawy commented on #374
Hi @userquin ,thanks for coming back on this. I have tried removing `injectRegister: null` and still have the same issue.

What I am trying to do is to use vite pwa plugin with the simple create react app. The service worker is compiled successfully when building the app, but it is missing when using `npm start` http://localhost:3000/service-worker.js gives 404

Here is the code used to register t

[2022-09-17 15:22] userquin commented on #374
@amreladawy add `registerType: 'autoUpdate'` (`prompt` is the default behavior) and remove the service worker if installed (just test it on private window), switching between `prompt` and `autoUpdate` can be a pain, it seems you don't have logic for `prompt` behavior

[2022-09-17 15:26] userquin commented on #374
@amreladawy also check this issue, similar to your approach but using the callbacks from the virtual: https://github.com/antfu/vite-plugin-pwa/issues/366

[2022-09-17 15:55] amreladawy commented on #374
Thanks for reopening it. I have tried registerType: 'autoUpdate'
but still the same error
![image](https://user-images.githubusercontent.com/1336308/190865511-3366dc1a-eb7a-489c-bcc2-6860b17b4a94.png)

I dont have logic for prompt. the service worker is registered right away.

[2022-09-17 16:38] userquin commented on #374
@amreladawy the error comes from your ts module not from the plugin: the problem here is that in dev we do not expose the sw filename (it has an alias), I'll check if we can expose some info in the registration callbacks, in the meantime just omit the call to your modules on dev (use [import.meta.env.DEV](https://vitejs.dev/guide/env-and-mode.html#env-variables)) and test sw is working ()you shoul

[2022-09-17 16:43] userquin commented on #374
@amreladawy you can also use `import.meta.env.DEV` and use this url [dev-sw.js?dev-sw](https://github.com/antfu/vite-plugin-pwa/blob/main/src/constants.ts#L26) (append your scope before it)instead your sw filename

[2022-09-17 16:46] userquin commented on #374
@amreladawy a simplest approach, just use the scope from the registation: https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/scope

I'll try to dicument it, previous scope should be your sw filename when buiding and the dev name on dev with devOptions enabled.

[2022-09-17 16:53] userquin commented on #366
@doutatsu https://github.com/antfu/vite-plugin-pwa/issues/374#issuecomment-1250103579 (instead using harcoded name, will work also in dev if devOptions enabled)

[2022-09-17 19:45] amreladawy commented on #374
Hi @userquin Thanks for the help on that. It worked finally.  Here is the plugin configuration
[code]

Also, I had to check if this a dev mode or prod then register the correct URL
[code]

Note, `import.meta.env.PROD` always gives false, so I used the ` import.meta.env.MODE`

I still have some issue with non-prechaced index.html.  https://github.com/antfu/vite-plugin-pwa/issues/120 but still wotki

[2022-09-17 19:45] #374 closed

[2022-09-17 20:19] #354 closed

[2022-09-17 21:18] userquin opened #375 "expose PWA info"
### Clear and concise description of the problem

Sometimes we need some info:
- dev environment: to allow configure sw properly (will be also ported to Vite 3.1 PR: SvelteKit will require it)
- webmanifest info: expose url and `use-credentials`
- service worker info: expose sw registration info
- service worker url on registered callback: to allow useit with periodic sw updates (with dev options

[2022-09-17 21:54] userquin commented on #366
@doutatsu @re2005 I have included a new entry in the docs, you can check a preview here: https://deploy-preview-376--vite-plugin-pwa.netlify.app/guide/periodic-sw-updates.html#handling-edge-cases

[2022-09-18 03:18] #372 closed

[2022-09-18 03:19] #375 closed

[2022-09-19 09:35] bestwestern opened #377 "Automatic reload != location.reload?"
### Describe the bug

If I create new vite simple javascipt project then add vite-plugin-pwa and add vite.config.js:
![image](https://user-images.githubusercontent.com/3617433/190987981-4cc2081f-cf31-4ed1-90ea-9ffa1cfebdce.png)
Then:
Build and deploy (with vercel)
Visit page in browser (and close tab)
Make little change in project
Build and  deploy again
* Visit page again it will show the old ver

[2022-09-19 12:47] userquin commented on #377
@bestwestern later in the afternoon I take a look at it

[2022-09-19 14:02] userquin commented on #377
@bestwestern since you're NOT importing any virtual, there is no way to interact with the UI part of the application, that should fire a page reload: when importing any virtual, the reload is done here https://github.com/antfu/vite-plugin-pwa/blob/main/src/client/build/register.ts#L41 .

You can import the vanilla virtual in your main module, calling the `registerSW` method will fix your problem:

[2022-09-19 14:02] #377 closed

[2022-09-20 01:24] benquan commented on #324
Is this the cause for the error in the sveltekit example?

`svelte-kit build is no longer available — use vite build instead`

[2022-09-20 03:13] #357 closed

[2022-09-20 07:31] userquin commented on #324
@benquan yes and no: new kit has a few internal breaking changes, the cli is just one, you  need to install kit as a plugin.

We are adding integration, just released 0.13.0 version to support Vite 3.1 sequential hook (Rollup), that's required to run new kit apps.

[2022-09-20 12:24] eokwukwe commented on #368
I am getting the same error as specified in this issue. I have tried using version `0.12.7` and `0.12.8` of the plugin. But the error remains. When I build and preview, I don't get the error.

[code]

[2022-09-20 16:42] bestwestern commented on #377
Awesome - it works!
Thanks for the quick reply.

This is what made me believe it would work:
![image](https://user-images.githubusercontent.com/3617433/191316104-b97b0a1f-edc7-4fff-b919-78a7f0c9f2c3.png)

[2022-09-20 16:51] userquin commented on #377
@bestwestern thx for the hint, I need to review the code, maybe a regression, I'll change it if not a regression.

[2022-09-20 16:52] userquin commented on #377
@bestwestern the automatic reload works, but in the next visit: there are ppl using this way the plugin instead using the virtual.

[2022-09-20 18:37] bestwestern commented on #377
Yes - I could see the service worker getting ready for the next visit ;) so I figured maybe it was intentional - that's why I asked the question in the headline of this issue.

Perhaps elaborate in the docs that automatic reload is not a "location reload" :)

[2022-09-21 13:25] userquin commented on #377
@bestwestern the problem is the sw lifecycle, the auto update is ok (the sw is activated), but the client requires a page reload to allow the new activated sw to take the control (in the current page, remember the user can have multiple tabs/windows/browser instances opened), that's, the sw isn't controlling yet the current page.

I'll add a warning and danger sections (for Safari users) in the do

[2022-09-22 17:39] doutatsu commented on #366
It's still present by the looks of it, but it's a lot less common than before, as seen below. I might tweak it further, but this is good enough for me not to worry too much about

<img width="918" alt="image" src="https://user-images.githubusercontent.com/4270980/191814573-26dd57dc-5a8d-4317-a399-2e8bd572e547.png">

@userquin thanks for adding the extra docs - glad to see refactored code I wrote w

[2022-09-23 14:47] alchemist-s opened #379 "unable to send vite-pwa-plugin:dev-ready message to register service worker in dev mode!"
### Describe the bug

Hello!

Trying to work out a minimal PWA (Vue 3) in dev mode with this plugin and getting the following errors on my console:

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/9383990/191984681-850a25c6-43e0-474d-b354-824a69ee091e.png">
<img width="782" alt="image" src="https://user-images.githubusercontent.com/9383990/191984745-e0f328dc-61d7-4c81-

[2022-09-24 01:32] userquin commented on #379
@alchemist-s rename `vite.config.ts` to `vite.config.mts`:

![imagen](https://user-images.githubusercontent.com/6311119/192074504-6e01ff1c-29be-4f4b-afdb-53b099b71b60.png)

![imagen](https://user-images.githubusercontent.com/6311119/192074466-a35e2ad4-90b5-4a12-afaf-e1055016826b.png)

[2022-09-24 01:34] userquin commented on #379
upps, maybe node version? I need to install a Node 14 version, can you try with a Node 16?

[2022-09-24 01:35] alchemist-s commented on #379
@userquin I did try with node 16 and got the same error. Let me try out your suggestion and I'll get back to you. Thanks for the quick turnaround!

[2022-09-24 01:36] userquin commented on #379
@alchemist-s in my local working with Node 16.17.0 with ts and mts

[2022-09-24 01:41] userquin commented on #379
@alchemist-s try removing the node_modules and reinstalling deps, it seems vite not being updated: we need Vite 3.1.0 that comes with the new sequential object hook, just check the last error!

[2022-09-24 01:43] userquin commented on #379
also Rollup `2.79.0+`, it seems something preventing the update

[2022-09-24 01:48] userquin commented on #379
@alchemist-s try switching to pnpm instead using npm...

[2022-09-24 01:49] alchemist-s commented on #379
@userquin Okay so I had a global version of vite installed which was at 2.8.6...my bad. Its working perfect with Vite 3.1.0.

Sorry about that.

[2022-09-24 01:51] #379 closed

[2022-10-01 19:20] DodoDye commented on #368
I fixed the error with this:
[code]

[2022-10-01 20:35] userquin commented on #368
Open a new issue with a repo please

[2022-10-05 13:06] tvld opened #384 "Lighthouse: theme-color not found"
Lighthouse gives: ``Does not set a theme color for the address bar. Failures: No `<meta name="theme-color">` tag found.``, although the manigest does have a ``theme_color`` key and value...

[code]

[2022-10-05 13:41] userquin commented on #384
@tvld you should add `<meta name="theme-color" content="#ffffff">` to your html head, it is no about webmanifest: https://vite-plugin-pwa.netlify.app/guide/pwa-minimal-requirements.html#entry-point

[2022-10-05 13:41] #384 closed

[2022-10-05 14:26] tvld commented on #384
Thank you. Indeed using [vue head](https://github.com/vueuse/head) worked, with this head:
[code]

[2022-10-05 15:27] userquin opened #385 "allow use custom sw without injection point"
This will allow ppl to NOT include `self.__WB_MANIFEST` in their custom sw.

The fix is quite simple, just return without calling workbox before this line if there is no `injectionPoint`:
https://github.com/vite-pwa/vite-plugin-pwa/blob/main/src/modules.ts#L121

[2022-10-06 03:22] o-alexandrov commented on #260
@userquin `vitePlugins` option is ignored when in `dev` mode.
- in other words, when `devOptions.enabled` is set to true

[2022-10-06 04:25] o-alexandrov commented on #260
After looking deeper into it, seems like vite plugins are not applied in the `dev` mode at all.
In my case, I need `vite:define` to be applied in `dev` mode

[2022-10-06 09:03] userquin commented on #260
@keithlayne the plugins are filtered

[2022-10-06 10:46] RohitKaushal7 opened #387 "Error running plugin hook closeBundle for vite-plugin-pwa:build, expected a function hook."
App build fails with this error.
![image](https://user-images.githubusercontent.com/43717403/194293340-14066f92-b45e-40de-bee7-0bb51579abb6.png)

vite.config.ts
[code]

`yarn dev` works fine, but `dev-dist/sw.js` only precaches `index.html` no other js,css files.

`yarn build` fails with above error. rest of the build works fine, bundles are generated but no `sw.js` gets generated in the `build` f

[2022-10-06 10:57] userquin commented on #387
@RohitKaushal7 from version 0.13.0 you need Vite 3.1+

[2022-10-06 12:01] RohitKaushal7 commented on #387
Thanks for quick reply. it works now. but now upgrading vite caused other errors related to
- Cannot use import outside module in NodeGlobalsPolyfillPlugin
- Identifier 'Buffer' has already been declared. etc..
but that's another problem I guess. 😢

[2022-10-06 12:01] #387 closed

[2022-10-06 12:21] userquin commented on #387
@RohitKaushal7 you can try with v0.12.8 without upgrading Vite to 3.1+

[2022-10-06 12:51] o-alexandrov commented on #260
@userquin please let me know, if I could assist you in any way.
It's very opinionated how the dev mode should look like, maybe you might like how [vite-plugin-native-sw handled it in this commit](https://github.com/sxyazi/vite-plugin-native-sw/commit/eaba0c7e052e84cfd985e72c860ef256f67a24ef)

[2022-10-08 10:00] doutatsu commented on #366
@re2005 How are things looking on your side... This error started to be more prevalent again 😫

<img width="327" alt="image" src="https://user-images.githubusercontent.com/4270980/194701918-73770182-4867-49d7-ab85-4640342db4b9.png">

[2022-10-08 11:51] re2005 commented on #366
Hey @doutatsu on my side I see almost no errors, pretty much by first requesting the `sw.js` file before calling the update.

Good luck!

[2022-10-08 11:52] doutatsu commented on #366
Thanks - quite bizarre indeed. It looks like most of the errors are about `newestWorker` being `null` now. Back to the drawing board I go 😫

[2022-10-08 17:08] reorx opened #388 "Adding support for fallback responses"
I have a simple vanilla JS app integrated with vite-plugin-pwa: https://github.com/reorx/sui2, my vite config is shown below:

[code]

My goal is to make the app work offline, which has been achieved properly, but when I open the app with a non-existing url like https://reorx.github.io/sui2/foo (after opening the [homepage](https://reorx.github.io/sui2) for the first time), it shows the home page

[2022-10-08 18:33] userquin commented on #388
@reorx just add `workbox: { navigationFallback: '404.html' }`

[2022-10-09 07:33] reorx commented on #388
Thanks for the reply, it works as expected! Now I understand more about the Workbox APIs :)

I searched the document and found that `navigateFallback` is only documented in "Development" section, maybe it's better to also mention it in "Service Worker Precache" or "Static assets handling", just saying.

[2022-10-09 07:33] #388 closed

[2022-10-11 09:08] userquin commented on #366
@doutatsu add headers for request headers in the request init method, I use it with vue virtual module using head method (I ignore the error):
[code]

[2022-10-11 09:13] userquin commented on #366
with local server (not running and restarting with new content):

![imagen](https://user-images.githubusercontent.com/6311119/195049429-1249b80d-1958-4706-b444-d86c5c8021c6.png)

[2022-10-11 12:41] alkanna commented on #211
Hey @userquin , any news on this ?

[2022-10-13 21:23] stefanhoelzl opened #392 "Workbox is precaching URLs without revision info: index.html This is generally NOT safe."
Hi,

I tried to follow [this example](https://vite-pwa-org.netlify.app/workbox/inject-manifest.html#exclude-routes) in the docs to make my PWA available offline.

But I get the following warning from workbox
[code]

This piece of code introduces the warning
[code]

What exactly does this warning mean? And how can I get rid of it?

[2022-10-13 21:29] userquin commented on #392
@stefanhoelzl the warning comes when dev options enabled: we only include the entry point to be intercepted, but we don't add the revision and so the warning, you can ignore it (will be only shown on dev with devOptions.enabled set to true)

[2022-10-13 21:34] stefanhoelzl commented on #392
Thanks @userquin

[2022-10-13 21:34] #392 closed

[2022-10-13 23:42] develohpanda opened #393 "`updateServiceWorker(true)` doesn't reload other open tabs"
Hello! Thank you for this plugin. I've noticed there is an issue with the reload prompt and how the `controlling` event is being listened for. According to the Workbox example [here](https://developer.chrome.com/docs/workbox/handling-service-worker-updates/), the reload listener `wb.addEventListener('controlling', () => { window.location.reload(); });` is added _before_ the prompt is shown.

In th

[2022-10-14 13:27] viniciusknob opened #395 "[vue] Error: Cannot find module 'virtual:pwa-register'"
I'd like to update the sw using the prompt for update. The code below doesn't work well, because it is necessary to configure the typescript, but I don't use typescript, so how can I use the `virtual:pwa-register` properly?

I saw the FAQ in https://vite-pwa-org.netlify.app/guide/faq.html, but it is talking about typescript configuration again.

Maybe I'm losing a small thing, but I'm no so sure w

[2022-10-15 10:45] RDjarbeng opened #396 "Vite PWA not including correct path to images in manifest"
I have a site with PWA img assets in

img/icons/imagename.png

I am trying to build the site with vite and vite-plugin-pwa to use it as a pwa.
The vite.config.js and the index.html are in the project root directory. Images are in img directory.

The problem is that when I run the build file places the imgs in the folder `assets/imageName###.png`
For example `chrome192.png` is placed in `assets/chr

[2022-10-15 13:42] userquin commented on #396
@RDjarbeng there is an open issue about this, the problem is that any entry in `src/assets` folder will be transformed, so we will need to access to the bundle generated by Vite to change the webmanifest urls: I'll try to send a PR when I have time.

If you can move/copy those images to public folder (with the same structure, without assets folder), you can use glob pattern on `includeAssets` opti

[2022-10-15 14:22] userquin commented on #396
@RDjarbeng I hvae it working on build, testing on dev:

/cc @alkanna

![imagen](https://user-images.githubusercontent.com/6311119/195991356-c2211780-476c-4159-b5cf-780fc6fe20d7.png)

[2022-10-15 14:50] RDjarbeng commented on #396
@userquin do you mean your manifest file is updating the paths even without creating a public folder?

[2022-10-15 14:53] RDjarbeng commented on #396
@userquin  I tried your option to use the public folder and the manifest now uses the images served from that folder. However the docs say the images included in the manifest will be added to the assets so this line did not seem necessary since it was doing this already
`includeAssets: ['img/icons/*.png']`

[2022-10-15 14:55] userquin commented on #396
@RDjarbeng yes, but the referenced asset should be use in the codebase via static `import` (not in current version, I'm creating a PR to support icons on `src/assets` folder):
[code]

![imagen](https://user-images.githubusercontent.com/6311119/195992921-2e4ba46a-539b-42b9-b78f-64cc5f47f372.png)

[2022-10-15 14:57] RDjarbeng commented on #396
@userquin Noted. Thanks for your suggestion to use the public folder.

[2022-10-15 15:00] RDjarbeng commented on #396
However, for the second issue the other pages which are inside html/pageName.html still have the manifest path as ./manifest.webmanifest. It has not given me a problem yet, it seems to locate the manifest when I open the files in the html folder directly. But I'm wondering if it should not be /manifest.webmanifest or  ../manifest.webmanifest since the manifest is in the root and not in the html fo

[2022-10-15 15:08] userquin commented on #396
@RDjarbeng about the `includeAssets` option: it is only required when you need some extra public assets excluded from the glob pattern, any entry on public will be copied to the root dist folder, you will need to include those elements into the sw precache manifest if `workbox/injectManifest` glob pattern not matching those assets (by default only html, css and js will be included on the sw precac

[2022-10-15 15:21] userquin commented on #396
@RDjarbeng I'll check later your repo, your are using MPA... you should use base prefix when adding the webmanifest link, if you just use `/` Vite should change it to `/`, beware using Vite 3+, the default is releative `./`. I always configure `base: '/'` when enabling PWA.

[2022-10-15 15:28] RDjarbeng commented on #396
@userquin  I added the glob pattern for the workbox parameter at first but it did not work so I added it to the includeAssets option. Now there's duplicate code. Should I remove the workbox parameter.
includeAssets: ["**/*.{js,css,html,ico,jpg,png,svg,webmanifest}"],
      workbox: {
        globPatterns: ["**/*.{js,css,html,ico,jpg,,png,svg,webmanifest}"],
      },

The docs link you sent gives a

[2022-10-15 15:35] RDjarbeng commented on #396
@userquin
I assumed the default was workbox since it generates the service worker but it seems not to work when I use the parameter workbox: {...

[2022-10-15 15:40] userquin commented on #396
@RDjarbeng if you're using previous glob pattern you don't need to add the `includeAssets` option.

The default strategy is `generateSW` that uses workbox entry to configure the sw build using workbox-build. The default `registerType` is `prompt`, so you will need to add a call to any of the virtual modules that pwa plugin exposes: if you want `autoUpdate` add `registerType: `autoUpdate'`
- https:

[2022-10-15 15:45] userquin commented on #396
about the original issue: if we don't include an static import for the assets in the codebase we'll get an erro lie this one:
[code]

Maybe we can add them to the bundle if missing...

[2022-10-15 15:49] RDjarbeng commented on #396
Maybe, and you can also consider the case where the user prefers not to do this
[code]
but to use the old way of importing. I guess then the public folder will be the only option for them.

[2022-10-15 15:54] RDjarbeng commented on #396
'if you're using previous glob pattern you don't need to add the includeAssets option.'
Tried the workbox property for glob patters again without the includeAssets and it worked. Don't know why it didn't work the first time, probably the service worker still running.
[code]

Now it caches the assets with these extensions.
Thanks  @userquin

[2022-10-15 15:55] RDjarbeng commented on #396
Gonna update the answer on stack overflow just in case anyone else is stuck with this. I've been stuck since July (close to 4 months) should have opened an issue earlier. Was convinced I could figure it out from the docs.😒

[2022-10-15 16:09] userquin commented on #396
@RDjarbeng if you have any suggestion for the docs, anything can help ppl are welcome, sorry for that...

[2022-10-15 16:11] userquin commented on #396
I'm doing some local tests... as you can see there are a lot of stuff involved on the PR: the dev plugin just works, the /src/assets/** just resolved by Vite

[2022-10-15 16:12] RDjarbeng commented on #396
To improve the docs this approach you spoke of can be added. Once you finish the PR of course.

However, my issue with it is that not all users are familiar with static imports or want to use typescript. Maybe the docs can suggest using the public folder for the manifest icons for those who are still old school.

[2022-10-15 16:31] userquin commented on #396
@RDjarbeng you can use it with or without typescript:
[code]

About public folder, it is here, in the first paragraph: https://vite-plugin-pwa.netlify.app/guide/static-assets.html#static-assets-handling.

Using `<img src=".src/assets/...">` also working

[2022-10-15 16:46] RDjarbeng commented on #396
I don't think that solution works. This behavior did not stop this issue from occurring. It seems to only work if the images are referenced in the html not in the manifest or PWA plugin options. As it stands now users still have to use the public folder for the manifest icons if the image paths are not updated in the manifest.

Maybe because I can't see your changes.

[2022-10-15 17:15] userquin commented on #396
@RDjarbeng this issue is for assets folder support, it is not related to Vite's `publicDir` option (defaults to `public` folder), check the vite.config.ts config file in the vue-router example (or any of the examples): there is no glob pattern, only including the svg on `includeAssets`.

You can check the `src/assets.ts` module, we use `fast-glob` to traverse public folder:
- here we collect manif

[2022-10-15 17:53] userquin commented on #396
@RDjarbeng docs preview entry here: https://deploy-preview-397--vite-plugin-pwa-legacy.netlify.app/guide/static-assets.html#reusing-src-assets-images

[2022-10-15 20:07] RDjarbeng commented on #396
I've got 2 problems with it.

1. The code examples  have `` which I don't think is necessary since not everyone using vite is using VueJS. The comment  `` gives the impression the solution for vite-plugin-pwa given is for  VueJS even thought it works on other frameworks like React or just plain vanillaJs.

2. The user has to import the icon on another application to use it:

which means if there a

[2022-10-15 20:13] RDjarbeng commented on #396
Also since you are importing the images in two places the developer has to keep track of changes in both places. When a change is made in one place (eg: the image file changes to `./src/assets/newlogo-192x192.png` he has to make sure it is added in both places or risk errors. It would be better to have one place to change so you Don't Repeat Yourself.

[2022-10-15 21:23] userquin commented on #396
I Will try to add the icon to the bundle if missing.

Vite Will not emit any asset under any folder that's not   being used (vía static import or vía src attr). For example, you can also create xxxx folder and use static import from this folder, it is no applied only to assets folder.

If you use an image in 1000 distinct places if you change it you must update those 1000 places. What do you expec

[2022-10-15 21:38] userquin commented on #388
@reorx PR welcome, if you want to send a PR send it to the New docs repository

[2022-10-15 21:45] RDjarbeng commented on #396
@userquin  Okay, my suggestion will be to add this to the documentation as the simplest solution. But it's subjective you can choose whether to include it or not.

However adding the images to the public folder is the solution I will use in my case.

Apart from that everything looks okay on my side.👍

[2022-10-15 21:58] userquin commented on #396
@RDjarbeng ok, I'll update docs with vanilla js/ts like on Vite docs also including a note about not using icons in the codebase

[2022-10-16 09:40] userquin commented on #396
@RDjarbeng can you check update docs entry? found a new limitation and examples updated