[2020-10-31 09:41] DavidGolodetsky opened #1 "Feature request: add option to switch from generateSW to injectManifest"
I'd like to add push notifications to my app builded with Vitesse. I found out that if I want to tweak my service-worker I need to use `injectManifest ` Workbox option instead of `generateSW`.
Would be great to add this abstraction to plugin config options.

[2020-10-31 09:41] DavidGolodetsky commented on #1
I can give it a try, if you approve this feature

[2020-10-31 12:45] antfu commented on #1
I am actually planned to do that. It will be great if you are interested in working on this, let's see the PR thanks!

[2020-10-31 19:58] DavidGolodetsky commented on #1
Well, I gave it a try, but it requires more deep understanding of Rollup. I thought it could be configured on Workbox level alone. Anyway thank you for this great template!

[2020-12-06 14:06] ubermanu opened #4 "Support "base" path from vite config"
Hey,

When building static assets from VitePWA, the paths to the service worker and the manifest is hardcoded (at root level)
Would it be possible to preprend them with the "base" config from vite?

[2020-12-22 04:42] antfu commented on #4
Would you mind to open a PR for it? Thanks.

[2020-12-24 14:22] userquin opened #5 "Make dist folder configurable"
You have static `dist/sw.js` and `dist/manifest.webmanifest` and cannot be changed.

It fails if I use `outDir: 'web-resources'` on `vite.config.ts` file.

[2020-12-24 15:20] antfu commented on #5
Sure, would you mind create a PR? Thanks!

[2020-12-24 16:18] userquin commented on #5
done

[2020-12-24 16:24] userquin commented on #5
@antfu

[2020-12-24 16:47] userquin opened #7 "Question about preloading excluded assets"
I have a small app using `vitesse` template (that uses this plugin) and I have a problem with some SVG images that are not included on assets directory (are too big to be inlined, and then vite just set its href to undefined, so I moved them to public directory), but then, this plugin excludes these images from PWA, or at least once installed (PWA on client), these SVG are not downloaded (and when

[2020-12-24 18:19] #5 closed

[2020-12-24 18:53] userquin commented on #5
@antfu tested on my project and working

[2020-12-24 19:20] userquin commented on #7
@antfu I can link to my pre environment, just give me an email address, I don't want to make it public...

and sorry to bother you... it is my first PWA

[2020-12-24 19:24] antfu commented on #7
If it's a GitHub repo, `antfu` will do. Or `anthoyfu117@hotmail.com` for email.

TBH, as I am not familiar with the other tech you are using, I am afraid if I can do any help there. Sorry, I can't really promise anything.

[2020-12-24 19:57] userquin commented on #7
@antfu email sent to anthoyfu117@hotmail.com

[2020-12-24 19:58] userquin commented on #7
@antfu address not found

[2020-12-24 19:58] userquin commented on #7
missing one n from the name?

[2020-12-24 20:04] userquin commented on #7
sent to hi@antfu.me

[2020-12-24 21:38] userquin commented on #7
Thx @antfu, I close this, I need to investigate and I feed back you when I have tried to fix inclusion of external resources bundle.

I'll try to do something similar to `rollap-plugin-gzip`  that allows to compress resources outside bundle: [Configuration](https://github.com/kryops/rollup-plugin-gzip#configuration) see **additionalFiles** entry.

[2020-12-24 21:38] #7 closed

[2020-12-24 22:29] antfu commented on #7
That would be great, thanks!

[2020-12-25 13:58] azamat-sharapov opened #8 "Minified output"
Service worker and Workbox javascript files are not minified. Is there any option I should add or is it missing this feature?

[2020-12-26 09:37] antfu commented on #8
That's a good point, would you mind to create a PR for it? We use https://www.npmjs.com/package/rollup-plugin-workbox underhood and I guess there should be an option for that (we can make it default to minified and configurable for users to opt-out). Thanks

[2020-12-27 12:29] azamat-sharapov commented on #8
It turns out `generateSW()` already minifies output, if `mode` options is set to `"production"`. The problem is when building, `tsup` [replaces `process.env` variables](https://github.com/egoist/tsup/blob/0b80615d053148ab907f41c402d09ec1eafc5e94/src/index.ts#L121), so `mode` option [always set to `"development"`](https://github.com/antfu/vite-plugin-pwa/blob/master/src/index.ts#L18). Quick fix for

[2020-12-28 08:43] #8 closed

[2020-12-31 16:25] DeFUCC opened #10 "Can it cache scripts embedded with a <script> tag?"
I use some old style non ES module <script> tags in the index.html and they fail to load with the default config. May be there's a simple way to fix it without digging all the Workbox docs?

[2021-01-06 10:26] BunColak opened #11 "Service worker file injection does not care about the swDest option."
The workbox has an option to change the file name, but right now it only tries to add the sw.js as the service worker.

[2021-01-06 11:30] #11 closed

[2021-01-15 09:55] hannoeru commented on #10
**Need more describe on witch module type and is from cdn or local.**

This plugin only precaching all files in outDir which by default is `dist` folder,
so files needs to be placed in the src or public folder.

[2021-01-15 10:09] DeFUCC commented on #10
Take I have a folder `public/js` with files I include with a `<script>` tag in the `index.html`. I couldn't make them load.

[2021-01-15 14:15] hannoeru commented on #10
@DeFUCC can you provide a link to a repo that can reproduce the problem?

[2021-01-15 15:53] DeFUCC commented on #10
Sorry, I was checking the plugin about a month ago with vite 1. But now with recent vite 2 this plugin work like a charm! I'm really impressed to make my app work full screen and offline so easily!

[2021-01-15 16:25] #10 closed

[2021-01-16 11:30] antfu commented on #1
Supported in #15

[2021-01-16 11:30] #1 closed

[2021-01-16 11:31] antfu commented on #4
#13

[2021-01-16 11:31] #4 closed

[2021-01-19 09:19] domsen123 opened #16 "[Question] sw.js injected inline"
Hi,
im running VitePWA with ViteSSG.
The build process is injecting the sw.js into index.html as inline script..

Can I move this into a separate file?
Don't want to inject this as inline script cause of my Content Security Policy.

[2021-01-19 09:46] antfu commented on #16
Not sure how would that affect PWA registration, but if everything works the same, I am happy to have an option to config whether to inject as an inline script or a separate file. Would you mind to give it a shot and draft a PR? Thanks.

[2021-01-19 11:26] domsen123 commented on #16
#17

[2021-01-19 13:32] antfu commented on #16
Released in 0.3.9 as `inlineRegister: false`

[2021-01-19 13:32] #16 closed

[2021-02-02 11:19] softboy99 opened #19 "getting started doc"
Hi,
i'm newer to pwa, is there any doc/example for getting started? is there "registerServiceWorker.js" like vue cli? where to put the "maniestfest" file? Thanks a lot for your great help.

[2021-02-02 12:33] softboy99 commented on #19
sw.js error in console after build for production, "cannot use import statement outside module" ,"failed to register service worker"

[2021-02-02 13:25] scambier opened #20 ""The start_url did response, but not via a service worker""
Hello,

I installed your plugin over a VueJS 3 / Vite 2 app, configured it as best as I can, and Lighthouse returns this error:
![image](https://user-images.githubusercontent.com/3216752/106606352-527c2480-6562-11eb-96ef-956714f5c6c7.png)

How can I fix this issue?

My vite.config.ts:

[code]

[2021-02-02 17:27] antfu commented on #20
Should be fixed in v0.4.2.

[2021-02-02 17:27] #20 closed

[2021-02-02 17:37] hannoeru commented on #19
example:
https://github.com/antfu/vitesse/blob/8e492449b6a0caebab183d07f9fee0ff3cb09a5e/vite.config.ts#L58-L76

[2021-02-03 07:53] scambier commented on #20
@antfu thanks, but the issue is still present

[2021-02-03 08:52] antfu commented on #20
Did you try to unregister your sw and refresh again? If that doesn't work, can you provide a minimal repro so I can give it a look?

[2021-02-04 01:52] RazerMoon commented on #20
I'm also having this issue.

![image](https://user-images.githubusercontent.com/33849459/106833277-260ff780-668b-11eb-9907-354894589a3e.png)

[Repo](https://github.com/RazerMoon/Vue-PWA)

[Website](https://vue-test-bice.vercel.app/)

https://github.com/RazerMoon/Vue-PWA/blob/35edfcbc99bd90b875c4ed9ccb14e669b36e1531/package.json#L36

https://github.com/RazerMoon/Vue-PWA/blob/35edfcbc99bd90b875c4ed9

[2021-02-04 04:29] hannoeru commented on #20
I think that is a Lighthouse's bug, it has been fixed and will be ship with Chrome 89.
https://github.com/GoogleChrome/lighthouse/issues/10237
Chrome release schedule:
https://chromiumdash.appspot.com/schedule

[2021-02-05 22:59] RazerMoon commented on #20
Just installed the Chrome beta, can confirm it is indeed a Lighthouse bug

![image](https://user-images.githubusercontent.com/33849459/107097850-cf7af880-6805-11eb-9d89-792325753592.png)

[2021-02-06 13:17] userquin opened #22 "Windows path separator: links generated with windows path instead uri path"
When generating PWA on windows, the links are generated using windows file system path separator (via vitesse template):

![imagen](https://user-images.githubusercontent.com/6311119/107119150-f547e200-6885-11eb-9edd-88d3ef81994e.png)

[2021-02-06 14:04] #22 closed

[2021-02-06 16:12] userquin commented on #22
@antfu upgraded dependency and checked links generated ok: remember to upgrade vittese template dependency ;)

[2021-02-06 16:48] userquin opened #23 "Question: Nested paths breaks lighthouse PWA test"
I have found some problems when using nested routes with the plugin: lighthouse cannot resolve `start_url` when in nested path route, for example just request `https://vitesse.netlify.app/hi/a` in private mode on chrome, open dev tools and run lighthouse with PWA check checked:

![imagen](https://user-images.githubusercontent.com/6311119/107119965-152dd480-688b-11eb-84d9-5c9a132c9c84.png)

The pro

[2021-02-06 16:55] userquin commented on #23
You can see this articale: https://dev.to/njromano/how-to-scope-your-pwa-service-workers-1n6m

[2021-02-06 17:59] #23 closed

[2021-02-06 17:59] antfu commented on #23
Can you verify if v0.4.5 fixes your problem? Thanks.

[2021-02-06 18:16] userquin commented on #23
If I remove `start_url`  and `scope` from `vite.config.ts`, the generated `manifest.webmanifest` file has no the `scope`...

![imagen](https://user-images.githubusercontent.com/6311119/107126358-b3339600-68af-11eb-9185-144ab0b9de51.png)

with generated file:

![imagen](https://user-images.githubusercontent.com/6311119/107126325-83848e00-68af-11eb-8830-f564c546f7e7.png)

[code]

[2021-02-06 18:21] userquin commented on #23
@antfu I have not marked this as a bug, in fact I can it make work just configuring it on the configuration file: there is no need to change the code... just was an enhacement, add some hints on the README.md file and done.

[2021-02-06 18:23] antfu commented on #23
The scope would be set to `base` by default from v0.4.6. I think it's good to make things just works if possible, thanks for the notice and suggestions

[2021-02-06 18:51] userquin commented on #23
@antfu do you deploy the demo to netifly when versioning? demo on netifly still with missing scope on manifest file

I have tested that `v0.4.6` generates the scope correctly on pages (inlined) and `registerWS.js` (not inlined) and `manifest.webmanifest`.

[2021-02-06 18:54] antfu commented on #23
What do you mean demo? Vitesse? That's a separate repo and the deps need to update manually (where I often do it once a while)

[2021-02-06 18:54] userquin commented on #23
yes

[2021-02-06 18:55] userquin commented on #23
when you redeploy it, just test the dynamic page...

[2021-02-06 19:39] userquin commented on #23
@antfu I think it will need the header to make it work.

[2021-02-06 19:52] #19 closed

[2021-02-10 11:09] userquin commented on #23
@antfu After some review (vitesse demo) it seems that PWA with dynamic pages are incompatible: a PWA must have an URL for each page, so if we map a page to be dynamic then we got that the service worker cannot resolve it, it is dynamic, and then on ligthhouse we got:

![imagen](https://user-images.githubusercontent.com/6311119/107501331-8aedb500-6b97-11eb-8ad6-24e2c0422ce2.png)

You can see that t

[2021-02-10 12:23] hannoeru commented on #23
Dynamic route should fixed in v0.4.2, and `start_url` is a lighthouse issue #20

[2021-02-10 12:57] userquin commented on #23
@hannoeru can you test vitesse root page demo on incognito mode with Chrome Beta?

I'm testing my app with chrome 88 and I have not this issue in any page.

[2021-02-10 13:01] userquin commented on #23
I think this is not a lighthouse bug, it is something related to the configuration:

![imagen](https://user-images.githubusercontent.com/6311119/107513392-6d751700-6ba8-11eb-9286-5a112b793afc.png)

[2021-02-10 13:03] userquin commented on #23
while the root page of vitesse demo (there is no dynamic page):

![imagen](https://user-images.githubusercontent.com/6311119/107513551-ac0ad180-6ba8-11eb-8b27-3f3eaaa8079b.png)

[2021-02-10 14:35] userquin commented on #23
I don't understand what's happening. I create a simple `test-app.js` (code below) configuring `node` with `node-static` to serve `dist` folder and just works, so I don't know why is failing on netlify.

Just running `node test-app-js`:

![imagen](https://user-images.githubusercontent.com/6311119/107523815-6bfe1b80-6bb5-11eb-9bc4-20b8ac1dbb11.png)

[code]

[2021-02-10 14:53] userquin commented on #23
Something is wrong @antfu , go to vitesse demo page, then open manifest from devtools, it is base64 encoded.

You must configure netlify to server `manifest.webmanifest` files with `application/manifest+json` content type, it is being served with `application/octet-stream` content type.

![imagen](https://user-images.githubusercontent.com/6311119/107525914-9a7cf600-6bb7-11eb-9369-b72ec2f1d063.png)

[2021-02-10 15:00] userquin commented on #23
Add this to `netlify.toml`:

[code]

[2021-02-10 15:29] hannoeru commented on #23
That didn't fixed the `start_url` issue, PR preview:
https://deploy-preview-54--vitesse.netlify.app/

[2021-02-10 15:54] userquin commented on #23
WTF ;) I'm missing something...

[2021-02-10 16:10] userquin commented on #23
Who is setting `x-robots-tag: noindex`?

[2021-02-10 16:14] userquin commented on #23
This prevent to service worker to download the PWA.

Open preview url, open devtools, go to application, remove storage including indexeddb and service workers.

If you press F5, then only workbox and sw scripts downloaded, the rest of the app is not downloaded...

So when testing, just didn0t work, all files are missing from the cache.

[2021-02-10 16:15] userquin commented on #23
If you open the same app on dev, you will see that PWA is downloaded:

Fron localhost via node-static:

![imagen](https://user-images.githubusercontent.com/6311119/107537772-8b03aa00-6bc3-11eb-99ec-bb7dba3b64ee.png)

The same from your preview url:

![imagen](https://user-images.githubusercontent.com/6311119/107537819-97880280-6bc3-11eb-8250-eb8957af5791.png)

[2021-02-10 16:17] userquin commented on #23
@hannoeru

[2021-02-10 16:32] userquin commented on #23
forget previous comments, it seem it is another ghost..

[2021-02-10 17:10] userquin commented on #23
can update `netlify.toml` to include expiration and immutable entries to the `manifest.webmanifest` entry? It is served with `cache-control: public, max-age=0, must-revalidate` and `age: 2035`.

[2021-02-10 17:24] userquin commented on #23
also forgot last comment, tested on local and works as expected with those headers

[2021-02-18 19:49] cypressious opened #24 "Allow manually registering"
By default, the following script is added to the index.html

[code]

If I specify `inlineRegister: false`, I'll get

[code]

I don't see a way how I can control the registration of the service worker myself.

Please add an option to leave out the registration code.

[2021-02-18 23:23] josepot commented on #24
I guess that in the `registerSW.js` file you could have your own logic, e.g:

[code]

What I don't know yet is how to get vite to compile that ^^ file... :thinking: (I'm a noob, today is my first day using vite and I'm also trying to figure these things out :sweat_smile: )

[2021-02-19 03:42] #24 closed

[2021-02-19 03:43] antfu commented on #24
In v0.4.8, with `{ inlineRegister: false }`, you can put your custom `registerSW.js` under your public folder.

[2021-02-19 07:06] domsen123 opened #26 "[Q]: How can I "activate" PWA in Dev Server 🤨"
Hi,

is it possible to generate the manifest and sw.js during dev?

Cheerz

[2021-02-19 07:14] antfu commented on #26
Can you explain a bit about the reason why you want to do this?

[2021-02-19 10:25] cypressious commented on #24
I appreciate the quick fix, but I believe it's not enough in my scenario.

In my registration code, I need to import other parts of my application, register push notifications and so on. It would be best, to be able to not generate anything in the plugin and let me handle everything myself.

[2021-02-19 12:04] domsen123 commented on #26
for testing :)

right now I have some struggle with the caching...
I am using firebase as hosting... if I deploy a new build to firebase hosting, some pages are not updating...

So I was wondering, If I can activate the PWA in my local dev env to check everything and I dont have to build/deploy all the time to staging env.

furthermore: how I can extend the sw.js? I need to add some logic...

I do

[2021-02-19 16:25] userquin commented on #26
Just build the project and then install `node-static` and include the script at bottom of https://github.com/antfu/vite-plugin-pwa/issues/23#issuecomment-776749841

You will need to create an SSL certificate...

[2021-02-19 16:38] userquin commented on #26
you see this entry, to test build over http:
https://stackoverflow.com/a/53388534/385997

[2021-02-19 19:02] josepot commented on #24
I agree with @cypressious 100%. In my case, I need to access different parts of my app in order to determine whether it's safe to skip the waiting phase of the newly installed SW... So, I much rather having the registration logic to happen from the main script of my app.

[2021-02-20 04:45] antfu commented on #24
`{ injectRegister: null }` will do now in v0.5.0

[2021-02-20 10:54] antfu commented on #26
`dev` and `build` are different processes in Vite (the implements are different, so there are many misalignments). I think debugging PWA in dev mode will make it even harder to debug. I'd suggest using build outputs to serve locally as @userquin pointed out.

[2021-02-20 10:54] #26 closed

[2021-02-20 17:05] diogofalken opened #27 "The start_url did respond, but not via a service worker."
I am using vite PWA plugin and I got it working but it's giving me an error in lighthouse related to `start_url`.

![image](https://user-images.githubusercontent.com/39312512/108603052-7aaab680-739d-11eb-9f05-290341a9476c.png)

I left workbox configs untouched in `vite.config.js`, so I wonder what could it be.

The repo where it is being developed is [repo](https://github.com/diogofalken/linktree)

[2021-02-20 17:46] hannoeru commented on #27
Duplicated of #20

[2021-02-20 17:46] #27 closed

[2021-02-20 17:48] diogofalken commented on #27
Thank you and sorry for the duplicated issue

[2021-02-23 21:06] kolaente opened #28 "ValidationError: "importWorkboxFrom" is not allowed"
Hey there, I get this error message when building:

[code]

The build itself seems to work, but I'm not sure what the error message means.

This is my `vite.config.js`:

[code]

[2021-02-24 04:52] antfu commented on #28
There is no such entry for `injectManifest`, refer to https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.injectManifest

[2021-02-24 04:52] #28 closed

[2021-02-25 13:13] lensanag opened #29 "random behaviour"
**Sometimes** the plugin **doesn't add the list of precached files** to service-worker properly; getting an empty array insted.

I running many builds to test the plugin with alternate between modes (injectManifest and generateSW) and configurations and getting the same inconcistent results.

Finally, I download the repo and build a custom variant of the plugin changing the hook used for use workb

[2021-02-25 15:01] #29 closed

[2021-02-28 11:54] leobel96 opened #31 "Automatically add manifest icons to build dir"
Hi, I don't know if it's a bug or a feature request but it would be fantastic if the images listed in the `icons[]` array of the manifest would be automatically added to the build dir (`dist/assets` by default).

[2021-03-04 13:41] scambier opened #33 "Bust cache after a release?"
Hello, I'm not well versed in PWA settings, and your plugin works really well as a 0-config tool (thanks for that).

However, I'm faced with a cache issue when I'm redeploying my app. In that case, I had to rename several api endpoints on my backend, but once the Vue app was built and deployed, all I got was 404 errors because I was still served the app from the cache. Since it's still in dev I si

[2021-03-04 14:26] userquin commented on #33
Hi,

There is a pending think to do about refresh on new content detected.

You can use [register-service-worker](https://github.com/yyx990803/register-service-worker), and do a manual installation of service worker via `VitePWA` configuration on `vite.config.ts` file, something like this:

 `useServiceWorker.ts`
[code]

then on your`main.ts` file (entry point), just import it and then watch `appN

[2021-03-04 14:45] scambier commented on #33
Thanks, that looks like a reasonable solution. I'll keep this ticket open until I implement this properly :)

[2021-03-04 15:10] userquin commented on #33
@antfu As soon I have time I'll try to fix it using workbox instead register-service-worker, I'm very busy at work...

In the meantime this is the approach I'm using on my projects with vitesse template.

[2021-03-05 11:19] userquin commented on #33
@antfu I have a problem about using `workbox-util`, let me explain:

- I'm trying use `Workbox` and `messageSW` to register service worker instead using navigation capabilities.
- I need to do this: [Offer a page reload for users](https://developers.google.com/web/tools/workbox/guides/advanced-recipes#offer_a_page_reload_for_users)

Then, the problem arises, I need to include `workbox-util` as a `

[2021-03-05 11:57] antfu commented on #33
Thanks a lot for the detailed info!

This looks like a good solution to me! We can make an option for people to opt-in with this behavior.

Do we need these tho?

[2021-03-05 11:59] userquin commented on #33
No, just to remove both and do it manually with the `Offer a page reload for users` script: the script (module) included there is what we need to create here

[2021-03-05 12:01] userquin commented on #33
this script will replace manual registration: what this plugin currently does will be replace with the script in `Offer a page reload for users`

[2021-03-05 12:05] userquin commented on #33
What I had in mind was to include `useServiceWorker` in `@vueuse` using `workbox-util` and include the logic described in `Offer a page reload for users` with a callback: `createUIPrompt` would be an option to `useServiceWorker`.

And then, here is the problem again...

[2021-03-05 12:20] antfu commented on #33
I think maybe we don't need to be Vue specific (this plugin is framework-agnostic).

We could update this https://github.com/antfu/vite-plugin-pwa/blob/c2054640b1a81650a8172e1fe1dadb28178e4957/src/html.ts#L9-L16 to put the snippet from `Offer a page reload for users` and ask users to install `workbox-window` if they want to have this feature.

After that, we can provide a minimal example of how to

[2021-03-05 12:29] userquin commented on #33
The problem with this approach is that is not tied to the app ui, that is, we need to add a callback, for example, with my first approach using `register-service-worker` using `appNeedsRefresh`.

I think it would be nice to add the `useServiceWorker` here with the logic, exposing this 2 guys (`appNeedsRefresh` and `offlineAppReady`, and expose some wrapper callback to be called from the ui once th

[2021-03-05 12:30] userquin commented on #33
As you can see the problem is mixing again buildtime and runtime, we need to interact with the ui to activated the service worker.

[2021-03-05 12:34] userquin commented on #33
My suggestion is to include a new `custom` option and generate `useServiceWorker.ts`, but where to put it?. Then instruct/ask the user to include `workbox-build`/`workbox-window` as dependency and show how to use it (something similar in my  response to @scambier).

[2021-03-05 12:37] antfu commented on #33
I am thinking about we serve the register script in a virtual module, so the usage would be like this:

[code]

[2021-03-05 12:41] userquin commented on #33
wait to @scambier response, I think it must work (if not using `skipWaiting` , `clientsClaim` and `cleanupOutdatedCaches`)...

[2021-03-05 12:48] scambier commented on #33
@userquin

The code you proposed actually doesn't solve my issue it seems. In the end it just triggers a `location.reload()`, but a simple refresh isn't enough. Even a `ctrl+f5` with the cache disabled in the network tab doesn't work, I have to unregister the service worker to finally get the latest files.

[2021-03-05 12:58] userquin commented on #33
@scambier yes, this is the problem I have, but with my SPA acting as a MPA (my server build route pages instead just returning/forwarding to index.html), and I havenn't tested on a real SPA, your answer confirms my suspicions...

can you try this one (just change the callback)?:

[code]

@antfu try to make a branch where we can test it before merging into master, the problem is I haven't time...

[2021-03-05 12:59] userquin commented on #33
upps, add `await` keyword: `await registration.update()`

[2021-03-05 13:10] userquin commented on #33
@scambier the problem is that the service worker is installed but not activated, we need to provide a callback to the service worker to control the opened pages/tabs: the lifecycle of the service worker is a little complicated.

What I'm talking with @antfu is to try to activate the service worker once is updated, but we need to change the code.

For example, vuejs 3 (using workbox 4, here we are

[2021-03-05 13:28] userquin commented on #33
@antfu vuejs next docs is using `@vuepress/pwa` and [here](https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/plugin-pwa/index.js) is the code generating the `service-worker.js` file (similiar to this one but touching also the app entry).

It uses a global registered component to show the dialog on new content available.

[2021-03-05 13:38] userquin commented on #33
Following the code, it seems using `Offer a page reload for users` can simplify the logic on `@vuepress/pwa`: see lib directory.

[2021-03-05 14:20] scambier commented on #33
This seems to do the job.

Here's what I have at the moment:

useServiceWorker.ts
[code]

main.ts
[code]

There's just a point I'm missing. In your first response, you wrote

But I'm not quite sure which setting to change.

[2021-03-05 14:24] userquin commented on #33
`vite.config.ts`
[code]

[2021-03-05 14:28] userquin commented on #33
to clear the cache use this:

`vite.config.ts`
[code]

[2021-03-05 14:35] userquin commented on #33
if you don't have `injectRegister: null` you're registering the service worker twice, former in the html and second one in `maint.ts`.

Setting `injectRegister: null` will just remove the registration of the sw from the index.html file (see current index.html and you will see `navigator.serviceWorker.register` or a script tag pointing to `registerSW.js`).

And please, confirm that update call just

[2021-03-05 15:04] userquin commented on #33
Testing on my MPA it seems we need to unregister first, then update and then refresh page, but still service worker not controlling page/tabs.

About the cache @scambier see screenshot below.

I'm checking if `clientsClain: true,` will do the work...

@antfu With this approach there is no need to modify code, just wait until my test can confirm that works...

![imagen](https://user-images.githubus

[2021-03-05 15:28] scambier commented on #33
Ok, the app correctly cleans the cache after a new deployment, but _only_ if I refresh or open a new tab. And in that case, it only reloads the first tab. The `updated: async (registration) => {}` never triggers by itself after a new deployment.

To recap, here's what I currently have.

useServiceWorker.ts:
[code]

main.ts (after `createApp(App)`):

[code]

PWA config in vite.config.ts:

[code]

T

[2021-03-05 16:52] userquin commented on #33
I'm trying to simulate Workbox approach, just copy/paste `workbox-window` into my MPA: if working I'll provide the virtual module to be used...

[2021-03-05 17:24] userquin commented on #33
@antfu confirmed that works at least on my MPA with the `/` route, below the virtual module.

Just update the imports for `workbox-window`, remove the import for `useRouter` and remove the `router.isReady()` callback and remove all unnecesary comments.

The usage is calling `updateServiceWorker` instead reload the window once the user click on the UI once `appNeedsRefresh` is activated.

[code]

[2021-03-05 17:31] userquin commented on #33
after a revision:

[code]

[2021-03-05 17:46] userquin commented on #33
also working on my MPA, just configuring `templatesURL` on `workbox` including all dynamic routes generated on server side.

The configuration for `VitePWA` will be as @scambier reported:

[code]

[2021-03-05 17:48] userquin commented on #33
@antfu I attach here the `copy/paste` files from workbox 6.0 that are the same for 6.1.1 if you want to play with it before starting...

[service-worker.zip](https://github.com/antfu/vite-plugin-pwa/files/6092316/service-worker.zip)

[2021-03-05 17:51] userquin commented on #33
@scambier can you just download the zip from previous comment, unzip it on your src/logics directory (create it if does not exist) and change the logic to import this new one `useServiceWorker` calling `updateServiceWorker` method from the button?

[2021-03-05 19:48] userquin commented on #33
I upload here new service-worker, second approach doesn't work, we need to register on right registration!!!

[service-worker.zip](https://github.com/antfu/vite-plugin-pwa/files/6093016/service-worker.zip)

[2021-03-05 20:13] userquin commented on #33
@antfu ping

[2021-03-07 05:43] antfu commented on #33
Thanks for looking into it. But I am afraid if we need that complicated approach, and wish we are not coupled with Vue. Maybe I will take some time to give a shot later.

[2021-03-07 11:09] userquin commented on #33
This is an example for my tests. We can provide some virtual module
abstracting callbacks and workbox things.

Try to see logic on vuepress....

El dom., 7 mar. 2021 6:43, Anthony Fu <notifications@github.com> escribió:

[2021-03-07 11:12] userquin commented on #33
The problem is that if you dont provide this, the pwa just stop working, see the title of this issue...

[2021-03-07 13:31] userquin commented on #33
One last thing to change about the `ready to work offline message`, we need to listen to `activated` event instead `controlling` one:

[code]

A proporsal will be somethig like this:

[code]

the implementation will be something like this:

[code]

And so, for `vue` (usage) we can have something like this:
[code]

[2021-03-07 13:59] userquin commented on #33
@antfu we need that complicated approach just because of lifecycle of the service worker , there is no another way to do it...

If you look at  `@vuepress/pwa`, that is scary: modify the script generated by workbox-build, also modifying the ui and register listeners ...

[2021-03-07 14:28] antfu commented on #33
Wow @userquin, that's exactly what I was thinking about. Great work!

In the addition of

[code]

When we could have something like

[code]

as the extensions.

[2021-03-07 14:33] userquin commented on #33
It only remains to make it nice and unify the types a little

I started to make the virtual module in the plugin, but I mess with the workspaces, and how to structure everything within the project, although I think it should be outside

[2021-03-07 14:46] antfu commented on #33
@userquin Just sent you the invitation to this project. Appreciated all you have done on this topic!

Please feel free to create a new branch and draft a PR, I am happy to review and help with the discussion and implementation! Thanks

[2021-03-07 14:51] userquin commented on #33
@antfu a few questions:

1) How to start it? Make a new folder for virtual module. Where to put dependencies?
2) How about extensions? I don't have any idea how to begin
3) About react I haven't used it, only vue and some little things with svelte.

Maybe you can add a new branch where I can start (clone it), at least with the structure created...

[2021-03-07 15:04] antfu commented on #33
Re: 1, serving virtual module is actually quite simple, you can see the docs here:
https://vitejs.dev/guide/api-plugin.html#importing-a-virtual-file

Re: 2, they are just like other virtual modules

Re: 3, no pressure on that, we can leave them for the community to contribute, or if you want, you can do the vue part for sure.

[2021-03-07 17:46] userquin commented on #33
@antfu I have a few problems with virtual modules, I cannot use typescript, just plain javascript.

I'm testing example module and I'll make an initial push to my fork.

I have gotten it to at least compile:

`example App.vue`
[code]
`virtual module`
[code]

[2021-03-07 17:49] antfu commented on #33
Great, looking forward to it! Yeah, you should use plain js + .d.ts to make it work. We can still write them in ts and transpile them into js in the dist to serve. If you don't get what I mean, you can leave the ts version in the source code and I can take care of the build setup

[2021-03-07 17:55] userquin commented on #33
ok, later I'll try to have both variants, one commented, just coment/remove what you want.

For you info:

1) added modules.ts, just to create the virtual module(s): currently only plain supported (we need to add vue and react: I'll try to add former)
2) modify index.ts to include `virtualFileId` and added  `resolveId` and `load` hooks to revolve virtual modules
3) `App.vue`: just for testing
4) a

[2021-03-07 18:07] antfu commented on #33
UTC+8, and it's 2 AM for me now :P

I am going to have some sleep now, will get back to you later.

[2021-03-07 22:13] userquin commented on #33
@antfu tested on example project and first push to my branch: https://github.com/userquin/vite-plugin-pwa

Thinks you must see:

1) added `src/modules.ts`: virtual modules with javascript (typescript on a second round). Also a first version to generate `vite-plugin-pwa-register/vue` virtual module.
2) modified `src/types.ts` to include `register` as another option for `injectRegister`.
3) modified

[2021-03-07 22:13] userquin commented on #33
@antfu the animated gif also cannot be sent it is too big.

[2021-03-07 22:17] userquin commented on #33
![new-content-available-2](https://user-images.githubusercontent.com/6311119/110256817-3de4df00-7f9b-11eb-9552-37c171e3c73e.gif)

[2021-03-07 23:07] userquin commented on #33
@scambier @antfu here an animated gif to see the problem described in this issue solved with the new virtual module.

![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/6311119/110258292-307f2300-7fa2-11eb-8268-389adea4ae60.gif)

[2021-03-07 23:46] userquin commented on #33
@antfu added ssl certificate for `localhost`

you only need to add this content on `example/.env.local.json` file:

[code]

[2021-03-08 00:24] userquin commented on #33
I think we need to add a test with `vue-router` (at least 1 more route, for example `about`) to confirm that works, I just test with `/` and we need to confirm that another routes get update also with its assets.

My test with my MPA is working with `vue-router`, but still with `vite and vitesse v1`.

[2021-03-08 07:29] scambier commented on #33
Hello, it seems you had a productive weekend ^^

It's not really clear from your gifs though, does the "new content available" trigger by itself, without first requiring a manual reload of the app?

[2021-03-08 07:41] antfu commented on #33
Wow! @userquin thanks for so much work you have done! Please let me take some time to go through it. Instead of doing it in the fork, please do that on the main repo so we can better collaborate. I have created https://github.com/antfu/vite-plugin-pwa/tree/feat/sw-enhancement branch and forward your commits to it. And I will do the review and changes on it as well. Thanks a lot!

[2021-03-08 09:36] userquin commented on #33
@scambier

- the former animated gif is just entering url on browser and press enter, then the toast appears without nothing more first time the service worker is installed
- second animated gif just shows previous page, clicking on navigation bar then pressing enter (before that I just make a change on App.vue to create a new version for at least index.js asset): after a few seconds (miliseconds,

[2021-03-08 09:37] userquin commented on #33
![imagen](https://user-images.githubusercontent.com/6311119/110303102-491b2780-7ffa-11eb-810e-0bce51103ccd.png)

[2021-03-08 09:38] userquin commented on #33
![imagen](https://user-images.githubusercontent.com/6311119/110303208-694ae680-7ffa-11eb-8dc6-8cc85e59a0a9.png)

[2021-03-08 09:40] userquin commented on #33
@scambier screenshots for previous descripcion take on the captured video: on last image you can see the spinner on the tab: sorry my edge browser is on spanish (at least the states in english).

[2021-03-08 09:41] userquin commented on #33
@antfu Have you make the PR to the new branch?

[2021-03-08 09:50] userquin commented on #33
@antfu ok, I misunderstood your comment, you have already updated the new branch with my commits.

[2021-03-08 09:53] userquin commented on #33
@antfu A question about virtual modules: I work with IntelliJ (that needs some plugin rework to support setup script and things like virtual modules).

Do VSCode resolve this virtual modules?

![imagen](https://user-images.githubusercontent.com/6311119/110305031-8bddff00-7ffc-11eb-9901-223cb539a45a.png)

[2021-03-08 09:59] antfu commented on #33
@userquin man, I'd say it working really well. Thanks again. I have made a few changes to the branch, please take a look

- You can now use TS to write code for the generated code, the build process will transpile it to js
- .d.ts solved.
- A few changes to the example, now every time you build, the dist will be default as it contains the current time info for you to check if the reload is success

[2021-03-08 10:03] scambier commented on #33
@userquin Alright, so you still need to do a manual reload so that it can detect that app has been updated, right? I understand that you generalized everything to get that inside the plugin, but I thought (erroneously?) that the worker would be able to detect itself that `sw.js` had been updated without needing a reload.

[2021-03-08 10:07] userquin commented on #33
@scambier YES, the user has to take the control about it, you cannot refresh automatically: all articles I have read from google stuff explains that you cannot do it automatically (a user filling a form can lost the data).

About to self detection can be done with push notifications.

Usually, the detection is when the user re-enters to the a page (that triggers a "fresh" request), pwa installed o

[2021-03-08 10:09] userquin commented on #33
@antfu your changes look awesome, I'm using typescript for 3 or 4 months so I'm very new...

[2021-03-08 11:08] scambier commented on #33
There's a misunderstanding here. I'm asking if the prompt "_new content, please refresh_" will show itself without user intervention, if the worker can detect that `sw.js` has been updated so the prompt needs to be shown.

Because if you need to refresh the app to trigger showing the prompt, what's the point of it? Sorry if the answer is obvious, but I'm having a hard time following this whole thr

[2021-03-08 11:56] userquin commented on #33
No: always the user intervention is required. Instead waiting the user open again any webpage of your site (or press F5), from your server you can send a push notification to update the service worker, just like if the user open the browser again o press F5.

But this is another history, you will need to suscribe the client on server side to this notifications...

A service worker needs the browse

[2021-03-08 12:09] scambier commented on #33
If I'm getting your explanations right, I need to reload the app so that it can show me a prompt asking me to reload. So what's the point? I'm already reloading the app, I might as well clear the cache while I'm at it, instead of asking for another refresh.

[2021-03-08 12:30] userquin commented on #33
You describe a test scenario. Users just visit your page, then shutdown the laptop, or just hide the browser on mobile. If you want to avoid your users to reload pages to see if there is a new version, you just configure push notifications on your server side and then suscribe to it your website.  Then the user don't need to refresh to see if the is a new version, the server will notify them when

[2021-03-08 12:47] scambier commented on #33
Ok, then [the issue is solved since Friday](https://github.com/antfu/vite-plugin-pwa/issues/33#issuecomment-791448708), or is there something obvious I'm missing?

[2021-03-08 12:52] userquin commented on #33
@scambier

No, the issue is being resolved, @antfu has create PR #34 . Once merged on main it will be resolved also this issue ()do not close it, github will close automatically).

Anyway, read service worker documentation, maybe your app cannot be used with a service worker, you need to review if matches your requisites.

For example, my MPA was originally to be 2 native apps to work on android a

[2021-03-08 16:28] userquin commented on #33
@scambier https://github.com/antfu/vite-plugin-pwa/pull/34/commits/15f51070f4e235e76a51d8ba8484b783e296a4e9

[2021-03-08 17:00] MartinMalinda commented on #33
I tried to read through the discussion here and I'm afraid I couldn't really digest it all :d So a quick question:

Couldn't I just have a `networkFirst` strategy on the main index.html file? Or that is not allowed from the PWA point of view? The html file on `/` simply has to be delivered from cache no matter what?

[2021-03-08 17:12] userquin commented on #33
@posva welcome to the hell: the main problem is bypass the broser cache and then its own cache: the new version will use StaleWhileRevalidate strategy, that means, go to cache and then in background go to server and then update if necessary.

If we go NetworkFirst strategy then we don't need the service worker, only for offline requirement. In some situations this will work but as a general soluti

[2021-03-08 17:53] userquin commented on #33
@posva Creo que hablas español, te lo explico a ver si resuelve tus dudas.

El problema con los service workers es que tiene un ciclo de vida bastante entrerrevesado y por eso hay cosas que no encajan o no cuadran bien.

El principal problema está en el lapso de tiempo entre que un service worker está esperando a ser activado (skip waiting) y el momento en que se activa (activated). Esto que parec

[2021-03-08 18:36] posva commented on #33
@userquin creo que te equivocaste de ping 😅
Buena suerte!

[2021-03-08 21:16] userquin commented on #33
Leches pues ni me he dado cuenta, perdona Eduardo por las molestias, juraría que escribí el nombre bien al responder, habrá sido el autocomplete de las narices... como el predictivo del telefono

[2021-03-09 15:37] MartinMalinda commented on #33
Nuxt seems to also go in this direction: https://github.com/nuxt-community/pwa-module/issues/406

[2021-03-09 16:41] userquin commented on #33
I forgot to mention that the current version is using `workbox.runtimeCaching`, you can see it on `src/cache.ts`, in #34 this file has been removed in favor of `precaching` via `precacheAndRoute`. The strategies used in the script are using `NetworkFirst` for `html`, and `StaleWhileRevalidate` for `sw.js` and `workbox-**.js` files (for `.js` files in general), but the problem still persists.

[2021-03-10 10:30] userquin commented on #33
@MartinMalinda following your links, I think we have the same behavior described in https://github.com/GoogleChrome/workbox/issues/1767#issuecomment-729495174

What the new PR #34  generates is this:
[code]

I will test if enabling `skipWaiting` and `clientClaims` on `workbox` entry of `VitePWA` has the effect you want: enabling this 2 flags then, `workbox-build` will replace:
[code]
with:
[code]

[2021-03-10 10:55] userquin commented on #33
We have this:

![imagen](https://user-images.githubusercontent.com/6311119/110618656-3ee26000-8197-11eb-8f87-ff987fa57730.png)

Pressing F5 or pressing enter on url box (see the date, it is updated before the new sw is activated):

![imagen](https://user-images.githubusercontent.com/6311119/110618161-c4b1db80-8196-11eb-98d7-5701ac05c7f5.png)

and with no user notification:

[2021-03-10 13:02] kolaente opened #35 "Resolve imports when bundling"
As per [the workbox docs](https://developers.google.com/web/tools/workbox/guides/get-started#precaching), I have this in my service worker file:

[code]

However, when I build my app, that part stays the same which results in the service worker not working because browsers can't execute js `import` statements in service workers (at least for now). It fails to execute the service worker with the er

[2021-03-10 13:17] kolaente commented on #35
That gives me this error when building:

[code]

[The docs](https://github.com/antfu/vite-plugin-pwa#wip-advanced-injectmanifest) say I'd need to configure that top level when using `injectManifest`.

[2021-03-10 15:33] stefba commented on #20
This bug effectively breaks the normal PWA "Add to home screen" behavoir of my app. (The little Chrome icon is displayed on top of the app.) I am already on Chrome Mobile 89 on Android.

[2021-03-11 02:01] userquin commented on #35
Hi again, I have it working, I ask @antfu and waiting its response:

[code]

[2021-03-11 02:41] userquin commented on #35
The problem is that the sw.js is sent to the client, but this script is not a module, you need to transform it or use the approach using `importScripts` instead `import`.

https://developers.google.com/web/tools/workbox/modules/workbox-sw

[2021-03-11 14:53] userquin commented on #35
I have found this bug: https://bugs.chromium.org/p/chromium/issues/detail?id=824647

We cannot use esmodules yet on service workers: once implemented, we can use using `type: 'module'` on `RegistrationOptions`:
[code]
The broswer fails to load the sw with:
`type 'module' in RegistrationOptions is not implemented yet.See https://crbug.com/824647 for details.`

[2021-03-11 17:18] kolaente commented on #35
@userquin how would I go about transforming the SW? I actually thought this is what this plugin would do.

I knew about the module type when registering a service worker, it's just not something I would do for a production app given the lack of browser support at the moment.

[2021-03-11 18:05] userquin commented on #35
@kolaente Yeah, I was talking with @antfu and there is a pending branch [here (bundle-sw)](https://github.com/antfu/vite-plugin-pwa/tree/bundle-sw).

Anyway, in the docs, it is marked as `WIP: working in progress` , so you cannot configure the plugin in this way (the plugin, right now,  just will paste the source in the the destination, if it is a module it will not work, so you need to change you

[2021-03-12 21:38] userquin commented on #35
@kolaente `workbox` folks haven't consider this yet, just see issue 2588 from `workbox` repo, maybe on `v7`... or once resolved https://bugs.chromium.org/p/chromium/issues/detail?id=824647 (and in all browsers)

You can see there some implementations, for example see this using workbox-v4 and look into package.json:
- https://github.com/webmaxru/angular-pwa/blob/workbox-v4-bundle/src/service-worke

[2021-03-12 22:13] userquin commented on #35
@hannoeru maybe this will help you for `bundle-sw`. I have a pending push on `sw-enhancement` branch to include `Network first` for `injectRegister`.

If you need some feedback, just contact me here or on discord...

[2021-03-12 23:35] userquin commented on #33
@MartinMalinda I have on local the `injectRegister: 'networkfirst'` option almost ready, as simple as:

[code]

this is what it generates on build (it needs a review, but it works: basically try call `copyWorkboxLibraries` after calling `injectManifest` to remove unnecessary `workbox` libs, see https://github.com/antfu/vite-plugin-pwa/issues/35#issuecomment-797770403):

[code]

[2021-03-13 02:30] userquin commented on #35
@hannoeru I have pushed `sw-network` branch

I'm trying another approach: see https://developers.google.com/web/tools/workbox/modules/workbox-recipes

Instead having an awful `ts` file with `importScript` I'm doing some play with the link above, trying to do the same but for custom receipts.

The result will be more redeable (see `src/receipts/networkfirst/index.ts`):
[code]

[2021-03-13 08:31] Mehdi-Hp commented on #35
Until a more robust solution, I went with bundling  service-worker.js after Vite's build.

`rollup.sw.js`

[code]

`package.json`

[code]

[2021-03-13 08:50] kolaente commented on #35
@userquin The bundle branch looks like a great solution. When do you think this could be used in production? I'd happily beta test it.

[2021-03-13 08:51] kolaente commented on #35
@Mehdi-Hp looks great per se, wondering if that could be integrated more into vite. But I guess then we're back to this plugin again 🙂

[2021-03-13 08:51] kolaente commented on #35
@Mehdi-Hp looks great per se, wondering if that could be integrated more into vite. But I guess then we're back to this plugin again 🙂

[2021-03-13 12:21] userquin commented on #35
@hannoeru or @antfu should answer this: when done I will use it on the `recipes / receipts` ones,` sw-networkfisrt` is a proof of concept I am toying with.

The idea behind this is to abstract the user from using `workbox`, `rollup`, `babel`, ` vite` ... Just use what this plugin provides, it is very ambitious ;).

[2021-03-15 15:42] dheimoz commented on #33
Awesome work!!!!!

[2021-03-16 07:11] hannoeru commented on #35
If someone wants to finish bundle-sw branch, feel free to do that!

[2021-03-16 11:18] userquin commented on #35
@antfu @hannoeru

I'm playing with web workers and it is really strange: I thought that we cannot use `new Worker('someurl', { type: 'module' })` on safari and firefox, but this is wrong. We can use `module` in all browsers, but in firefox and safari, the content cannot have `import` statements (an es module), this is not allowed (just plain javascript, es2017 or whatever we want, or using `import

[2021-03-16 19:30] userquin commented on #35
The test is working, with some manual configuration but at least working, now we need to find a way to do the following, if possible:

First, the configuration:

1) add `tsup`, `esno` and `workbox-precaching` as `dev dependencies` for the target project: in my case, I use `examples/vue-basic` from `sw-enhancement` branch:
[code]
2) add `sw.ts` to  `examples/vue-basic` with content:
[code]
3) add `

[2021-03-16 19:31] userquin commented on #35
![imagen](https://user-images.githubusercontent.com/6311119/111368801-98b2c080-8696-11eb-9547-09b068880252.png)

[2021-03-19 08:02] MartinMalinda commented on #33
@userquin that's awesome 🙇 I'll try to test it in upcoming days

[2021-03-25 05:27] #33 closed

[2021-03-25 12:04] userquin opened #37 "error when registering pwa with virtual module on SSR/SSG build"
When using virtual modules to register the sw for `Prompt for new content refreshing` or `Automatic reload when new content available` on `SSR/SSG` fails on build: `ReferenceError: navigator is not defined`

[2021-03-25 12:37] userquin commented on #37
this must be fixed on target project, just check for `typeof window !== 'undefined'` and then import `useRegister` with dynamic import:

[code]

[2021-03-25 12:37] #37 closed

[2021-04-01 16:38] pikax opened #38 "Provide types for the client functions"
Provide some typings for the `virtual:pwa-register/vue` & `virtual:pwa-register` imports

example:
[code]

[2021-04-01 16:39] userquin commented on #38
fixed on version `0.6.4'

[2021-04-01 16:39] antfu commented on #38
I think we have it https://github.com/antfu/vite-plugin-pwa/blob/master/client.d.ts, did you have `types` in tsconfig.json?

[2021-04-01 16:41] pikax commented on #38
I haven't, checked the https://github.com/antfu/vite-plugin-pwa/tree/master/examples but there's not types there, might be useful to add an typescript example :)

[2021-04-01 16:44] #38 closed

[2021-04-01 16:52] antfu commented on #38
It should work out-of-box. Asking because sometimes when you specify `types` in tsconfig.json it will disable the auto-discovery.

[2021-04-01 16:54] pikax commented on #38
My tsconfig is pretty simple 🤔
[code]

[2021-04-02 03:05] WintonLi opened #39 "First build fails when the plugin is enabled for Vue 3.0"
**Problem**:
When building a Vue 3.0 project that hasn't been built before, the plugin raises errors e.g. (the actual error depends on the configuration):
[code]
I am not very sure if this only happens to my project because I am very new to Vue and Vite.

**Environment**: Windows 10

**Dependencies**:
[code]

**Build script**:
[code]

**How to repeat**:
Clone a project that has been successfully b

[2021-04-02 11:03] userquin commented on #39
@WintonLi can you show `dev dependencies`? Since `0.6.4` (fixing #33) there was some changes (including workbox dependencies that fails on your build) that can be solved updating pwa plugin dependency. Try to just remove it and reinstalling (`yarn remove vite-plugin-pwa` + `yarn add -D vite-plugin-pwa`).

[2021-04-02 11:58] WintonLi commented on #39
@userquin Thanks for the reply. The version is indeed 0.6.4:
[code]

[2021-04-02 12:03] userquin commented on #39
@WintonLi can you show the `VitePWA` configuration you have on `vite.config.ts` or `vite.config.js` file?

[2021-04-02 12:29] WintonLi commented on #39
@userquin The following is the relevant code in the `vite.config.ts`:
[code]

and the `createVitePlugins()` is defined as:
[code]
I tried different PWA configurations:
Attempt 1:
[code]
Attempt 2:
[code]
Attempt 3:
[code]
and more. None of them were successful. I ended up commenting out all the relevant PWA codes and ran the build. After that, uncommenting the codes and built again, and that time

[2021-04-02 14:56] userquin commented on #39
@WintonLi  can you elaborate a minimal repo so we can test it?

[2021-04-03 08:23] WintonLi commented on #39
@userquin Strangely I couldn't reproduce the problem. I clone the problematic project, following the same procedure I used before, and the project built successfully. I have no clue what happened.

Anyway thanks for the attention. I will close the issue now, and update if I have anything new.

[2021-04-03 08:23] #39 closed

[2021-04-03 15:59] qgates opened #40 "Cannot find module 'virtual:pwa-register' in vscode"
Hi, vscode is showing error ts2307 on the line `import { registerSW } from 'virtual:pwa-register'` which is near the top of my `app.ts` file. Everything compiles and works, but vscode is complaining. I'm wondering whether it's a problem or something I missed?

[2021-04-03 16:19] userquin commented on #40
@qgates see https://github.com/antfu/vite-plugin-pwa/issues/38

[2021-04-03 16:29] qgates commented on #40
@userquin thanks, I tried adding `"node_modules/vite-plugin-pwa/client.d.ts"` to `include` array in tsconfig, but it hasn't helped?

[2021-04-03 17:17] qgates commented on #40
Made some progress. Removing `node_modules` from the exclude path in `tsconfig` the above seems to work. So it seems tsconfig `exclude` overrides `include`.

As an aside, I'm not sure if this is a smart approach. Removing `node_modules` exclusion means that tsc (when used) will attempt to compile everything in there, and likely spit out a number of errors not related to the project?

Changing the

[2021-04-03 17:54] userquin commented on #40
@qgates see this https://stackoverflow.com/questions/46754794/typescript-tsconfig-json-include-exclude-not-working

[2021-04-03 18:17] antfu commented on #38
Maybe you need to include `vite.config.ts` instead I guess, since TypeScript enables type by looking for the import of `vite-plugin-pwa`

[2021-04-03 18:18] antfu commented on #40
Can you share a minimal reproduction? Thanks.

[2021-04-04 01:55] qgates commented on #40
@antfu thank you, see below for a summary, let me know if you need anything else.

See the below (not working) `tsconfig.json`

If I remove `node_modules` from `exclude` in tsconfig.json, the problem goes away, but only if `"node_modules/vite-plugin-pwa/client.d.ts"` is present in `include`. But this raises a few questions:

1. In the case where `node_modules` **isn't** excluded, shouldn't `"inclu

[2021-04-04 01:57] qgates commented on #40
Thanks @userquin, that helped clarify things

[2021-04-04 04:57] userquin commented on #40
@qgates
The pwa plugin is a dev dependency, the plugin itself is not compiled, it is already compiled (the dependency has not any ts file, it is build here as an esm module + 2 d.ts files), just like a c++ include or an import on java of an external dependency lib.
You only need to tell compiler where to find it, in this case node resolution (once installed, for example, like a maven or gradle dep

[2021-04-04 05:51] krypticallusion opened #41 "Plugin doesn't work on React vite template?"
[code]

Upon build

[code]

Do I have to install vue for this plugin to work?

EDIT:

I had to include `node_modules/vite-plugin-pwa/client.d.ts` in `tsconfig.json` for VScode to even pick up that such a module exists.

[2021-04-04 06:25] userquin commented on #41
@krypticallusion can you provide a minimal repro so we can test? thanks

[2021-04-04 06:30] userquin commented on #41
@krypticallusion,  can you can try to add the entry on the `tsconfig.json` file (if you have exclude `node_modules` maybe will not work)?

[2021-04-04 06:34] userquin commented on #41
@krypticallusion can you add types with this?:
[code]

[2021-04-04 06:36] userquin commented on #41
![imagen](https://user-images.githubusercontent.com/6311119/113500755-e184c900-9520-11eb-9dbd-b4175a88ea08.png)

[2021-04-04 06:38] userquin commented on #40
@qgates

try adding entry on `types` on `tsconfig.json` file: `"vite-pluginb-pwa/client"`

![imagen](https://user-images.githubusercontent.com/6311119/113500765-feb99780-9520-11eb-9648-e89e21848937.png)

[2021-04-04 06:53] krypticallusion commented on #41
https://github.com/krypticallusion/test. This is a fine test repo?

I've tried your above suggestions but they seem to be in vain.

Thanks!

[2021-04-04 06:55] userquin commented on #41
@krypticallusion add `include` instead `types` (similar to exclude in previous picture):
[code]
I'll try with you repro...

[2021-04-04 07:01] #41 closed

[2021-04-04 07:05] krypticallusion commented on #41
0.6.5 seems to resolve the issue. Thanks!

[2021-04-04 07:08] userquin commented on #40
@qgates can you try with new `0.6.5` version?

[2021-04-04 07:34] pikax commented on #38
My `vite.config.ts` has a bit of code 😅

Where's without all the other noise
[code]

[2021-04-04 17:12] qgates commented on #40
@userquin that works, thanks

0.6.5 doesn't change anything specific to this issue, although it does stop vscode complaining about `Ref` if I open vite-plugin-pwa/client.d.ts (since I'm using vue2 in this project).

So it appears the `types` approach works in addition to options 3, 4 in my post above. Your approach is the cleanest so that's probably the way to go. Many thanks.

I created PR #42 to

[2021-04-04 17:12] #40 closed

[2021-04-08 08:38] #35 closed

[2021-04-08 09:43] softboy99 opened #44 "Could not resolve entry module (public\sw.js)."
Could not resolve entry module (public\sw.js).

[2021-04-08 09:48] antfu commented on #44
Can you share a minimal reproduction? Thanks.

[2021-04-08 09:49] softboy99 commented on #44
Hi
you can close it. just write sw.js in public folder making it works

[2021-04-08 09:50] #44 closed

[2021-04-12 00:26] NotWoods opened #46 "Inline workers break SW generation because they call closeBundle early"
When generating an inline web worker, Vite passes all its plugins to Rollup to create a bundle for the worker. Unfortunately that inner Rollup job [calls bundle.close and triggers closeBundle](https://github.com/vitejs/vite/blob/main/packages/vite/src/node/plugins/worker.ts#L62) before any files are in the output folder. As a result, workbox-build throws an error because it can't find anything.

[2021-04-12 00:42] userquin commented on #46
@NotWoods can you include errors and vite and npm/pnpm/yarn versions? It seems to be a problem with `vite` itself.

[2021-04-12 00:45] userquin commented on #46
@NotWoods Can you provide a repro?

[2021-04-12 01:32] userquin commented on #46
The line linked is a bug that is being solved in vite,  the problem is that these line doesn't await promise returned and then is closed at any time later and in your case breaking the build.

[2021-04-12 02:02] userquin commented on #46
The line you link on vite should be like this: https://github.com/antfu/vite-plugin-pwa/blob/master/src/modules.ts#L52

In fact in your vite pr you have the same error, add await when closing the bundle...

[2021-04-12 23:27] userquin commented on #46
I write you on discord (`ViteLand`) on `plugins` chat: this must be fixed on `vite` side.

@antfu we should review if only including `vite:esbuild`, `vite:resolve` and `vite:terser` instead excluding, we need to do some tests.

[2021-04-13 13:55] jahidanowar opened #47 "Browser is not detecting Service Worker"
I have configured the manifest option as per the docs but still, the service worker is not detected by the browser.

My Dependencies
[code]
Here is my repo [https://github.com/jahidanowar/qrcodescanner](https://github.com/jahidanowar/qrcodescanner)

[2021-04-13 13:59] userquin commented on #47
the service worker is only generated when building, not for dev: see https://github.com/antfu/vite-plugin-pwa/issues/26

[2021-04-13 14:12] userquin commented on #47
You can install this dependency as a dev dependency: `npm i --save-dev localhost-https`.

Then add this script to your `package.json`:
[code]
To test service worker just run this:
`npm run build && npm run preview-https`

First time you run it, will ask you about installing a certificate (that will be generated for you), confirm installation on OS (keychain on macosx and certificate manager on win

[2021-04-13 14:15] jahidanowar commented on #47
It's not working on production as well.

[2021-04-13 14:17] userquin commented on #47
what's the url?

[2021-04-13 14:19] jahidanowar commented on #47
Here is the deployed version (It is deployed on vercel): [https://www.qrcodescanner.net/](https://www.qrcodescanner.net/)
This is my repo: [https://github.com/jahidanowar/qrcodescanner](https://github.com/jahidanowar/qrcodescanner)

[2021-04-13 14:30] userquin commented on #47
I'll take a look

[2021-04-13 14:35] userquin commented on #47
Just cloned and works:

![imagen](https://user-images.githubusercontent.com/6311119/114570625-44d7cf00-9c76-11eb-9020-726002d434fb.png)

[2021-04-13 14:40] jahidanowar commented on #47
I forgot to call `registerSW()` on main.js. Now it's working fine. Thanks for the quick response.

[2021-04-13 14:40] #47 closed

[2021-04-15 11:18] stefanholzapfel opened #48 "Don't auto-create webmanifest"
Hi!

Is it possible to NOT auto-create and inject the manifest.webmanifest but only generate the service worker?

My manifest needs to be loaded from a different server.

Thanks.

[2021-04-15 11:31] stefanholzapfel commented on #48
@hannoeru Your enhancement label makes me guess that this is not possible atm? :) Thank you!

[2021-04-15 12:13] #48 closed

[2021-04-26 09:36] liyasthomas opened #52 "Bug: Netlify redirects do not work anymore"
**Description**
I've a simple Vite project at https://github.com/liyasthomas/liyasthomas.com hosted on Netlify with some redirects on sub pages. I installed `vite-plugin-pwa` and now its redirects are not working anymore. PWA plugin's readme doesn't have anything regarding how installing `vite-plugin-pwa` affects routing.

**Steps to reproduce**
1. Spin up a Vite + Vue 3 project
2. Host on netlify

[2021-04-26 12:04] userquin commented on #52
@liyasthomas what do you expect to happen? I just fork your repo, and is working, at least in local. All your links are external to the app, so maybe there is a problem with your `netlify.toml`: all links to twiter and github are excluded from the pwa. The pwa plugin cannot track external resources, see your `sw.js` on production: to test locally, just run `npm i -D https-localhost` and add this s

[2021-04-26 12:08] liyasthomas commented on #52
Thanks for the quick response. I figured it out.

[2021-04-26 12:08] #52 closed

[2021-04-26 15:58] dheimoz commented on #52
Hi @liyasthomas I wonder if you can share how you can sort it the issue. It will benefit the community.

Thanks.

[2021-04-27 05:42] rehhouari opened #53 "include custom files/dirs in sw cache?"
Hello,
I have a directory `/public/images` which contain icons. the icons are referenced in `index.html` and the pwa webmanifest as `/images/icon-x.png`.
The images directory is moved to the dist folder on build, as expect. but it is not included in the cache, which is kinda expected as well.
Can I include it manually? The images disappear right after reload when the app goes offline.

Note: I've

[2021-04-28 11:49] haliuhei opened #54 "Pictures cannot be accessed when offline"
Modify based on this example
[https://github.com/antfu/vite-plugin-pwa/tree/master/examples/vue-router](https://github.com/antfu/vite-plugin-pwa/tree/master/examples/vue-router)

vite.config.js
[code]
packjson.js
[code]

In /src/pages/About
[code]
`yarn start`
open https://localhost  Logo no problem

Refresh or re access the address after offline, and the logo will not be displayed
Want to realize

[2021-04-28 15:48] cawa-93 opened #55 "How disable `injectManifest` ?"
I Try use this plugin in Electron app.

Technically, this is a web page with a strict Content-Security-Policy.
During development, the page runs at `http://localhost:3000`, and in the production environment as `file:///C:/path-to/app/resources/index.html`

Precache, I think, is not very important for my, because all assets are located locally anyway. But using the schema `file:` imposes certain pr

[2021-04-28 16:01] userquin commented on #55
@cawa-93 try this:
[code]

[2021-04-28 16:09] cawa-93 commented on #55
@userquin It not help. Generated `sw.js`:

[code]

Expected:
[code]

[2021-04-28 16:23] userquin commented on #55
@cawa-93 what do you want to do, generating a custom `sw` or just exclude registering on `index.html`?. For the former see [Advanced (injectManifest)](https://github.com/antfu/vite-plugin-pwa#advanced-injectmanifest), and for last one check if using `injectRegister: null` just do not register the `sw.js` on generated `index.html`.

If you don't need to register the `sw.js`, what this plugin genera

[2021-04-28 16:28] userquin commented on #55
@cawa-93 I'll try to see if there is an option on `workbox` to disable `workbox.precacheAndRoute`, and so you can override default configuration of `workbox` in `VitePWA`. Keep in mind there is a lot of configuration options, and it is hard to remember all.

[2021-04-28 16:37] userquin commented on #55
@cawa-93 this plugin just call `generateWS` from `workbox-util` providing a merged configuration from defaults ([see this](https://github.com/antfu/vite-plugin-pwa/blob/master/src/options.ts#L75)) and provided on configuration plugin. You can see the options [here](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.generateSW). Just use `workbox` entry on `

[2021-04-28 16:40] cawa-93 commented on #55
@userquin
[code]
Do what i expected. Thanks.

[2021-04-28 16:40] #55 closed

[2021-04-28 16:45] userquin commented on #55
@cawa-93 thx, @antfu I'll use your hint to fix another pending task here about including manifest icons on the precache and routing output.

[2021-04-28 23:53] rehhouari commented on #54
Same issue I've posted (#53) but I asked for a possible solution rather than stating the problem in the title ^^

[2021-04-29 17:34] cawa-93 opened #56 "Is it possible somehow register a serviceWorker in `development`?"
I understand that in most cases it's superfluous but I have a slightly non-standard case)

My application is mostly placed on the third party's api. This API works slowly, and has a limit for requests. On `development` (when you often load and reload page many times), the page I create a lot of requests to this api, it slows down my work and exhausts all the limits.

I see a service worker as a go

[2021-04-29 21:09] userquin commented on #56
@cawa-93 Why are you trying to cache ui with remote data instead adding a proxy/middleware (abstraction layer) serving for example mock json files simulating remote api service calls?.

I use this approach for html ppl that does not have access to backend, including CRUD operations (just a mock server with express accessing local json files).

You can use a proxy and provide a url to fetch data an

[2021-04-30 07:09] cawa-93 commented on #56
@userquin  Because
- I'm working on a serverless desktop application.
- I do not cache static files ui at all.

The service worker performs this task: he works as a proxy to the third-party API and caches successful requests. And **only** requests to third party APIs are cached, nothing more. Actually, this is all that in my case requires a service worker. I don't think it makes sense to run a loc

[2021-05-07 20:04] Mehdi-Hp opened #57 "updateServiceWorker does nothing"
I'm using `injectManifest` mode and this is my config
[code]

And later on to implement the ReloadPrompt component,

[code]

But `updateServiceWorker` practically does nothing.
It just returns a promise that resolves to nothing.
I looked into the source code and saw `if (!auto) {` in `updateServiceWorker` function.
Then saw this `const autoUpdateMode = '__SW_AUTO_UPDATE__'` which `updateServiceWor

[2021-05-07 23:09] userquin commented on #57
@Mehdi-Hp take a look at https://github.com/antfu/vite-plugin-pwa/tree/master/examples/vue-basic-inject-manifest, see its `vite.config.ts` configuration file

[2021-05-08 12:36] hyvyys opened #58 "Vue-router example is incomplete"
Steps to reproduce:
1. Build the vue-router example from https://github.com/antfu/vite-plugin-pwa/tree/master/examples/vue-router
[code]
2. Serve it and install the PWA
3. Open the PWA, navigate to About, then refresh – results in 404

[2021-05-08 14:43] userquin commented on #58
@hyvyys you need to build and serve it using `start` script. Just run `yarn start` from `examples/vue-router` directory, proceed with installing ssl certificate when prompted and open `https://localhost` on browser.

Using `yarn` instead `pnpm` still works for me (you need install `vite-pwa-plugin` `0.7.3` when yarn prompted asking for version):

![imagen](https://user-images.githubusercontent.com

[2021-05-08 15:36] Mehdi-Hp commented on #57
@userquin Oh thanks. I can update the docs if you think it's necessary.

[2021-05-08 16:19] userquin commented on #57
@Mehdi-Hp you can make a PR, I'll try to review it

We need to include a more detailed documentation, it is complex to understand how the service worker works.
Perhaps we could include a first version and debug it, keep in mind that there are a lot of configurations, from the configuration of the plugin itself through the workbox configuration.
If we add to the above, injecting a custom service wo

[2021-05-08 16:23] hyvyys commented on #58
I apologize. I does work, even when using yarn build.

Note to future self: do not test such things on localhost when everybody and their mother tells you it doesn't work that way ;)
Sorry for wasting your time, and thanks for the swift reply anyway.

[2021-05-08 16:24] #58 closed

[2021-05-08 16:52] userquin commented on #58
@hyvyys The vue-router example is for testing the service worker not the PWA. It works without server connection (Im'm testing without the server started once installed), but for working offline you need to add manifest entry on `vite.config.ts` file, see for example vitesse template (almost icons and title).

[2021-05-09 02:23] dheimoz commented on #58
Hello @hyvyys, the whole PWA concept is difficult to grasp, at least for me. If you have an hour to spare I suggest you reviewing the information and the video at:
https://firt.dev/pwa-cheat-sheet-2020/

As @userquin has stated, one thing is the Service Worker and another different thing is the manifest.

I see the SW as a "mini" webserver that intersects your http petitions and depending on the c

[2021-05-10 15:40] stefanholzapfel commented on #53
I tried the include property of injectManifest options:
[code]

but the I get a build error stating:

[code]

[2021-05-11 08:22] mesutgok opened #61 "Aws build error"
Hi,

Prevented us from tracking other errors in AWS code builds
How do I fix it?

![image](https://user-images.githubusercontent.com/629582/117782822-ad50a680-b24a-11eb-9111-c7b8de1fa2a9.png)

[2021-05-15 14:57] userquin commented on #53
@stefanholzapfel , @rehhouari you can use this as a workaround:
[code]

using this function (put your icons on `nonAssetsToBeIncluded` and add your logic for resolving non assets resources: I use this logic to also add other static resources like favicon, svg and fonts files):
[code]

[2021-05-15 14:58] userquin commented on #54
@haliuhei see https://github.com/antfu/vite-plugin-pwa/issues/53#issuecomment-841672553

[2021-05-16 15:40] userquin commented on #53
@stefanholzapfel since your are injecting the manifest, you need to add `additionalManifestEntries` on `injectManifest` option instead on `workbox` option:
[code]

The PR #62 is almost finished, just need a review and so you will have it in a few days ready to be used.

[2021-05-17 08:51] userquin commented on #31
@leobel96 can you take a look at #53?. Is what you want (the plugin, when PR #62 merged, will include the icons on the service worker precache)? If not, then this plugin cannot build what you don't want to build on your project. If you want the manifest icons go to assets directory, move them to the assets directory on your project.

[2021-05-17 15:30] timothymctim opened #63 "Catch failed service worker registration"
Is it possible to catch the error when the registration of a service worker fails? I would like to add a custom callback when this happens.

Reading the code (https://github.com/antfu/vite-plugin-pwa/blob/master/src/client/build/register.ts#L79), I do not see a way to catch any errors thrown during registration. Is there some other way I can check if the registration succeeded, or can(/should) I r

[2021-05-17 21:21] leobel96 commented on #31
@userquin Yeah it works. Thanks!

[2021-05-17 22:46] userquin commented on #31
@leobel96 so, this issue is related to move icons to assets directory on build or just include them on service worker  precache ?

[2021-05-17 23:17] leobel96 commented on #31
It's related to the precache

[2021-05-19 01:53] baboon-king opened #64 "run "vite" get a error "Error: The following dependencies are imported but could not be resolved:""
# ENV
- node
v15.14.0
- npm
7.10.0
- "vite": "^2.0.1",
- "vite-plugin-pwa": "^0.7.2",

# devDependencies
[code]

# full error message
[code]

[2021-05-19 08:49] userquin commented on #64
@baboon-king can you share `vite.config.ts` and `registerWS.ts` files?

[2021-05-19 08:58] baboon-king commented on #64
- registerSW.ts
[code]

- vite.config.ts
[code]
# more
https://github.com/vitejs/vite/issues/3465

[2021-05-19 09:14] userquin commented on #64
@baboon-king I suggest you move the logic inside the router, and register the service worker on `isReady` callback, since you are using `registerType: 'autoUpdate'`. You have an example here: [Vitesse template](https://github.com/antfu/vitesse/blob/master/src/modules/pwa.ts).

About the error, just import it with with a normal import and just call `registerSW` inside the production if statement on

[2021-05-19 09:26] baboon-king commented on #64
@userquin
Well, thank you very much.

[2021-05-19 09:26] #64 closed

[2021-05-19 14:53] FunMiles opened #65 "Create a svelte-kit example"
I know svelte-kit is in beta, but this vite-plugin-pwa seems a good fit with svelte-kit.
I gave it a try but so far am not succeeding. The `npm run build` seems to perform correctly but the generated code makes use of `navigator` and the result fails. It could be due to the SSR that svelte-kit does.

[2021-05-19 14:55] userquin commented on #65
see #37

[2021-05-19 14:58] userquin commented on #65
I'll update `README.md` to include usage on `SSR/SSG` environments...

[2021-05-19 14:58] FunMiles commented on #65
@userquin That was quick :) I turned off the SSR site-wide in svelte-kit's configuration and now it works. I will try the solution you pointed to. Thank you.
Once I've succeeded, I can contribute an example in a PR.

[2021-05-19 15:05] FunMiles commented on #65
PS: To avoid having to create a async for the import, I did this as an alternative to your solution:
[code]

[2021-05-19 15:13] userquin commented on #65
@FunMiles the only diference between using import or async import is just the bundle size: the former will be included on your bundle latter will not (but will require another server request), just test both.

[2021-05-19 15:19] FunMiles commented on #65
The sw.js is running but gets an error: `Uncaught (in promise) non-precached-url: non-precached-url :: [{"url":"index.html"}]`. I am presuming that it is because the plugin does not add the svelte-kit-generated index.html to the list of things to cache.  Can I do that via the `workbox` options in the configuration file?

[2021-05-19 15:21] userquin commented on #65
use `globPatterns` parameter of `workbox` plugin option.

[2021-05-19 15:30] userquin commented on #65
@FunMiles we have a pending PR for `Static assets handling`: see [this line](https://github.com/antfu/vite-plugin-pwa/pull/62/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R151), at the end of the section you can find the reference for `globPatterns` parameter.

[2021-05-19 15:33] FunMiles commented on #65
I added `globPatterns: [ '**/*.{js,css,html}', '*.html' ]` without success. Looking at what `npm run build` created, there is no `index.html`.
Trying to load `http://localhost:3000/index.html` returns a 404. It makes me think svelte-kit does not generate it. It may be serving a on-the-fly generated html file.... Which may not be surprising. From the svelte-kit documentation, I am understanding it

[2021-05-19 15:33] userquin commented on #65
Anyway, it is curious that svelte-kit do not generates `index.html` entry ;).

[2021-05-19 15:34] userquin commented on #65
see if you can force to generate it...

[2021-05-19 15:37] FunMiles commented on #65
I put the `ssr: false` flag back into the config, but it still did not generate an index.html. In fact there is no `html` file whatsoever....

[2021-05-19 15:45] userquin commented on #65
Sveltekit has its own service worker module [$service-worker](`https://kit.svelte.dev/docs#modules-$service-worker`) :)

[2021-05-19 16:01] FunMiles commented on #65
That's not exactly correct. It has a `service-worker` helper mechanism, but, you still have to write the service-worker code yourself. And then everything else for the PWA to work. I was hoping to use vite-plugin-pwa to do all with workbox.
I guess I'll explore creating a service-worker.js that calls workbox, passing it the list of file that svelte-kit passes.

[2021-05-19 16:04] userquin commented on #65
try to import the serviceworker and then use instead `additionalManifestEntries`, you will need to calculate its MD5 hash: see [this file](https://github.com/antfu/vite-plugin-pwa/pull/62/files#diff-001347cc727cf0cda0ccc53a07a92207e342ab83fe88aaa789b752a9e9ea5832)

[2021-05-19 16:13] userquin commented on #65
can you share a minimal project? I have never use sveltekit, svelte a few years ago... I can take a look to include it here

[2021-05-19 17:15] FunMiles commented on #65
I can share a minimal project. Do you want the one I was making trying to integrate vite-plugin-pwa or one with trying to handwrite a svelte-kit service worker?

[2021-05-19 17:28] userquin commented on #65
latter, I want to play with sveltekit and figure out how to integrate here with some store to use it like `vue` virtual module.

I think we have to solve 2 problems, former generating the sw and latter add some utilities, see `vue-router` sample: see [this](https://github.com/antfu/vite-plugin-pwa/blob/master/examples/vue-router/src/ReloadPrompt.vue).

Or you can make a PR integrating it on `examp

[2021-05-19 17:49] userquin commented on #65
I just use the `vitejs` starter for `svelte-ts` and `index.html` is generated:
[code]

[2021-05-19 17:49] userquin commented on #65
@FunMiles have you a discord user?

[2021-05-19 18:39] FunMiles commented on #65
I use discord for svelte/svelte-kit and other things. Not an expert at it. Will try to find you.

[2021-05-20 15:05] FunMiles commented on #65
Svelte-kit has its own service worker mechanism and this github is a basic app that works as a PWA:
https://github.com/FunMiles/SveltekitPWA

[2021-05-20 15:05] #65 closed

[2021-05-21 17:27] gaoxiaoliangz opened #66 "in sw.js precacheAndRoute does not inlcude vendor.js"
Every other files generated by vite are included by sw.js, but not vendor.js. Interestingly vendor.css is included. Is it a feature or a bug?

[2021-05-21 18:28] userquin commented on #66
@gaoxiaoliangz Can you share a minimal reproduction? Thanks.

[2021-05-21 21:06] userquin commented on #66
@gaoxiaoliangz this plugin will include in the sw *precache* all resources emitted by Vite in the bundle (for example, `static assets` will not be included in the bundle, and so missing on sw *precache*: see all related issues about including images on Vite's `public` directory, there is a PR in progress to solve this).

[2021-05-22 03:05] gaoxiaoliangz commented on #66
I cannot reproduce this in a mini repo, vendor.js is included. But in the actual build, I found that vendor.js is marked yellow since it's too large. Is it related in the sw precache strategy?
![image](https://user-images.githubusercontent.com/10410606/119212815-6a65bd00-baed-11eb-97b9-2c36bf102451.png)

[2021-05-22 10:37] userquin commented on #66
@gaoxiaoliangz could you try to build the bubdle with VitePWA commented from vite.config file and see the result for that asset? Without a reproduction I can't do anything...

[2021-05-22 12:02] timothymctim commented on #63
Note that it’s perfectly possible to simply register the service worker yourself if you don’t have any special needs. I register my `injectManifest` service worker as follows
[code]

While it’s now solved for me, I understand that for others that use `registerSW` it might still be desirable to add custom callbacks when registration failed.

[2021-05-22 12:20] timothymctim commented on #56
Despite being recommended against, you can achieve this by registering the service worker yourself.
For example add the following snipped to you code (e.g., `main.ts` or `src/App.vue`)
[code]

If you need more functionally of the module (e.g., `registerSW`), you can try to copy bits from https://github.com/antfu/vite-plugin-pwa/blob/master/src/client/build/register.ts#L12.

[2021-05-22 12:42] userquin commented on #63
@timothymctim you will have problems with this aproach since you are removing all logic to updates sw caches, don't do this, see #33. At some point in future your pwa will stop working with 404 when navigating pages.

I'll try to fix as ASAP...

[2021-05-22 12:55] timothymctim commented on #63
Thank you for your quick feedback. Also, no need to rush to implement this, thanks :-)

I’m not sure if #33 would really affect me as I basically only use this plugin to transpile my Typescript service worker to a Javascript version and replace `self.__WB_MANIFEST` with the proper files. Maybe this plugin is a bit of an overkill, but I couldn’t find any simpler solution.

[2021-05-24 08:12] haliuhei opened #67 "Caching JSON data returned by Axios"
Test found that XHR will not cache, how to configure

[2021-05-24 10:23] userquin commented on #67
@haliuhei I think you cannot intercept syncronous request, last time I read about it doesn't work, I'll check the service worker docs, but you need to use `fetch` api to make it working with servive worker.

[2021-05-26 17:28] bfourgeaud opened #68 "false-positive error masks real error (vercel deployment)"
Hello,

I have seen an error that pops only when I deploy to vercel.

If there is some error in my code, and I push to vercel, the build process will give me the following error 100% of the time:
`Error: Couldn't find configuration for either precaching or runtime caching. Please ensure that the various glob options are set to match one or more files, and/or configure the runtimeCaching option.`

[2021-05-26 18:43] userquin commented on #68
@bfourgeaud can you provide a minimal repro so we can focus on extract errors from workbox?

[2021-05-26 18:44] userquin commented on #68
related to #61

[2021-05-26 19:04] bfourgeaud commented on #68
I'll send a repro tonight or tomorrow. Thx ;)

[2021-05-30 15:48] #53 closed

[2021-05-31 12:14] bfourgeaud commented on #68
Hello,

Sorry for the late response. Here is a reproduction :
https://github.com/bfourgeaud/founnd-admin

1 - vite-plugin-pwa
2 - App.vue -> typography error on import HelloWorld component (helloWold.vue instead of HelloWorld.vue)

When importing to vercel (See error at 14:09:55.904)  :
`

14:09:43.071 | Cloning github.com/bfourgeaud/founnd-admin (Branch: master, Commit: 8825eb5)
14:09:43.304 | Cl

[2021-06-01 06:17] liuchao99 opened #70 "[vite] Internal server error: Failed to resolve import "react-router-dom" from "src/App.tsx". Does the file exist?"
我确定包的存在,但是 yanr dev 时总会报错,即使更换vite的版本也是会报错的
![image](https://user-images.githubusercontent.com/56290517/120275545-0fe61100-c2e4-11eb-9bda-d3988cb6e1d1.png)

[2021-06-01 06:18] #70 closed

[2021-06-03 03:02] xieyezi commented on #39
@WintonLi
I have encountered a similar problem.
`devDependencies`:
[code]
And `vite.config.ts`:
[code]
When I run `yarn build ` ,I get this:
[code]

So How can resolve this?

[2021-06-03 03:08] xieyezi opened #71 "Couldn't find configuration for either precaching or runtime caching."
This is my `devDependencies`:
[code]
And this is my `vite.config.ts`:
[code]
When I run `yarn build`(`"build": "vue-tsc --noEmit && vite build"`), but I get this error:
[code]
In fact ,I have cat #39 , but I dont't know how to reslove this.

So can you provide some help?

Thanks!

[2021-06-03 03:11] xieyezi commented on #71
And my repo link: https://github.com/xieyezi/vue3-shopping-airi/blob/18078e0af4401764f5fd4d7963775a57290ce5bc/vite.config.ts#L29

[2021-06-04 01:39] rainmanhhh opened #72 "browser always read all files from SerivceWorker"
I've rebuild the app and upload it to nginx, then run `nginx -s reload`
but browser read all files from ServiceWorker

[2021-06-04 03:08] userquin commented on #72
@rainmanhhh what is the versión of the plugin? Do you migrate from older version?

[2021-06-04 03:22] rainmanhhh commented on #72
just upgrade to latest version yesterday.
I modified some code and rebuild the app yesterday then upload it to server, but page is still the old version(in browser, android webview, and wechat miniprogram webview). then I tried refresh the browser manually, run `nginx -s reload` but still the same result(browser devtool shows index.html and all other resources are load from ServiceWorker).
then I

[2021-06-04 06:56] rainmanhhh commented on #72
btw, I have two apps in the same domain(but different folders)
similar to this [using-multiple-javascript-service-workers-at-the-same-domain-but-different-folde](https://stackoverflow.com/questions/42474908/using-multiple-javascript-service-workers-at-the-same-domain-but-different-folde)
maybe I need add some config to vue-plugin-pwa?

[2021-06-04 08:38] userquin commented on #72
@rainmanhhh you need to change the scope option and/or the basePath for both using its name inside the root, for example, if /app1/ and /app2/ are the relative paths inside the root, then just configure basePath with /app1/ and /app2/ respectively.

[2021-06-04 08:40] userquin commented on #72
@rainmanhhh if you have shared resources between both apps you cannot make work. The scope will act as a context.

[2021-06-04 08:44] rainmanhhh commented on #72
so the developer should know final deploy absolute path, similar to 'browser history router' config? (I'm using 'hash router' in case of relative deploy path)

[2021-06-04 08:58] userquin commented on #72
@rainmanhhh yes, this is a good example, the router

[2021-06-04 09:03] rainmanhhh commented on #72
just checked the generated sw.js and I found it uses relative paths to access resources
Is it possible, in theory, to make the plugin auto detect 'base' by reading browser location.path? (since in hash router mode, location.path is always the index.html root)

[2021-06-06 18:55] ansidev opened #73 "Cannot access static resource"
Reproduce URL: https://vitesse.netlify.app/robots.txt

Expected: Raw content. A static resource can be plain text (like the above link or RSS URL), image, etc.
Actual: Vite page with `404 Not found` message.

[2021-06-07 09:26] antfu commented on #73
Transferred to vite-plugin-pwa. The problem is the request been hijacked by service worker.

[2021-06-08 09:45] 1018715564 opened #74 "After packaging, registersw.js is not automatically introduced into index.html"
"vite": "^2.3.5"

[code]

After packaging...

[code]

[2021-06-08 10:05] userquin commented on #74
@1018715564 by default, the service worker is configured to be auto with prompt for New content. You will need to add the logic to show the prompt using the virtual module or just add registerType with autoUpdate to the plugin  configuration.

[2021-06-11 06:54] ArcherGu commented on #74
Same problem, I had to manually include `registerSW.js` in the `index.html` after build to enable PWA.
[code]

vite.config.ts:
[code]

[2021-06-11 09:10] ArcherGu commented on #74
I just solve my problem. At first, When I add:
[code]
Vite(rollup) can't resolve `workbox-window`.

So, I installed `workbox-window` manually and rebuild，everything's all right.

Question: Why do I need to install `workbox-window` manually, isn't it already included in `vite-plugin-pwa`?

[2021-06-11 13:33] userquin commented on #74
@ArcherGu see https://github.com/antfu/vite-plugin-pwa/issues/37

try to load virtual module using dynamic import, for example (you don't need to register on `index.html`):

`modules/pwa.ts` or `modules/pwa.js`
[code]
then in your `main.ts` or `main.js`
[code]

[2021-06-11 19:07] userquin commented on #68
@bfourgeaud it seems to be a problem with `vite`, I'm on windows machine and just works, on linux machine will fail.
I don't know why this behavior, for example, changing the import to `import HelloWorld from './components/missing.vue'` just fails, and the error is not masked:
[code]

I have added `pwa.js` on root:
[code]
then, importing it on `main.js` with dynamic import:
[code]

It works someti

[2021-06-11 19:15] userquin commented on #68
@bfourgeaud @antfu Debugging the vite build process, setting a breakpoint on `closeBundle` seems to gave a few seconds to vite to finish flushing assets on dist folder and just works. Strange behavior, I think some missing  await clause on vite side.

[2021-06-11 19:18] userquin commented on #61
@mesutgok see https://github.com/antfu/vite-plugin-pwa/issues/68#issuecomment-859784272

[2021-06-11 19:41] userquin commented on #68
@bfourgeaud @antfu we need to use [buildEnd](https://rollupjs.org/guide/en/#buildend) hook on `VitePWAPlugin`, just adding it before `closeBundle`:
[code]
For example, using this on `main.js` (instead ` import('./pwa')`):
[code]

Without the `buildEnd` hook:
[code]

with the hook rethrowing the error:
[code]

[2021-06-11 20:09] userquin commented on #68
@antfu don't capture the error and then omit the call to `injectManifest` or `generateWS` on `closeBundle`, `vite` will not throw the error and will generate the bundle without any warning/error (I have tested it and will not work).

[2021-06-12 01:28] userquin commented on #46
@NotWoods see https://github.com/antfu/vite-plugin-pwa/issues/68#issuecomment-859977520

[2021-06-12 06:29] ArcherGu commented on #74
@userquin Sorry, I just do like what you said, but still cant resolve `workbox-window` 😭

[code]

[2021-06-12 07:03] #31 closed

[2021-06-12 07:03] #54 closed

[2021-06-12 07:07] #68 closed

[2021-06-12 07:38] #46 closed

[2021-06-12 08:43] userquin commented on #74
@ArcherGu is your repo public? If so, I can take a look...

[2021-06-12 08:46] userquin commented on #61
@mesutgok can you test again with 0.8.0 version?

[2021-06-12 09:36] mesutgok commented on #61
@userquin  yeap i did. working

[2021-06-12 09:36] #61 closed

[2021-06-12 10:06] userquin commented on #73
@antfu added PR to `vitesse` to solve missing sw manifest assets to work offline: https://github.com/antfu/vitesse/pull/139

[2021-06-12 10:25] #73 closed

[2021-06-12 10:32] userquin commented on #71
@xieyezi do the following:
- remove `dist` folder
- `yarn upgrade vite-plugin-pwa -L`
- `yarn build`

With `0.7.3` version `yarn build` fails:
[code]
after upgrading to new version `0.8.0` and building again (removing `dist` folder):
[code]

[2021-06-12 11:53] userquin commented on #66
@gaoxiaoliangz try with latest version `0.8.1`

[2021-06-12 13:38] userquin commented on #74
@ArcherGu

It seems we have some interference with the typescript, if we exclude the `workbox-window` dependency from the build, then the problem is that the pwa virtual module is generated as an esm module and since` workbox-window` is as a dev dependency, then it will be excluded from the bundle and fails on runtime.

See my fork [here](https://github.com/userquin/foraging) ,with following chang

[2021-06-12 15:35] userquin commented on #72
This is done by `workbox` and the service worker should work. See https://github.com/antfu/vite-plugin-pwa/issues/23.

I close this issue, check if working, if not working add a repo where we can work to see the changes we need to add and I Will reopen this issue.

[2021-06-12 15:35] #72 closed

[2021-06-12 16:57] #57 closed

[2021-06-12 16:57] userquin commented on #57
@Mehdi-Hp docs included on PR #75

[2021-06-12 17:02] userquin commented on #63
@timothymctim do you need the behavior or we can close this issue?

[2021-06-12 18:05] userquin commented on #67
Found issues: will not work, at least on chromium based browsers, there is a deadlock/livelock intercepting synchronous request.

https://bugs.chromium.org/p/chromium/issues/detail?id=602051
https://chromium-review.googlesource.com/c/chromium/src/+/1376738

[2021-06-12 18:05] #67 closed

[2021-06-13 10:45] userquin opened #77 "cleanup: docs and `injectManifest` build"
This is a hint for clenaup, I'll do a PR in a few minutes:
- remove `WIP: Icons generation for different dimensions` from README.md file: it will not be included, since there is a lot of tools out there.
- remove `import dynamic polyfill` when generating `injectManifest` from plugins list: dynamic import polyfill is removed in the latest `vite`, we could safely ignore it.

@antfu there is no need

[2021-06-13 11:16] timothymctim commented on #63
I’ve worked around this issue, so I don’t need this specifically, thanks. Whether this feature should be added for other users or not, I’ll leave you to decide.

[2021-06-13 11:42] #63 closed

[2021-06-13 12:37] #77 closed

[2021-06-14 08:00] xieyezi commented on #71
@userquin Oh,thanks a lot! It's useful!❤️

[2021-06-14 08:00] #71 closed

[2021-06-14 11:01] userquin commented on #66
@gaoxiaoliangz we close the issue, if after updating the plugin you still have this problem, create a New one.

[2021-06-14 11:01] #66 closed

[2021-06-14 11:40] userquin commented on #74
@1018715564 @ArcherGu we close this issue, fill free to open a new one if the problem persists.

[2021-06-14 11:40] #74 closed

[2021-06-14 12:12] husayt opened #80 "docs inconsistency"
Hi, I am not sure which one is correct.

In examples `useRegisterSW` is used
[code]
and in docs we see `registerSW `

[code]

Which one is correct?

Thanks

[2021-06-14 12:15] antfu commented on #80
It should be
[code]

[2021-06-14 12:16] husayt commented on #80
Thanks. it's clear now

[2021-06-14 12:16] #80 closed

[2021-06-14 12:39] userquin commented on #56
@cawa-93 so you only need the service worker to intercept api calls, no? I'll try (ASAP) to make a special service worker here for that purpose that will work also in development.

Maybe we should open a discussion...

 If you have some sugestions don't hesitate to contact me here or on Discord (Joaquín#7667).

[2021-06-15 05:40] 1018715564 commented on #74
ok

[2021-06-15 16:14] userquin commented on #56
I have a new branch on local to allow test service worker on development only for third party libraries (in general if `runtimeCaching` is configured on `workbox` entry) and only for `generateWS` strategy. In development only the `runtimeCaching` is generated (also registered) excluding manifest file and all routes and assets from the generated service worker.
I have it working on `vue-router` exa

[2021-06-15 18:06] #56 closed

[2021-06-15 18:06] userquin commented on #56
Unfortunately we have made the decision not to include this behavior, since it's just another big maintaining surface.

I'll keep the branch on my fork a few days if you want to clone/download it.

[2021-06-18 18:03] hubert17 opened #81 "Anyone with success implementing this in Vue2?"
I fortunately was able to create a production build of my supposed to be NO cli-node-webpack Vue project using Vite courtesy of this guy: https://www.mathew-paul.nz/posts/how-to-use-vue2-with-vite/

The simple Vue/Vuetify app can be serve with or without build process.
https://github.com/hubert17/GabsVuetifyNoCLINodeWebpack

I would like to turn this into PWA and I wonder if anyone here has succes

[2021-06-18 18:24] userquin commented on #81
@hubert17 I haven't tested on vue2, but should work, I'll give a try on, I'll push changes to my fork once tested:

https://github.com/hubert17/GabsVuetifyNoCLINodeWebpack

[2021-06-18 18:32] hubert17 commented on #81
@userquin You are awesome man. I'll keep watching the fork. :)
https://github.com/userquin/GabsVuetifyNoCLINodeWebpack

[2021-06-18 18:37] hubert17 commented on #81
I don't match about Vue 3. I am stuck in here
`import { useRegisterSW } from 'virtual:pwa-register/vue'`

Says.. Failed to resolve import "vue" from "..\..\..\..\..\..\@vite-plugin-pwa\virtual:pwa-register\vue". Does the file exist?

Here's my wild adventure:
https://github.com/hubert17/GabsVuetifyNoCLINodeWebpack/blob/pwa-vue/src/components/ReloadPrompt.js

[2021-06-18 18:54] userquin commented on #81
You haven't installed any dependency... I will simplify a little the app to only show the app, without any page...

Just compare with your branch: missing `vue`, `vuex`, `vue-router`, `vuetify` and `sass` stuff  from `dev dependencies`:

[code]

About using `virtual:pwa-register/vue` right now it is not possible since its target is only for `vue3`, maybe we can take a look to use `vue-demi` allowi

[2021-06-18 19:06] userquin commented on #81
I will provide a mixin for `vue2` and maybe added to the docs...

[2021-06-18 20:13] userquin commented on #81
seem to work, just adjusting some images to work offline...

[2021-06-18 21:25] userquin commented on #81
Sorry for `template` before `script` in all `vue` files, this year I only work with `script setup with typescript` and is `more usable ;).
I cannot use the oldest style.

If you test both `registerType` options, when switching between them, go to `chrome dev tools > Application > Storage` and clean data for `http://localhost:5000`. Once data cleared, go to `Application > Service workers` and check

[2021-06-18 21:39] userquin commented on #81
I'll keep open this issue until tmr... so please, close it yourself if the sample on my fork works for you,

[2021-06-19 00:09] hubert17 commented on #81
Success! Thanks @userquin
![image](https://user-images.githubusercontent.com/7923889/122624649-d844da80-d0d3-11eb-8ca2-7903857c249c.png)
![image](https://user-images.githubusercontent.com/7923889/122624893-dc252c80-d0d4-11eb-9657-2f37e65ad571.png)

It's working even using CDN hosted packages.
I have only installed devdependency packages.
It took me sometime to figure out how this done until I read

[2021-06-19 00:16] hubert17 commented on #81
It's here:
https://github.com/hubert17/GabsVuetifyNoCLINodeWebpack/tree/pwa-vue

[2021-06-19 00:17] userquin commented on #81
I'll give a try, seems something missing...

[2021-06-19 00:49] userquin commented on #81
Move the logic from the mixin to the `ReloadPrompt` component, it seems the mixin cannot be used in the way you create you components.

Also comment out the `onReady` callback on `src/router.js`.

And finally add this style to the class `.pwa-toast`: `background-color: white;` on `ReloadPrompt` component.

![imagen](https://user-images.githubusercontent.com/6311119/122626094-c732a400-d0a8-11eb-8e9

[2021-06-19 00:50] userquin commented on #81
[code]

[2021-06-19 01:17] userquin commented on #81
WTF: Do not change anything, just remove the empty `data` method on your `ReloadPrompt` component!!!!

[2021-06-19 01:23] userquin commented on #81
[code]

[2021-06-19 01:24] userquin commented on #81
close the issue when tested please.

[2021-06-19 20:29] #81 closed

[2021-06-19 20:55] hubert17 commented on #81
**Working great now in Vue2!**
https://github.com/hubert17/GabsVuetifyNoCLINodeWebpack/tree/pwa-vue

_...at least when hosted in root. However in Github Pages, I ended up with problem on base/paths._
But that would be for another issue. Thank you again @userquin . Closing this now.

[2021-06-19 21:08] hubert17 opened #82 "Problem with path in non-root hosting like Github Pages"
When hosted in non-root path, the Manifest and other vite-plugin-pwa are not loaded as it is pointing to a wrong location.
![image](https://user-images.githubusercontent.com/7923889/122655298-d9354500-d183-11eb-8139-999e3aa2e8e5.png)

I have tried configuring the vite config
![image](https://user-images.githubusercontent.com/7923889/122655383-8314d180-d184-11eb-972a-891d37762f71.png)
but still hav

[2021-06-19 21:17] userquin commented on #82
@hubert17  where is the hosted url?

[2021-06-19 21:27] hubert17 commented on #82
@userquin https://hubert17.github.io/GabsVuetifyNoCLINodeWebpack

[2021-06-19 21:33] userquin commented on #82
@hubert17

You need to remove the `/` from manifest icons and `includeAssets` on `vite.config.js`:

Just lookup `// <== here` below:
[code]

[2021-06-19 21:57] hubert17 commented on #82
Done with <==here stuff. :)

I emptied the base for both Vite and Vite-pwa config. But still the manifest link is being preceded with /. My recommendation is for it to behave just like the base in Vite. Where empty string is really empty string. In Vite-pwa, assiging empty string defaults base to "/".

![image](https://user-images.githubusercontent.com/7923889/122656309-ef470380-d18b-11eb-8207-223

[2021-06-19 22:18] userquin commented on #82
you were looking the page before the reload button clicked:

![imagen](https://user-images.githubusercontent.com/6311119/122656655-e985f980-d15c-11eb-9af7-78b055811205.png)

[2021-06-19 22:19] userquin commented on #82
where is the base entry? I cannot find it.

[2021-06-19 22:22] userquin commented on #82
right now it seems to be working ok, no errors: on network tab, sw and manifest.webmanifest

[2021-06-19 22:36] hubert17 commented on #82
@userquin
I've added this workaround..
![image](https://user-images.githubusercontent.com/7923889/122656902-6e8b0600-d191-11eb-9c2c-66492f671815.png)

I hope it this would be fixed.

![image](https://user-images.githubusercontent.com/7923889/122656962-d7727e00-d191-11eb-850f-4521b1c8dbca.png)

[2021-06-19 23:01] userquin commented on #82
Add this below `manifest` entry on `vite.config.js`:
[code]

[2021-06-19 23:02] userquin commented on #82
You also need to add to `index.html` `crossorigin="anonymous"` to exteranl links and scripts:
[code]

[2021-06-19 23:02] userquin commented on #82
This will make you pwa work offline.

[2021-06-19 23:05] userquin commented on #82
I forget to include `fonts.gstatic.com`:
``js
      workbox: {
        runtimeCaching: [
          {
            urlPattern: /^https:\/\/cdn\.jsdelivr\.net\/.*/i,
            handler: 'CacheFirst',
            options: {
              cacheName: 'jsdelivr-cache',
              expiration: {
                maxEntries: 10, // <== for testing
                maxAgeSeconds: 60 * 60 * 24 * 365, // <==

[2021-06-20 00:10] userquin commented on #82
This will not be fixed, since you are using it in a wrong way.

All server backends have a document root or a default context.

This will work on any server, also on development:

[code]
[code]

[2021-06-20 00:12] #82 closed

[2021-06-20 00:20] hubert17 commented on #82
I need to do this
![image](https://user-images.githubusercontent.com/7923889/122658400-59b56f00-d19f-11eb-8d44-d3333c210c28.png)
So that  "/" (home route) in Vue will point to "/GabsVuetifyNoCLINodeWebpack/".
Again this became an issue because I am hosting in github.io subdirectory.

This **preceding slash in manifest's href** is the only remaining issue that I have.  If only we could have the opt

[2021-06-22 16:32] stefanholzapfel commented on #53
@userquin Sorry that doesn't work for me. Files from public folder that are added to the nonAssetsToBeIncluded array are still fetched from the web and not the service worker...

[2021-06-22 20:05] userquin commented on #53
Can you test with 0.8.1 version?

[2021-06-23 07:30] stefanholzapfel commented on #53
@userquin Yeah that seems to work, thank you!!

[2021-06-25 07:32] X-sirs opened #83 "at e.watch.flush: throw a error "TypeError: Cannot destructure property 'fullPath' of 'e' as it is undefined""
after i refresh the browser , i get a error like that:
    vendor.765782b6.js:formatted:681 TypeError: Cannot destructure property 'fullPath' of 'e' as it is undefined.
    at e.watch.flush (vendor.765782b6.js:formatted:3053)
    at ct (vendor.765782b6.js:formatted:642)
    at at (vendor.765782b6.js:formatted:650)
    at Object.g [as scheduler] (vendor.765782b6.js:formatted:973)
    at vendor.7657

[2021-06-25 11:21] swina opened #84 "Webpush support in service workers"
Having developed before some vue app with webpush notification support thru a custom service worker is there a way to support webpush notifications ?
Your help will be really appreciated.
Thanks

[2021-06-25 12:18] userquin commented on #84
@swina  do you refer to something like this? If so, you need to use `injectManifest`, that is, you need to build your service worker.

You can see a reference on workbox [here](https://developers.google.com/web/tools/workbox/modules/workbox-build#injectmanifest).

[code]

[2021-06-26 07:47] swina commented on #84
Hi thank  you for your response. My current configuration of PWA from vite.config.js is:

[code]

So if I have to add push support I will save the file you posted like service-worker.js and then add to vite.config :

[code]
Thank you again

[2021-06-26 10:08] userquin commented on #84
@swina my code is just a snipet, you need to modify/add your logic. The code is only for push notificaciones not fot the pwa servive worker, see also the inject manifest.

[2021-07-01 09:55] chavda-bhavik opened #85 "registerSW.js do not gets added in generated index.html file"
Thanks for this plugin.  I'm using this plugin with react. When I build the app the generated index.html file is missing registerSW.js as a script.

vite.config.js
[code]

Here is the index.html that is being generated in dist folder
[code]
But index.html file should be like,

[code]
Am I missing something?

[2021-07-01 10:47] #85 closed

[2021-07-01 10:47] userquin commented on #85
@chavda-bhavik read the docs: [here](https://github.com/antfu/vite-plugin-pwa#prompt-for-new-content) you can find what's your're asking for, see warning there.

[2021-07-02 11:41] chavda-bhavik opened #86 "add background-sync"
I'm trying to add background sync to the service worker, but couldn't able to find any way to add it.
Is there any way to include our own code in the service worker or does anyone know how to add background sync with this plugin?

Any help will be highly appreciated.

[2021-07-02 11:45] chavda-bhavik commented on #86
By following this [link](https://developers.google.com/web/tools/workbox/modules/workbox-background-sync#basic_usage) from workbox documentation, I think I have to register a new route to the service worker.

[code]

[2021-07-02 12:30] userquin commented on #86
@chavda-bhavik you can write your own service worker or you can check `generateWS` workbox docs entry and see if you can do it with some plugin (if there is no background sync plugin, then you must create your own, see `injectManfest` on docs).

You can use [BackgroundSyncPlugin](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-background-sync.BackgroundSyncPlug

[2021-07-02 12:36] userquin commented on #86
@chavda-bhavik it can be done!!! inside the `tuntimeCaching` you can configure the entry `backgroundSync`: https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.RuntimeCachingEntry

[2021-07-02 12:45] userquin commented on #86
[code]

[2021-07-02 14:01] chavda-bhavik commented on #86
Thank you for your help @userquin. I think this is all that I need to implement, will go through workbox docs for further implementation and testing and will close this as soon as I will be able to implement it. Thank you again for your help and reference.

[2021-07-03 02:19] chavda-bhavik commented on #86
Your solution worked @userquin, thanks. I was able to implement it. Can you say where can I see for further `workbox` and `manifest` configuration in this plugin, like the below schema?

[code]

[2021-07-03 05:12] ZYinMD opened #87 "[doc] better explain workbox options for generateSW"
As a new user, this part of README is confusing to me:

[code]
What are "workbox options"? Could you provide some examples? Thanks!

[2021-07-03 09:22] userquin commented on #86
In this plugin there is no such examples, since we just delegate to `generateWS` on the virtual module.

It is out of the scope of this repo, just go to workbox site, there are examples there.

I hint some ppl to include some plugins for external resources and so the app work offline:

https://github.com/antfu/vite-plugin-pwa/issues/82#issuecomment-864474068

Beware, you need to include crossorigi

[2021-07-03 09:44] userquin commented on #87
This repo is a wrapper for `workbox` utilities, you can find all the docs on their site:

https://developers.google.com/web/tools/workbox

For `workbox` plugin entry, you can find the docs on node modules entry here:

https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.generateSW

You can find type definition here (comes from `workbox-build` module, see impo

[2021-07-03 09:54] userquin opened #88 "docs(wip): new docs site available at https://vite-plugin-pwa.netlify.app/"
@antfu to keep track, I'll add to docs some hints and maybe a New example using some plugins using `generateWS` and `injectManifest` strategies.

[2021-07-03 16:32] ZYinMD commented on #87
Thanks, then I'd suggest adding one sentence in README to explain that `generateSW` is a workbox term, or at least making it a link like [generateSW](https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.generateSW). As a new user, 10 minutes of reading the README didn't make me realize that `generateSW` was a workbox term.

Btw I've used to work with `create-

[2021-07-03 17:01] userquin commented on #87
@ZYinMD I add a new issue to add a small guide (I don't know when it will be added, right now I'm very busy).

`workbox` is a huge package with a lot of modules to just make service worker development not to be a hassle and avoid dealing with low level service worker api. About workbox modules, there are modules for build and for runtime.

`generateWS` is a helper module from `workbox-build` to ab

[2021-07-04 01:01] chavda-bhavik commented on #86
thanks @userquin. closing this.

[2021-07-04 01:01] #86 closed

[2021-07-04 02:07] #87 closed

[2021-07-04 02:07] userquin commented on #87
@ZYinMD

You can see how we use `generateWS` and `injectManifest` here: https://github.com/antfu/vite-plugin-pwa/blob/master/src/index.ts#L57.

The problem is that we cannot document each module from `workbox`, you mention `generateWS` but there are a lot of modules on `workbox` and so, why to explain this one and no others?

You can see how we use `workbox-window` for client side module here: htt

[2021-07-04 02:09] #84 closed

[2021-07-04 02:09] #83 closed

[2021-07-04 02:18] chavda-bhavik commented on #87
@userquin can you say what different kinds of strategies and registerType are available or these strategies also refer to generateSW?

[2021-07-04 02:52] userquin commented on #87
@chavda-bhavik

There are only 3 strategies: `injectManifest` , `generateWS` or none (there is a PR to add a new one: `networkFirst`). The strategies are just a hint for the plugin: if you are generating your own service worker or delegating to build via `generateWS`. The main diference from the plugin perspective, is that we need to `build` the service worker using rollup, and the result of that

[2021-07-07 14:28] h-guliyev opened #89 "workbox-window not installed by pnpm"
I had an issue below where it could not find `workbox-window` during build. had to install `workbox-window` directly and that solved it. Seems it is not properly picking it up from peer-dependencies.

[code]

[2021-07-07 15:08] userquin commented on #89
@h-guliyev provide a small repro or provide some more info, like: framework (vue, react...), `vite` configuration file (at least pwa plugin options)...

[2021-07-23 04:08] kmilogp8496 commented on #89
Hi, I'm having this issue, but only when building inside a docker image. Local it does not happen. Thanks

[2021-07-23 04:12] kmilogp8496 commented on #89
Solved by adding `workbox-window` to devDependencies

[2021-07-23 08:36] husayt commented on #89
İ have done the same

[2021-07-23 10:01] userquin commented on #89
@husayt @kmilogp8496 could provide at least this info and your `vite.config.ts` file?:
[code]

[2021-07-23 10:31] husayt commented on #89
Yes, sure. I don't think its vite config related, more like pnpm. as it can't find `workbox-window` and it has to be manually added

[code]

[2021-07-23 10:55] userquin commented on #89
@husayt the only difference I see is that I use node 15 and npm 7. Can you include the typescript configuration (`tsconfig.json`) here?
[code]

[2021-07-23 10:56] husayt commented on #89
[code]

[2021-07-23 11:31] userquin commented on #89
@husayt I'll try to fix including `workbox-window` and `workbox-build` as `peer` dependencies.

[2021-07-23 11:45] #89 closed

[2021-07-23 11:49] userquin commented on #89
@husayt @kmilogp8496  can you test with `0.8.2` version? Wait a few minutes, released right now...

[2021-07-23 11:58] husayt commented on #89
@userquin it looks like working now. I will keep my eye on it. Thanks

[2021-07-23 16:08] NicolaSpadari opened #91 "App cannot find a place to inject manifest"
I'm trying to deploy my app on Netlify as an installable PWA, but everytime it compiles I get this error:
[code]

I followed your `vue-basic-inject-manifest` example, here is my pwa in the `vite.config.js` file:
[code]

Also, adding `workboxOptions` as it follows doesn't help:
[code]

my `sw.js` file (located in `/src`):
[code]

And yes, `workbox-precaching` is installed as dev dependency (ver. 6.

[2021-07-23 16:44] #91 closed

[2021-07-23 16:44] userquin commented on #91
@NicolaSpadari since you are using `javascript` remove `let self;` from your`sw.js` file.

[2021-07-23 23:13] kmilogp8496 commented on #89
npx envinfo --npmPackages vite,@vitejs/plugin-vue,vite-plugin-pwa --binaries --browsers
Binaries:
    Node: 14.17.3 - /usr/local/bin/node
    Yarn: 1.22.5 - /usr/local/bin/yarn
    npm: 6.14.13 - /usr/local/bin/npm
  npmPackages:
    @vitejs/plugin-vue: ^1.2.4 => 1.2.4
    vite: ^2.4.1 => 2.4.3
    vite-plugin-pwa: ^0.8.2 => 0.8.2

[2021-07-23 23:14] kmilogp8496 commented on #89
[code]

[2021-07-23 23:16] kmilogp8496 commented on #89
Hi guys, thank you for your quick response

Upgraded package to version 0.8.2 and still getting the same error

[code]

I'm using docker, this is my Dockerfile

[code]

[2021-07-24 05:20] husayt commented on #89
Try to remove your lock file and install again. For me that fixed it

[2021-07-25 09:10] nyancodeid opened #92 "Manifest: short_name turn into lowercase and different from config"
Hi, I just noticed that the title of our installed PWA app changed to lowercase. After looking into the documentation there might be a reason behind it, but there is no reason for the `short_name` variable in webmanifest to be lowercase.

This is the configuration on `vite.config.js` that I use

[code]
and this is the webmanifest file look like after the build process.

[code]

So in our phone it'

[2021-07-25 09:15] nyancodeid commented on #92
I just realize that config for short name on `vite.config.js` is `short_name` not `shortName`. And `insta-share` is from our package.json name.

So i can close this issues, thank you

[2021-07-25 09:15] #92 closed

[2021-07-27 01:27] kmilogp8496 commented on #89
This did not work, thank you for your help, I'll add it to the package.json for now.

[2021-07-27 05:42] myoshi1012 opened #93 "How about add `onRegitered` event to `registerSW` ?"
I'm trying to trigger updates manually like google's document says: https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#manual_updates

At the moment, we can that using [`navigator.serviceWorker.getRegistration`](https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerContainer/getRegistration) .

[code]

But, if there are `onRegistered` event that has `ServiceWo

[2021-07-30 16:07] userquin commented on #93
Be careful about generating the SW in less than 1 minute: since the workbox uses a `heuristic` calculation to handle SW updates, there could be strange behavior: see https://github.com/antfu/vite-plugin-pwa/pull/94#issuecomment-889940578

I add to the docs how to do it and warn about the 1 minute problem. You can see it [here](https://github.com/antfu/vite-plugin-pwa/blob/f865da57c58d7fafd39a2f476

[2021-07-30 21:36] armenr opened #95 "Cryptic error message - looking for some guidance"
@antfu - I know you're probably sick of hearing from me for the last two weeks, but I've got a quick question.

I am using the vitesse boilerplate, and I am experimenting with different types of builds (SPA, PWA, SSG). SSG builds great, without any problems.

I have not made any changes to any PWA-related plugins, settings, or code - just using the default boilerplate provided in vitesse.

When I

[2021-07-30 21:48] userquin commented on #95
@armenr can you try download `manifest.webmanifest` file manually and see the server response? Or just give me the the url...

[2021-07-30 21:55] userquin commented on #95
@armenr see this issue when deploying on netlify https://github.com/antfu/vite-plugin-pwa/issues/23#issuecomment-776761561 and https://github.com/antfu/vite-plugin-pwa/issues/23#issuecomment-776766783, maybe AWS Amplify has the same problem.

[2021-07-30 21:56] armenr commented on #95
@userquin - Thank you for pointing out that very obvious question. Honestly, I'm kinda embarrassed that I didn't do that before asking my stupid question. :)

Amplify has added better support for redirects - so there's a regex you have to pass for *most* SPAs

Source Address: `</^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|woff2|ttf|map|json)$)([^.]+$)/>` is the common pattern
Target Address:

[2021-07-30 21:59] userquin commented on #95
@armenr there is no stupid questions ;), try to ask this type of question on discord on Vite Land...

[2021-07-30 21:59] #95 closed

[2021-07-30 22:00] userquin commented on #95
@armenr I'll try to collect disparate deployments and talk with @antfu to see if we can add a wiki, the docs is really long and too heavy...

[2021-07-30 22:02] armenr commented on #95
@userquin - I work at AWS, managing a team of Senior Solutions Architects, specifically for startups. I'd be happy to collaborate/provide my notes and everything I've had to do to get vitesse (and the plugins/configuration it comes with) working with AWS deploys.

I'd love to contribute or collaborate. Let me know if you'd like to get in touch.

[2021-07-30 22:06] armenr commented on #95
To your point, I agree that the documentation might feel a little bit heavy...maybe we could break it out into disparate deployment examples within the `/examples` directory, and then have READMEs in each, to try and lighten up/clean up the core README docs?

[2021-07-30 22:08] userquin commented on #95
/cc @antfu

[2021-07-30 22:24] userquin commented on #95
The problem here is that the examples are just for testing purposes, maybe can be useful, but are for testing the sw, not the pwa (not ready for production).

I have another pending task (I'm very busy) to collect `workbox advanced usage`: cache external assets, using `workbox` plugins with `generateSW`... (see for example https://github.com/antfu/vite-plugin-pwa/issues/86#issuecomment-872970367 a

[2021-07-30 22:29] userquin commented on #88
/cc @antfu

https://github.com/antfu/vite-plugin-pwa/issues/95#issuecomment-890187104

https://github.com/antfu/vite-plugin-pwa/issues/95#issuecomment-890218046

[2021-07-30 22:51] armenr commented on #95
Thanks @userquin ! Let me know how I can be helpful to either you or @antfu. I'm really passionate about open source, and after getting into Vite, I'm totally in love and excited to contribute wherever or however I can.

Thanks again! I'm good to close this issue, if you are.

[2021-07-30 22:55] userquin commented on #95
@armenr It's already closed;). I'll ping you when I talk about this with antfu and let's see how we can rearrange the documents, see you and thx.

[2021-07-31 12:03] #93 closed

[2021-07-31 12:19] BroJenuel commented on #88
Documentation for vite-plugin-pwa would be awesome.

[2021-08-01 16:18] liho98 commented on #91
Same issue here, @userquin  why r u closing this?

[2021-08-01 16:31] userquin commented on #91
@liho98 the problem reporte originally fails because the sw is overriding the self scope and so it fails.

If your sw.js resides in public dir then the error is other since it Will be copy by vite and then thinolugin will skip it generation.

[2021-08-01 18:26] ghostdevv opened #96 "Generic client"
There is a way to create a [pop up for vue](https://github.com/antfu/vite-plugin-pwa/blob/master/examples/vue-basic/src/ReloadPrompt.vue) but none for people who don't use vue, for example Svelte users

[2021-08-01 18:34] userquin commented on #96
@ghostdevv see this comment https://github.com/antfu/vite-plugin-pwa/issues/65#issuecomment-845202658

[2021-08-01 18:40] ghostdevv commented on #96
@userquin I don't use Svelte Kit, I use [Routify](https://routify.dev)

[2021-08-01 18:46] userquin commented on #96
You have the component there inside components folder  just use it as a guide.

[2021-08-01 18:52] ghostdevv commented on #96
@userquin there would be significantly less boilerplate if this vite plugin offered a generic solution, if generic isn't possible then a svelte and react alternatives

[2021-08-02 01:52] myoshi1012 commented on #93
Noted. Thank you for dealing with it quickly.

[2021-08-02 14:12] Dreamacro opened #97 "Always generate sourcemap files with PWA-related files"
vite.config.ts

[code]

output:
[code]

Is there something wrong with the way I'm using it? 🤔

[2021-08-02 14:32] antfu commented on #97
[code]

[2021-08-02 14:32] #97 closed

[2021-08-02 14:47] Dreamacro commented on #97
Does the workbox `sourcemap` need to default to false in the case of production based on the `mode` in the vite config?

[2021-08-02 17:58] userquin commented on #95
@armenr can you provide a basic deployment for aws?

[2021-08-02 22:36] armenr commented on #95
@userquin - I absolutely can.

1. Redirects are automatic (in fact, https is the default out-of-the-box)
   Also, depending on your DNS setup, Amplify will take care of mapping your deployed branches to fully-qualified custom domains as well, but that might be a more contrived/difficult example to include right off the bat

2. You only need to add 1 basic redirect regex that covers almost all case

[2021-08-03 02:40] userquin commented on #95
@armenr I've never worked with AWS (nor Vercel) so I'm a bit lost, I need a minimal script or configuration to make it working, for example see these entries from new docs:

https://github.com/userquin/vite-plugin-pwa/blob/docs/add-vitepress/docs/deployment/index.md
https://github.com/userquin/vite-plugin-pwa/blob/docs/add-vitepress/docs/deployment/apache.md
https://github.com/userquin/vite-plugin

[2021-08-03 02:55] userquin commented on #95
We also need to configure a few headers about HS/TS, caching, gz/br compression... I need to collect all these headers, I will put here...

[2021-08-03 03:03] userquin commented on #95
A stupid question: AmazonS3 is the server behing AWS Amplify? As I said, I'm a bit lost.

About security headers:

- referrer-policy: no-referrer
- service-worker-allowed: /
- strict-transport-security: max-age=31536000
- x-content-type-options: nosniff
- x-frame-options: DENY
- x-xss-protection: 1 ; mode=block

About compression headers:

Can AWS Amplify compress on the fly using gz and br?

- co

[2021-08-03 03:26] armenr commented on #95
Yes -

You are able to add/modify those with some lesser-known configuration that can be done programmatically and tracked/versioned alongside your code, using the optional `amplify.yml` in your app codebase.

I will post a sample here shortly

[2021-08-03 05:09] armenr commented on #95
@userquin -

If you want to get in touch, let's connect on Discord/Telegram/Slack/Signal (whatever you're comfortable with)...and I can probably provide you with an example repo/project where we can include/explore anything that's needed for adding to the docs.

### Redirects & hosting an SPA/PWA/SSR app
<img width="1222" alt="Screen Shot 2021-08-02 at 10 01 49 PM" src="https://user-images.githubu

[2021-08-03 05:45] userquin commented on #95
@armenr search me on discord, Joaquín#7667

[2021-08-03 05:59] userquin commented on #95
@armenr also with CSP, good to know... thank you very much

[2021-08-03 08:06] antfu commented on #97
The default is from workbox, it does make sense to set the default from vite config. PR welcome.

[2021-08-03 08:10] userquin commented on #95
@armenr  A first version https://vite-plugin-pwa.netlify.app/, we have it merged on master branch

[2021-08-03 11:14] userquin commented on #88
Almost everything on the readme integrated on new docs, also added:

- vanilla js, typescript, vue2, vue3 and vitepress integration
- included deployment for: apache http server 2.4 and netlify, WIP for AWS Amplify and Vercel.
- workbox: WIP

[2021-08-04 21:30] userquin commented on #96
@ghostdevv I'm finishing the new docs, you can view the new docs package, and for framework just go to docs/frmawoework directory, PR are welcome. I have included vue (vue 2 and 3 exmaples) and vitepress.

[2021-08-04 21:47] ghostdevv commented on #96
How does this relate to generic/framework specific clients? A little confused :sweat_smile:

[2021-08-04 21:51] userquin commented on #96
@ghostdevv This repo will not include any ui component framework, the new docs will just include some minimal ui snippet so ppl can use it as a guide: we'll include main frameworks without any ui framwork, and so we will have vue, svelte and react.

See this page markdown file: https://github.com/antfu/vite-plugin-pwa/blob/master/docs/frameworks/vue.md

There will be one for each framework with th

[2021-08-04 22:44] ghostdevv commented on #96
Sounds good

[2021-08-05 09:48] userquin commented on #96
@ghostdevv Can you provide a repowith a minimal repro where I can play with svelte and Routify?

[2021-08-06 11:14] userquin commented on #88
Add other framework samples on new docs: #96

[2021-08-06 11:14] userquin commented on #96
@ghostdevv I close this issue, added hint on #88

[2021-08-06 11:14] #96 closed

[2021-08-06 12:13] userquin commented on #88
We have the new docs app on netlify (it's a pwa, it couldn't be otherwise ;) ): https://vite-plugin-pwa.netlify.app/

We need feedback from the community: PR are welcome.

Pending entries:
- deployment: AWS/AWS Amplify and Vercel
- frameworks: react and svelte

[2021-08-06 15:31] BroJenuel commented on #88
wow awesome,, I really like the docs,, and the Logo is so coooooooooooooolll!!! Nicely done.

[2021-08-06 15:39] userquin commented on #88
cortesy of @antfu I also love it

[2021-08-06 16:12] userquin commented on #88
@MartinMalinda @scambier @armenr @husayt your feedback are welcome

[2021-08-06 18:16] userquin commented on #96
@ghostdevv see https://vite-plugin-pwa.netlify.app/frameworks/svelte.html#using-svelte

![imagen](https://user-images.githubusercontent.com/6311119/128554468-c6b7016d-fe47-434b-a8d3-c6f0070f3861.png)

Once clicked on reload button

![imagen](https://user-images.githubusercontent.com/6311119/128554526-e568da47-d539-4585-a5cb-e8fdc56d8d33.png)

[2021-08-06 18:18] userquin commented on #96
@ghostdevv I'm working for integrating also `svelte`: `Svelte Kit` will not be supported since it has its own `service worker` module.

I also include some working examples on the examples package: using svelte and `Routify`.

There will be a basic and a router example similar to vue examples.

[2021-08-06 18:23] userquin commented on #88
Included `Svelte` entry: it should work with `Svelte`, but using `SvelteKit` you should use its own `service worker module`.

[2021-08-06 18:30] scambier commented on #88
I've read most of the docs, it's really clear. Well done!

[2021-08-06 18:34] userquin commented on #88
Thx Simon

[2021-08-06 18:38] userquin commented on #88
@scambier You have included in new `0.9.3` the logic to auto check for updates, remember #33: https://vite-plugin-pwa.netlify.app/guide/periodic-sw-updates.html

[2021-08-06 18:42] scambier commented on #88
I'll update as soon as I'm working again on my project (presumably in a month or two...) 👍

[2021-08-06 19:14] ghostdevv commented on #96
I'll take a look soon, thank you @userquin

[2021-08-06 19:42] armenr commented on #88
@userquin - I will get to work on Amplify docs!

[2021-08-06 22:58] userquin commented on #96
@ghostdevv see this https://github.com/userquin/vite-plugin-pwa/tree/feat/add-svelte, you can view `svelte-basic` and `svelte-routify` in examples directory. Maybe tmr will be merged here, I need to talk with antfu...

[2021-08-07 00:11] ghostdevv commented on #96
That's amazing, thank you so much!

[2021-08-07 10:52] userquin opened #106 "feat: add `svelte` support"
Add `svelte` virtual module similar to `vue` virtual module `virtual:pwa-register/vue`.

[2021-08-07 14:40] userquin opened #108 "feat: add `react` support"
Add `react` virtual module similar to `vue` virtual module `virtual:pwa-register/vue`.

[2021-08-08 02:16] #106 closed

[2021-08-08 02:16] #108 closed

[2021-08-08 08:45] userquin commented on #96
@ghostdevv virtual module for svelte and for react included on `0.10.0` versión. There are also 4 New examples 2 for svelte and 2 for react.

I Will also update the docs site...

[2021-08-08 08:47] userquin commented on #88
New `0.10.0` version released with svelte and react virtual modules and 4 examples projects with basic and router.

I Will also update the docs site today.

[2021-08-08 12:16] husayt commented on #88
@userquin my only feedback is that I am so impressed, from readme to proper website with detailed docs overnight! This is great. I found all the information useful.

Thanks

[2021-08-08 15:23] userquin commented on #88
First review done, includes following changes:

- Frameworks:
  - Vite: includes custom vite virtual modules references
  - Svelte: modified to use `svelte` virtual module
  - React: included using `react` virtual module

- Examples: new entry
  - Vue 3
  - React
  - Svelte
  - Vitepress

- Deployment:
  - Added entry `Testing your application on production`
  - Included `NGINX` configuration
  -

[2021-08-08 15:37] userquin commented on #96
@ghostdevv docs ready for svelte and react

[2021-08-08 15:47] userquin commented on #88
@antfu List of pending things:
- review 2: work in progress (@userquin: review some wording + change some items order)
- add `injectManifest` example for `svelte` and reference in docs: work in progress (@userquin)
- add `injectManifest` example for `react` and reference in docs: work in progress (@userquin)
- fix edit page: seems we need to add somehting to the codebase and/or github
- add algoli

[2021-08-08 16:01] userquin commented on #88
I forgot to add publish a `tweet` (patak says me `vite_js` will retweet it) 😅

[2021-08-08 17:02] userquin commented on #88
Second review done, includes following changes (see PR #110):
- review 2: some entries modified, see commits
- add injectManifest example for svelte and reference in docs
- add injectManifest example for react and reference in docs

[2021-08-08 19:06] dheimoz commented on #88
great work as always @userquin !!!!!!

[2021-08-08 21:45] ghostdevv commented on #96
Awesome ty

[2021-08-09 20:45] CXZ7720 opened #113 "Can't find type definition of module "virtual:pwa-register/react""
Hello. I'm working with default `react-ts` template.
I have an issue about  importing `virtual:pwa-register/react`.

IDE prompts there is no type definition of the module.

![issue](https://user-images.githubusercontent.com/29659112/128769740-689c4c15-f764-4714-b47a-c662ad3a7820.png)

However, suppress with `@ts-ignore`, it compiled and run successfully.
I can check service worker runs healthy in

[2021-08-09 21:03] CXZ7720 commented on #113
[https://vite-plugin-pwa.netlify.app/guide/ide.html](https://vite-plugin-pwa.netlify.app/guide/ide.html) works like a charm.

Closing issue. Thanks!

[2021-08-09 21:03] #113 closed

[2021-08-18 12:41] userquin commented on #88
@armenr any progress on the AWS docs? I guess you will be on vacation (or very busy) ;)

[2021-08-18 22:48] armenr commented on #88
@userquin - I have actually prepared an AWESOME example boilerplate, I will update with that in the next day or two...I got sidetracked while fixing one of JavaScript's + Vue's most ANNOYING and COMMON problems (formatting + linting + VSCode).

All the code (including the best possible linting setup) will be shared soon :)

[2021-08-19 05:12] #88 closed

[2021-08-19 05:13] antfu commented on #88
Close as we have moved the readme to the new docs.

[2021-08-20 11:00] userquin opened #116 "docs: add previous and next links at bottom page"
@antfu just a reminder

[2021-08-20 11:00] userquin opened #117 "docs: add algolia search"
@antfu just a reminder

[2021-08-20 11:02] userquin opened #118 "docs: add AWS guide"
@antfu just a reminder

/cc @armenr

[2021-08-21 14:55] jonian opened #120 "WorkboxError non-precached-url index.html"
Hi, thank you for this plugin.

I'm getting the error below when running the app with `vite preview` and in production. The app source code is available at https://github.com/jonian/awmonitor and the production link is https://awmonitor.netlify.app.

[code]

[2021-08-21 14:57] #116 closed

[2021-08-21 15:05] userquin commented on #120
@jonian can you try removing `?standalone=true` from the `start_url` with `vite preview`?.

[2021-08-21 15:18] userquin commented on #120
The problem is that routes are not added to the sw precache, you need to add them manually, I'll push changes to my fork and make a PR to your repo.

You can see this comment https://github.com/antfu/vitesse/issues/159 for an explanation.

[2021-08-21 15:32] userquin commented on #120
Well, the problem is on your `workbox.globPatterns` entry: you need to include all, it is exclusive, that is, if you include this entry, you MUST add all your patterns, not only assets: in your case, you are not including js and css assets.

Since you are using `vite`, all entries under `assets` directory will be included, you don't need to add them again.

Just remove the `workbox` entry from you

[2021-08-21 15:33] #120 closed

[2021-08-21 15:35] jonian commented on #120
Thanks for the quick response and the help @userquin

[2021-08-21 15:36] userquin commented on #120
@jonian I will add some entry on docs when using `globaPatterns` and some other similar entries from `workbox` and `injectManifest` to avoid this type of problems...

[2021-08-21 15:44] userquin opened #121 "docs: add common pitfalls using `workbox/injectManifest` plugin options"
@antfu just a reminder for using `workbox/injectManifest` plugin options such as `WorkboxError non-precached-url index.html`, see #120

Maybe we need to add some entries also when using SPA, flickering problem: requires add all routes to the sw precache (vitesse and vite-ssg problem recently solved).

[2021-08-21 16:01] jonian commented on #120
Thank you again @userquin, that will be really helpful.

[2021-08-21 16:47] jonian commented on #120
@userquin there are no images missing, they are the fonts the app uses from `@iconscout/unicons`. If I remove the font entries from the `workbox` config, the fonts are not available in offline mode. If I use the config below, everything works as expected in offline mode.

[code]

Without the `workbox` option in offline mode:

![Screenshot from 2021-08-21 19-41-39](https://user-images.githubusercon

[2021-08-21 17:42] userquin commented on #120
@jonian read this entry to configure properly your external fonts: https://vite-plugin-pwa.netlify.app/workbox/generate-ws.html#cache-external-resources

Basically you need to add crossorigin and then add runtimeCaching for fonts urls. I suggest you to add also `dns-prefetch` links.

[2021-08-21 17:45] #121 closed

[2021-08-21 17:48] userquin commented on #120
@jonian I have included a warning on `Static Assets Handling` entry: just go to https://vite-plugin-pwa.netlify.app/guide/static-assets.html and wait for prompt for update and then click reload button.

[2021-08-23 00:59] masx200 opened #123 "Found that the image is not cached by the service worker?"
Found that the image is not cached by the service worker?

 "vite": "^2.4.1",
"vite-plugin-pwa": "^0.11.0",
[code]
[code]
[code]
[code]
[code]

[2021-08-23 09:49] #123 closed

[2021-08-23 09:50] userquin commented on #123
@masx200 read static assets handling on vite pwa plugin docs: https://vite-plugin-pwa.netlify.app/guide/static-assets.html

[2021-08-23 11:54] frederikhors opened #124 "Add SvelteKit example"
Add SvelteKit example.

[2021-08-23 12:58] userquin commented on #124
@frederikhors right now this plugin and `Svelte Kit` are not supported as there are some compatibility issues:
- `svelte-kit assets directory` and` vite plugin directory` issue: see https://github.com/sveltejs/kit/issues/587
- `svelte-kit` registers its own` service worker` without being able to configure the `scope` option, so it would register the sw 2 times in different` scope` (former from `sv

[2021-08-23 14:22] userquin commented on #124
@frederikhors maybe on this repo: https://github.com/svelte-society/sveltesociety.dev

[2021-08-23 16:22] userquin commented on #124
@frederikhors I can generate the service worker using the approach described on my first response, I'll try to add the pwa icons and the prompt for update behavior (and trying also adding offline support), I'll push changes on my main branch of my fork.

[2021-08-23 16:22] userquin commented on #124
@frederikhors later I'll provide a small guide with changes I made...

[2021-08-23 21:36] userquin commented on #124
@frederikhors I have it working, also with offline support, there are some entries not working (internal server error: 500) when requesting `recipes` and `events` pages (maybe there are more pages not working, I don't navigate the entire app: the page renders, the error appears inside the page where the api call will render the api call). Maybe can be changed to show offline or maybe add a `backgr

[2021-08-23 22:05] userquin commented on #124
added `rimra`f and removed `build.pwa` script: update `build` script to delete `-svelte-kit` and `build`  directories before `build` project and rebuild `pwa`.

[2021-08-23 22:22] userquin commented on #124
To run the app `npm install` and then `npm run build && npm run preview`.

[2021-08-24 12:09] userquin commented on #97
@Dreamacro #126

[2021-08-24 23:03] userquin commented on #97
@Dreamacro you have it on `0.11.2` version

[2021-08-30 09:56] kutsan commented on #85
Thank you so much @userquin and sorry for the late response, I hadn't had time to check this out but now I did and it's working as you described.

[2021-09-02 19:20] userquin commented on #97
@Dreamacro can you take a look at this: https://github.com/antfu/vite-plugin-pwa/pull/130?

[2021-09-03 03:08] Dreamacro commented on #97
@userquin it works, thanks for great work 🥳

[2021-09-04 21:14] alanbosco commented on #38
@antfu I am following the guide to set up **vite-plugin-pwa** in a ts react yarn 2 project. This is the error I get.

[code]

[2021-09-04 21:39] userquin commented on #38
@alanbosco take a look at https://vite-plugin-pwa.netlify.app/frameworks/react.html and for ts see this https://vite-plugin-pwa.netlify.app/guide/ide.html

[2021-09-04 21:51] userquin commented on #38
@alanbosco you can takw a llok at the 3xamples directory, you have there 3 examples for react, and on pwa docs site an explanation

[2021-09-09 13:20] idleberg opened #131 "Overwrites HTML lang attribute"
I'm using this plugin for a Svelte project and have noticed that it will override an existing `lang` property in my HTML template.

Without VitePWA config:

[code]

With VitePWA config:

[code]

I have tried specifying the lang attribute in my web manifest as suggested by [MDN](https://developer.mozilla.org/en-US/docs/Web/Manifest/lang), but to no avail. Also I didn't find a setting to pass to Wor

[2021-09-09 14:32] userquin commented on #131
@idleberg This plugin doesn't change any html element/attr, only include the manifest and the script to register the sw.

[2021-09-09 14:33] userquin commented on #131
@idleberg can you show the `VitePWA` configuration?

[2021-09-09 14:39] userquin commented on #131
You must configure the `lang` attr on your html (on on your svelte layout), the `lang` on the `manifest.webmanifest` is for the manifest not for the html. You can see the html page on this svelte example: https://github.com/antfu/vite-plugin-pwa/blob/main/examples/svelte-basic/index.html

[2021-09-09 14:52] idleberg commented on #131
As mentioned in my initial post, I did specify the lang attribute in my HTML. I added the `manifest.lang` only after noticing that it's being overwritten. When I remove the VitePWA block from my config, the manifest stays as defined in the HTML.

[2021-09-09 15:09] userquin commented on #131
@idleberg I'll check it, but I'm 99.9% sure that this plugin doesn't change the html lang attr. Can you test on private window? I have some browser plugins doing strange things...

[2021-09-09 15:17] idleberg commented on #131
It appears that the Brave browser is responsible for this. So maybe it was a coincidence that it seemed right when I disabled the config. Let's close this issue and move on to another browser for development testing ;)

Thanks for you help!

[2021-09-09 15:17] #131 closed

[2021-09-10 23:43] dheimoz commented on #131
@idleberg thanks for reporting that Brave is creating this inconsistencies.

[2021-09-11 16:40] husayt opened #132 "Multiple manifest files for i18n"
I need to generate multiple manifest files, one for each language. How could that be supported?

For certain pages will be this manifest
[code]
and for other pages this one, for example
[code]

[2021-09-11 17:46] userquin commented on #132
https://docs.google.com/document/d/1Vwi_u7RP-HrzCz389Qp4EPKrWhanetu8ivcJmGbhwFc/edit

[2021-09-11 20:34] husayt commented on #132
@userquin these are just proposals. For now we can have one manifest file per html file. What I intend to do to have multiple manifest files one per each language and  set in html file for each language the appropriate manifest file, like specified above. That's cleanest thing one can do with SSG.

[2021-09-11 22:45] husayt commented on #132
İ just set manifest to false and placed files manually. That works like a charm

[2021-09-11 23:21] userquin commented on #132
@husayt so, there is no problem when chaning the manifest? can you see it on the dev tools or when prompt for install on the brpwser (chrome for example)?

Can you share the configuration, maybe I can add it to the docs, or maybe you can make a PR for it...

[2021-09-12 00:14] husayt commented on #132
See koran.center and koran.center/en
@userquin

[2021-09-12 00:21] userquin commented on #132
FYI: You need to reload the page when chaning the lang from app, the manifest on dev tools not updated and also not updated on install button (I mean, the title and description are loaded from lang where the page load).

[2021-09-13 21:40] husayt commented on #132
Yes, there were few rough edges(all fixed now), but that was due to some reactivity issues. Anyway all should be resolved now.

[2021-09-13 21:45] #132 closed

[2021-09-14 09:42] oliverpool opened #133 "docs: Worker example of Web Share Target API"
Hi,

after a bit of struggling, I finally managed to have a working PWA with Web Share Target API (so you can choose a picture in your gallery, click "share" and send them to my PWA :tada: )

It uses the (default) `generateWS` mode and the following config:
[code]

Do you think that it would be worth integrating such an example in the documentation?

If yes, where ? (Maybe a new category `Examples

[2021-09-14 17:42] userquin commented on #133
@oliverpool But what is the flow? I mean, if you share a photo, the pwa , what will do with that photo (open share api)? Maybe you should create a minimal example repo and explain it a bit more...

[2021-09-14 19:20] oliverpool commented on #133
My PWA is like a social network and I want to let the people share their own pictures easily.

There is this "Web Share Target API" to let the browser/smartphone know that my PWA wants to be included in the possibilities to share a picture. For this API to work, the files reception must be handled by the worker:

- a POST request is made to the worker on the specified URL of the `share_target`
- t

[2021-09-23 12:42] vcastro45 opened #134 "vendor.[revision].js not pushed in self.__SW_MANIFEST"
In a vue2 app using @vue/composition-api and vite, the vendor.[revision].js is not present in the self.__WB_MANIFEST variable in service worker.

Here is how the plugin is configured un my `vite.config.ts`:

[code]

`registerSW.ts` that is imported in `main.ts` (because `virtual:pwa-register/vue` can't be used with vue 2):
[code]

the service worker himself:
[code]

[2021-09-23 13:05] userquin commented on #134
@vcastro45 take a look at https://vite-plugin-pwa.netlify.app/frameworks/vue.html#vue-2

[2021-09-23 13:07] userquin commented on #134
@vcastro45 see also https://github.com/antfu/vite-plugin-pwa/issues/81

[2021-09-28 14:48] vcastro45 commented on #134
@userquin It still not working in vue 2 using the code you suggested in the code (mixin used in the App.vue component in my case).
isn't it possible to just make it available with the "composition api way" for vue 2 ?

[2021-09-28 15:31] userquin commented on #134
can you provide a repo? some error on client side? maybe you have some ui error...

the repo on #81 is working, you can compare your client logic...

This repo is about pwa, it is framework agnostic, right now there is no plan to add support for vue2.

[2021-09-29 18:59] userquin commented on #134
@vcastro45 you are using auto update behavior on your custom service worker? the `onNeedRefresh` will never be called.

You need to remove/comment out these 2 lines from your custom service worker:
[code]

[2021-09-30 12:13] vcastro45 commented on #134
@userquin After some more investigations, I resolved the problem. I had to increase the value of the `maximumFileSizeToCacheInBytes` variable in config (that is a part of the workbox config editable through the VitePWA config).
The default value is `3000000` bytes and I needed more.

I don't know if it is an issue for Workbox or vite-plugin-pwa but in my opinion it must show an error in the consol

[2021-09-30 16:17] userquin commented on #134
@vcastro45 thx, I'll investigate, seems you're using `injectManifest` strategy I'll try to log warnings returned by `workbox` while injecting the manifest.

[2021-09-30 16:32] userquin commented on #134
@vcastro45 changing the module to log warning and configuting "injectManifest: { maximumFileSizeToCacheInBytes: 100 }" result building `vue-basic-inject-manifest` is:
[code]

Thx, I'll psuh a PR and include some hint on the docs.

[2021-09-30 16:53] userquin commented on #134
Also need to log when using `workbox-build::generateSW`, also configurable on `workbox` plugin option when using `generateSW` strategy.

[2021-09-30 17:06] userquin commented on #134
I'll also log the result when `viteOptions.logLevel === 'info'`, the warnings will be always logged.

[2021-09-30 17:37] userquin commented on #134
Using `vue-basic-inject-manifest` as example with:
[code]

will log following on console:
[code]

while removing `maximumFileSizeToCacheInBytes: 100` the result will be:
[code]

[2021-09-30 17:40] userquin commented on #134
Using `vue-router` as example with:
[code]

will log following on console:
[code]

while removing `maximumFileSizeToCacheInBytes: 100` the result will be:
[code]

[2021-09-30 18:47] userquin commented on #134
@vcastro45 can you take a look at docs on the PR?
- https://deploy-preview-135--vite-plugin-pwa.netlify.app/workbox/generate-ws.html
- https://deploy-preview-135--vite-plugin-pwa.netlify.app/workbox/inject-manifest.html

See `Missing assets from SW precache manifest` and `Log injecManifest result`.

[2021-10-01 06:47] vcastro45 commented on #134
@userquin looks good to me
Thanks for your prompt response and fix

[2021-10-01 09:48] userquin commented on #118
@armenr sorry to bother you, any advance on this?

[2021-10-01 21:43] #134 closed

[2021-10-15 00:36] dohomi opened #139 "Vercel receives [vite-plugin-pwa] Unexpected token with use of aws-amplify"
Hello

I work on an integration with aws-amplify and my deployments fail due to following error:

[code]
Is there a known issue how to handle this error? Thanks!

[2021-10-17 18:05] rmortes opened #140 "docs: Running a webapp offline"
Hey, I'm struggling a bit with caching a SPA with this plugin, to run it offline. I get a page that says "Oops, you appear to be offline, this app requires an internet connection.", but I can't get any further.

Could you please point me in the right direction to reach this goal? I'd love to write docs about this (and about running solidjs with this plugin, although it's pretty easy)

Thanks!

[2021-10-17 18:20] userquin commented on #140
You need to check failing resources  on offline from network tab in dev on your browser.

You need yo check each page collecting all missing resources not ibcluded on the pwa manifest.

Once collected all failing resourceson all your pages, should be images and assets, you need to add all to the sw manifest using the include assets entry on the plugin: https://vite-plugin-pwa.netlify.app/guide/sta

[2021-10-17 20:02] rmortes commented on #140
Since I'm currently trying to create a template, I'm not really working with any external or internal data, just a basic number counter.

The problem I'm facing is: Whenever I go offline, the service worker serves a page named "/offline.html" that only contains the text I wrote in my first message. I'm pretty sure the glob that comes by default (`"**\/*.{js,css,html}"`) sufices to cache my `index.

[2021-10-17 20:48] userquin commented on #140
To test the pwa on offline you MUST build and preview the build, on dev there is no sw, this plugin will no register/generate it.

If the problem is using the build preview, can you provide a repo with your template? Maybe tmr I can take a look...

[2021-10-17 21:29] rmortes commented on #140
Sure, here it is: https://github.com/rmortes/solid-pwa

I'm using `yarn build && yarn serve` to test it

[2021-10-17 21:48] userquin commented on #140
The pattern is a glob pattern not a regex pattern, see generated sw.js on the dist folder or in the source tab on browser, you dont have the index.html on the sw cache manifest.

Just try comment out the workbox entry from the plugin, should work as expected.

[2021-10-17 22:01] rmortes commented on #140
Same error with the workbox config commented out. This is the HTML I get displayed

[code]

[2021-10-18 10:30] userquin commented on #140
the branch can be found here: https://github.com/userquin/solid-pwa/tree/chore/register-pwa-sw

[2021-10-18 18:28] userquin opened #141 "add `SolidJS` support"
I have it on local also the pwa docs, I only need to add the 3 examples...

[2021-10-18 22:34] userquin opened #143 "add `preact` support"

[2021-10-19 22:02] unpseudocomplique opened #144 "deploy on express server"
Hi,
can't mange to make the plugins work with express as a server.

here is a test repo: [https://github.com/unpseudocomplique/test-express-server](https://github.com/unpseudocomplique/test-express-server)

### Steps to reproduce to NOT make it work:
[code]

### Steps to reproduce to make it work:
Replace vite build by vite-ssg build and :
[code]
I have another question, why in the doc the plugin

[2021-10-20 06:56] zynth17 commented on #89
got the same problem and ended up installing workbox-window manually

[2021-10-20 12:45] userquin commented on #144
@unpseudocomplique sorry but you're using `vitesse` template and so you need `vite-ssg`, the problem is not related to the pwa plugin.

If you can, just comment out the plugin using `vite` instead `vite-ssg` and you'll see you cannot build your repo; the pwa plugin error will appear since it is a `vite` plugin with `enforce: `post'`, but the root cause is not the plugin, the plugin just throw the

[2021-10-20 19:17] userquin commented on #144
You need to wait a few seconds until the app is cached by the pwa sw, on my laptop takes a few seconds, maybe on your enviroment will take more time.

Using `vite-ssg` will show the server, the server ssr generation, here the ouput with vite:

[code]

[2021-10-20 19:29] unpseudocomplique commented on #144
I'm sure even after more than 30s there were no popup. More strange the lighthouse test in chrome devtool show that it can't be installed.
I will try again when i'm at home 🤔.

[2021-10-20 19:30] userquin commented on #144
@unpseudocomplique what popup? the `registerType` is `autoUpdate`, you will need to change it on `vite.config.ts` configuration and then add the `ReloadPrompt.vue`, removing the logic from `src/modules/pwa.ts`.

[2021-10-20 19:41] userquin commented on #144
@unpseudocomplique read again the docs, `vitesse` template is using `autoUpdate` not `prompt`  on `registerType` so there is no prompt, once detected new version, the app will be auto updated.

If you remove/comment out `registerType`  from pwa plugin configuration and comment out the logic inside `src/modules/pwa.ts`, adding a `ReloadPrompt.vue` component and include it on `src/App.vue`, you stil

[2021-10-20 19:47] userquin commented on #144
There is no such thing on the docs, you have a prompt for update dialog not for install the pwa: you must click on the navigation bar as shown on previous screenshots for Edge and Chrome.

[2021-10-20 20:54] userquin commented on #144
@unpseudocomplique

do you have checked this entry https://vite-plugin-pwa.netlify.app/deployment/#getting-started? Check on network tab on dev tools if all assets are 200 OK, and check if the `manifest.webmanifest` resource content is a JSON and not a string with base 64 encoding. You must check also that on Application tab on Application > Manifest you have the manifest, also on Applciation > Se

[2021-10-20 21:11] userquin commented on #144
@unpseudocomplique not received man: userquin@gmail.com

[2021-10-20 23:36] unpseudocomplique commented on #144
Found the issue with a big thanks to @userquin
SW was not registered with autoUpdate.
Here is a semple:
[code]

[2021-10-20 23:36] #144 closed

[2021-10-21 00:37] userquin opened #145 "docs: add `autoUpdate` usage"
To be included, seems it is not clear on docs how to use it and where/how to make the call to the virtual module (using import or dynamic import):
- add `useRegisterSW` fw variants on `Prompt for update` and `Auto Update` guide entries
- add `autoUpdate` entry on each fw with an small code snippet
- add `autoUpdate` with `vue-router` hint, maybe add small code snippet and add how to use it with SS

[2021-10-21 01:46] #139 closed, assigned to nobody

[2021-10-21 04:39] mattfysh opened #146 "Seamless off/online user experience"
Hi there,

I've just picked up `vite-plugin-pwa` to make my site available offline, however I was wondering if there is a way to offer this functionality without prompting the user, or otherwise giving them any indication to the works of the offline cache?

Ideally, when the user is online, the site would behave like it would without the service worker

And when the user is offline, or there are i

[2021-10-21 09:05] userquin commented on #146
@mattfysh the sw once receives the new version will update all opened clients: tabs, New Windows and also browsers instances.

The sw updates works like browser updates, next time the browser is restarted will install the New version. If you are using prompt for update you will need the user interaction since the sw will be kept on skip waiting state.

This plugin cannot bypass the sw lifecycle.

[2021-10-23 10:44] #140 closed, assigned to nobody

[2021-10-25 07:19] johannschopplich opened #147 "`ReferenceError`: navigator is not defined"
With:
- Vitesse as base
- `registerType: 'prompt'`
- `ReloadPrompt.vue` from [the docs](https://vite-plugin-pwa.netlify.app/frameworks/vue.html)

The error will include lines like:
[code]

To reproduce locally, [this repo may serve](https://github.com/johannschopplich/vitesse-prettier) for testing.

[2021-10-25 13:07] #147 closed, assigned to nobody

[2021-11-03 07:43] Moerning opened #148 "Subpar documentation and guidline"
The documentation and examples, provided for this plugin lacks the much needed sophistication and care.
I mean look here for example:
https://github.com/antfu/vite-plugin-pwa/blob/main/examples/vue-basic-inject-manifest/vite.config.ts
This is a vue js example to demonstrate the inject manifest strategy and yet when you look at it you see that the inject manifest option in vite.config.ts is not eve

[2021-11-03 16:58] TheDutchCoder opened #149 "Typescript IDE FAQ is not working"
I'm following this guide: https://vite-plugin-pwa.netlify.app/guide/faq.html#ide-errors-cannot-find-module-ts2307
In order to get rid of the TS errors in Vue SFC's, but it's not picking the types up when I add them to the config.

[2021-11-03 17:02] antfu commented on #149
We temporarily close this due to the lack of enough information. Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen the issue. Thanks.

[2021-11-03 17:02] #149 closed

[2021-11-03 17:03] TheDutchCoder commented on #149
I think it's actually Volar not being able to deal with monorepos.
It works fine if I open the app as the root in VScode, but not if I open the root of the repo.

Sorry for the bother!

[2021-11-05 09:29] userquin commented on #145
add also a link to this guide (not yet finished): https://web.dev/learn/pwa/

[2021-11-06 09:44] weijarz opened #150 "How to let service worker to exclude some urls"
I dont want some urls (e.g.  /api/, /admin/, /blog/) to be controlled by service worker,  Can I set a regexp to exclude these urls?

[2021-11-06 11:32] userquin commented on #150
See this entry : https://vite-plugin-pwa.netlify.app/guide/static-assets.html

[2021-11-06 13:03] #150 closed

[2021-11-07 16:59] WhoAdarshPandya opened #151 "not working while using preact"
hey @antfu , awesome library for vite, I'm making an interesting project using vite + preact though plugin works fine with react, it's not working with preact. can we expect something in future? Thanks

[2021-11-07 17:26] userquin commented on #151
@WhoAdarshPandya we'll add support for `preact` when we have time to do if (PR are welcome), in the mean time you can use vanilla javascript virtual module to add preact reactivity system using https://github.com/antfu/vite-plugin-pwa/blob/main/src/client/build/react.ts as a guide.

[2021-11-10 14:58] userquin commented on #151
@WhoAdarshPandya add repo where we can check what's failing using this plugin with `preact`

[2021-11-12 08:37] r-moore commented on #89
still seems to be a problem

[2021-11-12 11:18] userquin commented on #89
@r-moore we are not able to fix this, so we suggest you to install it as dev dependency...

[2021-11-12 22:15] krry opened #152 "includeAssets does not exist in type Partial<VitePWAOptions>"
When attempting to follow the [guide](https://vite-plugin-pwa.netlify.app/guide/generate.html), typescript notices that `includeAssets` does not exist on the type for `VitePWAOptions`.

How might I remedy this?

[2021-11-12 23:50] krry commented on #152
Oops, my mistake. This is fixed already. pnpm is using v0.7.3 for some reason.

[2021-11-12 23:50] #152 closed

[2021-11-13 19:33] userquin commented on #148
@Moerning you can read the docs entry here https://vite-plugin-pwa.netlify.app/frameworks/vue.html and the exampe docs here https://vite-plugin-pwa.netlify.app/examples/vue.html

The logic is not on the `App.vue` component, it is on `ReloadPrompt.vue` component.

The api definition can be found here https://github.com/antfu/vite-plugin-pwa/blob/main/client.d.ts#L13  (`vite-plugin-pwa/client`)

[2021-11-13 19:33] #148 closed

[2021-11-13 20:08] userquin commented on #148
@Moerning next version of docs will include the type declarations for each framework, for exmaple for vue3 you can see it here: https://github.com/antfu/vite-plugin-pwa/pull/153/commits/5c511bfc593bddd7abdc3d9ce0f5134f3717f7de#diff-9075b210cd8e92ede71398f203f0e70790b5d5e3f85a294b560b3cd1839a3c67R12

[2021-11-13 21:23] userquin commented on #145
@unpseudocomplique @johannschopplich can you take a look at this https://deploy-preview-153--vite-plugin-pwa.netlify.app/guide/faq.html#navigator-window-is-undefined?

[2021-11-13 22:22] johannschopplich commented on #145
@userquin Great update! I like it a lot, especially the explanation of the `<ClientOnly>` component at the end.

The only complaint I have is the wording of the intro section – maybe you could use a list instead of the multiple `when`s?

[2021-11-13 22:45] userquin commented on #145
after 3000 lines of code, tmr I'll take a look, and thanks for the review

[2021-11-13 22:47] userquin commented on #145
https://github.com/antfu/vite-plugin-pwa/pull/153#issuecomment-968159191

[2021-11-13 22:49] johannschopplich commented on #145
@userquin Not that important compared to your terrific work. 🙂

[2021-11-14 11:10] userquin commented on #145
@johannschopplich can you take a look again to the FAQ entry? wait to prompt for update, and then reload and review it: or just go to the PR and see it here: https://github.com/antfu/vite-plugin-pwa/blob/c0b6b5552d06e437def31ea328aa6afd189dcd23/docs/guide/faq.md

[2021-11-14 14:57] #141 closed

[2021-11-14 14:57] #143 closed

[2021-11-14 14:57] #145 closed

[2021-11-14 14:57] #151 closed

[2021-11-14 19:04] krry commented on #38
This did it for me. I was specifying `"types": ["vite/client", "node"]` but no longer have to with `vite.config.ts` included.

[2021-11-14 19:35] userquin commented on #38
@krry

- https://github.com/antfu/vite-plugin-pwa/blob/main/examples/react-basic/tsconfig.json#L17 and/or
- https://github.com/antfu/vite-plugin-pwa/blob/main/examples/react-basic/src/vite-env.d.ts#L3

[2021-11-14 22:08] userquin opened #154 "Add solidjs and preact to readme"
Reminder

Also add link to client types on usage section after plugin configuration and before docs link

[2021-11-15 19:51] akirarika opened #155 "The images in /dist/assets are not cached"
I changed the SVG image in the demo to PNG, and then placed it in `/src/assets`. This image will not be displayed offline

I tried to write `['*.png']` in `includeAssets`, it didn't seem to work

I uploaded the demo code [here](https://github.com/akirarika/vite-plugin-pwa-demo)

[2021-11-15 20:07] userquin commented on #155
@akirarika it is a `fast-glob` pattern, you should use `['assets/*.png']`: see this entry from docs https://vite-plugin-pwa.netlify.app/guide/static-assets.html#static-assets-handling

If you want to add `svg` and `png` files, just combine into one `['assets/*.{png|svg}']` or include both `['assets/*.png', 'assets/*.svg']`.

You can see also `fast-glob` docs: https://www.npmjs.com/package/fast-glo

[2021-11-15 20:10] userquin commented on #155
@akirarika if you change your resources from directories (public to assets), you should read the `publicDir` entry on vite docs

[2021-11-15 20:47] akirarika commented on #155
@userquin thank you!

add these in `VitePWA` options in `vite.config.js`, it works for me:

[code]

although this solves the problem, I don't know if it's right, I've tried to writing `includeAssets: ["assets/*"]` or `['assets/*.png']` is invalid.

thank you again! @userquin

[2021-11-15 20:57] userquin commented on #155
@akirarika both are equivalent, the main diference is that with your solution, you sould take care including all assets. `includeAssets` will add the result on `[workbox/injectManifest].additionalManifestEntries` instead manipulating `[workbox/injectManifest].globPatterns`: https://github.com/antfu/vite-plugin-pwa/blob/main/src/assets.ts#L32, https://github.com/antfu/vite-plugin-pwa/blob/main/src/

[2021-11-15 20:57] #155 closed

[2021-11-16 04:57] Whirl21 opened #156 "No matching service worker detected. You may need to reload the page, or check that the scope of the service worker for the current page encloses the scope and start URL from the manifest."
Hey there i am facing this issue -
No matching service worker detected. You may need to reload the page, or check that the scope of the service worker for the current page encloses the scope and start URL from the manifest.
My plugin is setup correctly
- my vite.config.ts file -
[code]

[2021-11-16 04:57] Whirl21 commented on #156
all the icons and assets are present in my public folder ( im testing over https aswell )

[2021-11-16 05:53] vijayRT commented on #156
I'm facing this issue as well.

* OS: Ubuntu 20.04 LTS
* Node.js: v16.13.0
* PNPM: v6.22.2
* Vite: v2.6.4
* vite-plugin-pwa: v0.11.5

Repo for repro: https://github.com/vijayRT/rummy-scoreboard

Using the default plugin config provided in the docs at https://vite-plugin-pwa.netlify.app/guide/generate.html

When the build command is run it also generates `registerSW.js` and `sw.js`

![image](https:

[2021-11-16 08:50] Whirl21 commented on #156
same it generates the files for me aswell

[2021-11-16 09:33] userquin commented on #156
@Whirl21 @vijayRT you need to import the virtual module and call it to register the service worker: https://vite-plugin-pwa.netlify.app/frameworks/#usage

@vijayRT since you're using `autoUpdate` strategy just add this to your `main.ts`:
[code]

You can see the `examples/vue-*` directories on this repo. Instead using vanilla version of the virtual module, they're using the vue 3 variant `import {

[2021-11-16 09:36] userquin commented on #156
Yu should read this https://vite-plugin-pwa.netlify.app/guide/auto-update.html, the guide has a configuration and a runtime sections.

The confifugration is used to configure the behavior, the runtime to install and interact with the service worker.

[2021-11-16 09:49] Whirl21 commented on #156
ic
thanks i will take a look

[2021-11-16 11:10] Whirl21 commented on #156
hey @userquin i tried doing that and updated my main.tsx to look like this , however im still facing the same issue
[code]

[2021-11-16 11:14] Whirl21 commented on #156
ok well i took another look at the examples seems im doing something wrong

[2021-11-16 11:44] userquin commented on #156
@Whirl21 you can check the `react` examples.

[2021-11-16 13:35] FezVrasta opened #157 "network-first strategy?"
Hi, is it possible to use this plugin to setup a network-first strategy service worker?

[2021-11-16 13:46] userquin commented on #157
![imagen](https://user-images.githubusercontent.com/6311119/141996770-b97cd23e-640d-4f56-8cec-8dd3a21693f2.png)

[2021-11-16 13:46] #157 closed

[2021-11-16 13:51] FezVrasta commented on #157
Why isn't it part of the docs? Looking into a closed PR doesn't seem intuitive.

[2021-11-16 14:07] userquin commented on #157
You can do whatever you want with a custom service worker, we can't cover all use cases, go to the workbox documentation, how to implement the service worker with your requirements is something you should investigate yourself.

[2021-11-16 14:08] userquin commented on #157
You have the branch on my repo

[2021-11-17 02:50] Whirl21 commented on #156
i actually made it work with the vanilla example 😄.
thank you for the help

[2021-11-17 02:54] Whirl21 commented on #156
**To Anyone Having the same issue** -
you might not have followed the steps in guide page 3 & 4 like me and just thought you don't need those, while you actually do!

[2021-11-17 02:54] #156 closed

[2021-11-17 07:17] mxm-web-develop opened #158 "vite + typscript + vue3 build error"
I followed every setps on your doc, but there are some error apeared on build process
first, the package come without types, after check online,I add this node_modules/vite-plugin-pwa/client.d.ts into tsconfing to resolve the problem.
However it only work on development mode, when i try to build the code, errors shows:

[code]

[2021-11-17 10:42] userquin commented on #158
You need to add `vite-plugin-pwa/client` to types but also `WebWorker` to lib:

https://vite-plugin-pwa.netlify.app/guide/faq.html

https://vite-plugin-pwa.netlify.app/guide/inject-manifest.html#typescript-support

[2021-11-18 02:37] mxm-web-develop commented on #158
![Screen Shot 2021-11-18 at 10 37 15 AM](https://user-images.githubusercontent.com/84134484/142341317-b6210715-71d3-47f1-be1b-be3f4d25ae1e.png)
I do have the setup in my tsconfig,but the building still failed

[2021-11-18 02:43] mxm-web-develop commented on #158
its seems like the lib dom and lib webworker has some conflict when i try to build the code

[2021-11-18 19:37] #154 closed

[2021-11-18 19:50] userquin commented on #158
version of typescript?

[2021-11-19 03:45] mxm-web-develop commented on #158
![Screen Shot 2021-11-19 at 11 44 33 AM](https://user-images.githubusercontent.com/84134484/142561342-d7c17426-99bb-43c0-b222-2b0bd0d315f7.png)

herte is my ts version: 4.x.x

[2021-11-19 03:54] mxm-web-develop commented on #158
for convenience , i pushed the code to this repository : https://github.com/mxm-web-develop/pwa_issue

[2021-11-19 22:09] userquin commented on #158
can you update ts dep to 4.4.4 or 4.5.2 and test again?

[2021-11-21 15:49] SebT opened #162 "self.registration is undefined"
Greetings. When I try to run `self.registration.showNotification` inside my service worker, it throws an error because `self.registration` is undefined.

I tried with both "injectManifest" & "generateSW" strategies. I managed to show notifications on chrome desktop with `new Notification`, but on mobile it throws an error and tells me to use `ServiceWorkerRegistration.pushNotification`. I see self

[2021-11-21 20:58] userquin commented on #162
@SebT https://developers.google.com/web/ilt/pwa/introduction-to-push-notifications

I need to rewrite the docs.

[2021-11-21 20:58] #162 closed

[2021-11-23 16:00] arackaf opened #163 "Workbox appears to be needlessly generating revision hashes"
I'm in the process of writing a blog post about the Vite-pwa plugin (it's amazing and thanks for your wonderful work).

Jeff Posnick (works on Workbox for Google) was reviewing it, and he called this minor point out, which relates to how this plugin works. Just as an fyi I thought I'd pass it along.

![image](https://user-images.githubusercontent.com/11261266/143059203-24c37be8-83d3-4268-9515-8750

[2021-11-23 16:16] userquin commented on #163
Since you can access to the `workbox` or `injectManifest` configuration, you can configure `dontCacheURLMatching` on the pwa plugin configuration, when I have time I'll add the suggestion from `Jeff Posnick` as the default.

[2021-11-23 17:43] userquin commented on #163
/cc @antfu the changes are minimal, I'll add the default value `/\.[a-f0-9]{8}\./` on `options` module for both strategies.

@arackaf here the results running `exmaples/vue-router` twice:

![imagen](https://user-images.githubusercontent.com/6311119/143076153-5368148e-4d90-48a5-ac20-bc0af279d2d7.png)

![imagen](https://user-images.githubusercontent.com/6311119/143076385-27c418c8-cbba-4ddc-b40a-7f5c

[2021-11-23 17:55] arackaf commented on #163
@userquin looks great! And yeah I know about the workbox config option - like I said, I was just passing along the suggestion from Jeff about changing the defaults.

Thanks a ton for looking, and thanks for the plugin. It works wonderfully!

[2021-11-23 17:57] userquin commented on #163
@arackaf I'm adding `local-pkg` to make it working on `esm` avoiding using `__dirname`. do you know if `workbox` works on `esm` environment?

[2021-11-23 18:13] arackaf commented on #163
I don't think Service Workers currently support esm, but Jeff Posnick would know more - I'll ping him.

[2021-11-23 18:20] jeffposnick commented on #163
In some browsers (Safari and Chrome; not Firefox) the service worker runtime supports ES modules: https://web.dev/es-modules-in-sw/

But it's honestly a mess to feature detect, and you effectively need to generate multiple flavors of service worker, and potentially multiple flavors of registration code. Additionally, while Workbox is authored using ES modules, we don't publish ready-to-use built l

[2021-11-23 18:27] userquin commented on #163
@jeffposnick the problem is when generating the client module on build time.

You can see we use `__dirname` on `src/modules.ts` (https://github.com/antfu/vite-plugin-pwa/blob/main/src/modules.ts#L13), and so on `esm` environment the plugin will fail.

This plugin will load the `src/client/build/xxx.mjs` to replace `base` and `scope`, so the client is not the problem.

So, running `workbox-build`,

[2021-11-23 18:44] userquin commented on #163
For example, we have a similar problem on another plugin, see the changes: https://github.com/antfu/unplugin-auto-import/pull/80/files#diff-cda0303e4203d40c6d10808af40ddbea15cb676da0dd85c57f78f035bc1f26c4L11

The change I'll make here is the same, changing the name to resolve `vite-plugin-pwa/client/${mode}/${source}.mjs` file on https://github.com/antfu/vite-plugin-pwa/blob/main/src/modules.ts#L1

[2021-11-23 18:55] arackaf commented on #163
@userquin am I understanding you right that this is only a problem at build time, if someone were to try to run the Vite-pwa plugin in the native Node esm environment?

[2021-11-23 18:58] userquin commented on #163
@arackaf yes, I think I don't need to change it, since it is only at build time, sorry for the noise...

[2021-11-23 19:01] arackaf commented on #163
@userquin No worries at all. Node esm has been such a mess - sorry it's causing you problems here. Ultimately I wouldn't sweat it though. This plugin is fantastic!

[2021-11-23 19:08] userquin commented on #163
@arackaf I use this plugin on an `sveltekit` project with static adapter (esm: type module) here https://github.com/userquin/sveltesociety.dev and it is working...

[2021-11-23 19:51] #163 closed

[2021-11-23 19:58] userquin commented on #163
@arackaf @jeffposnick you have it on new release `0.11.7`

[2021-11-24 02:24] mxm-web-develop commented on #158
I did, but it doesn't solve the problem

[2021-11-25 04:50] arackaf commented on #89
Just chiming in here. I don't think this is a bug with vite-plugin-pwa. I got bitten by this. Deleting the package-lock.json, deleting node_modules and then running a fresh install causes workbox-window to get pulled in.

[2021-11-26 01:16] userquin opened #168 "Should add the frameworks to the project tags"
@antfu you should add vanilla js, vue, solid, svelte, react and preact to the project tags to the existing ones: vite, pwa, worbox and vite-plugin.

If you search for example "pwa svelte" on github this plugin is not shown in the first few search page result.

[2021-11-26 16:25] #168 closed

[2021-11-26 19:51] userquin opened #169 "add keywords with repo tags to pwa docs"
reminder for crawlers

[2021-11-26 19:56] userquin commented on #124
@frederikhors I'll add it soon, once #167 merged

[2021-11-27 18:54] wavebeem opened #171 "react: `onRegistered` is called a lot"
I'm using `useRegisterSW` from `virtual:pwa-register/react` and the `onRegistered` callback is called more than once on a given page load.

I would expect this would only be called once per page load. I looked at the `useRegisterSW` hook and it appears to register the SW outside of a `useEffect`. It seems like this should be inside a `useEffect(fn, [])` call so it only gets called on component mou

[2021-11-27 18:56] #169 closed

[2021-11-27 19:00] wavebeem opened #172 "`offlineReady` is never true"
It seems `offlineReady` is never true. I'm using the `useRegisterSW` plugin and only have 3 files in my `includeAssets`.

On page load, the Network panel shows that all 3 files have been loaded via SW, but `offlineReady` is never true (https://deploy-preview-118--pkmn-help.netlify.app/offense/)

The code is in this branch: https://github.com/wavebeem/pkmn.help/pull/118/files

This is my `VitePWA`

[2021-11-27 19:14] userquin commented on #172
@wavebeem this can be a side effect from workbox (from #171 ), since the sw is registered multiple times, the logic on the workbox window module will handle as external update and will notify as ready to work offline.

[2021-11-27 19:14] userquin commented on #171
@wavebeem can you try using `virtual:pwa-register` and wrap it with your ui logic?

PR welcome.

[2021-11-27 19:18] wavebeem commented on #171
Thanks @userquin, I'll see what I can do!

[2021-11-27 19:19] wavebeem commented on #172
Oh, I think I saw something about this in the docs. I'll see if working on #171 fixes this. Thanks!

[2021-11-27 19:20] userquin commented on #172
yeah, when running the examples and you forget to go online testing offline mode

[2021-11-27 19:24] userquin commented on #171
you should use ReloadPrompt component without side effects (maybe memo or something similar reat provide), the dialog/prompt will be shown only once

[2021-11-27 19:54] userquin commented on #171
@wavebeem in the `react-router` example it is called twice, the second time seem to be once the `ready to work offline` is shown.
On `vue-router` example is called only once since vue works complety different.
On `preact-router` the same result as `react-router`, called twice.
On `svelte-routify `the same result as `vue-router`, called only once.
On `solid-router` the same result as `vue-router`,

[2021-11-28 02:31] wavebeem commented on #172
Yeah, I just used `virtual:pwa-register` directly and I got the "offline ready" status as soon as I cleared the SW and registered a new one. I'll close this and re-open only if #171 doesn't fix this. Thanks!

[2021-11-28 02:31] #172 closed

[2021-11-28 05:28] wavebeem commented on #171
OK, I think this code will fix the problem. I tested it on my own site and it seems to work correctly.

The main difference is `useState` with an initializer function so that `registerSW` is only called once, and then we store the update function.

[code]

[2021-11-28 13:05] userquin commented on #171
@wavebeem it seems your suggestion fix both, react and preact, I will keep the options outside the `useState` for `updateServiceWorker`. On the pwa examples it works in both, only one registration log, can you test it?:

[code]

[2021-11-28 13:14] userquin opened #174 "preact: `onRegistered` is being called multiple times"
The same behavior as #171

[2021-11-28 13:27] #171 closed

[2021-11-28 13:27] #174 closed

[2021-11-28 13:54] userquin commented on #171
@wavebeem try update and test with new release `0.11.8`

[2021-11-28 17:03] wavebeem commented on #171
Thanks! It's working well! 😄

[2021-11-28 23:33] adrianrudnik opened #177 "Optional prompting with vendoring leading to blank page"
Hi there, sorry for this messy question. This is the second time I try to integrate this plugin and get stuck with a blank page and this time I want to get to the bottom of it. I've look through most of #33 but my problem seems to be only slightly related.

I have a demo site that requires a promp to avoid users loosing an active voice recording session, so they can click "do it later" on new rele

[2021-11-29 01:11] userquin commented on #177
I need the version of the plugin you are using and the pwa configuration, tmr Ill take a look...

[2021-11-29 01:52] jonaskuske opened #178 "Make crossorigin attribute for link[rel="manifest"] configurable"
When a site sits behind authentication, you need to use

[code]

so that the browser sends credentials along with the request and thus receives the manifest instead of a 401.

[2021-11-29 02:38] wavebeem opened #179 "Unrestricted file system access warning"
I'm getting warnings about unrestricted filesystem access from Vite when using this plugin.

[code]

[2021-11-29 04:29] wavebeem commented on #179
OK I don't know why that was happening, but it's stopped. I'll re-open this if it comes back.

[2021-11-29 04:29] #179 closed

[2021-11-29 09:32] samuel-git opened #180 "AutoUpdate problems with lazy loaded esm modules"
Thanks for the amazing plugin!

When using Vue3 + TS + Vite + autoUpdate with lazy loaded routes, the clients sometimes try to request a .js file with outdated hash for the new route when navigating on the site after an update (e.g. old Home.8769440d.js instead of the new Home.e58cddfc.js). This throws an error (see below for details) and nothing happens navigation wise. A manual reload / revisiti

[2021-11-29 12:23] userquin commented on #177
@adrianrudnik I think it is something related with the assets cache. Once the new sw is on `waiting` state, the current assets are old ones, so it should work (stale while revalidate). Of course if the user do a hard refresh (without reloading the sw), then you will get a blank page.

The only assets that should be server with no cache should be ìndex.html` and `sw.js`, any other should be server

[2021-11-29 12:25] userquin commented on #177
I have some projects using `http/2` and are working without any problem (only when hard refresh, with f5 works again).

[2021-11-29 12:35] userquin commented on #177
For example, using netty server with spring webflux with http/2, all assets directory are server with `ETag` and `immutable` since each build will generate a new version (I generate the `manifest` from the deps on each page):
<details>
<summary>ETag</summary>

[code]
</details>

and `addHeaders` is:

<details>
<summary>addHeaders</summary>

[code]
</details>

[2021-11-29 12:39] userquin commented on #178
@jonaskuske this makes sense? I mean, that resource should be public, also all icons for the manifest. If you secure your application you should be logged-in before access it.

You can configure `manifest: false` on the pwa plugin configuration and then do the registration yourself, but you'll need to create also the `manifest` yourself.

[2021-11-29 13:12] adrianrudnik commented on #177
@userquin Thank for the feedback! The version used is 0.11.8, the pwa configuration looks like this:

[code]

I think this could be the problem. They might be stale, but during revalidation the old asset is 404 on the server, so the cache might become valid if it is no longer present on the server?

Just to make sure: The image I build with docker only contains the new build files, not the old one

[2021-11-29 13:23] adrianrudnik commented on #177
That sounds exactly like the problem. I guess the only solution would be to keep the old vendor files, so they can be reloaded by a stale, but installed, service worker. Every other scenario actually requires me to uninstall the service worker, no amount of hard refreshes help to get rid of the blank page.

Is there any help or doc site to get an overview of the recommended cache-control headers f

[2021-11-29 13:53] userquin commented on #177
To keep old assets on the sw you can configure `cleanupOutdatedCaches: false` (beware disabling that option).

I always delete the old dist folder from server and also enable `cleanupOutdatedCaches: true` to remove the old assets once the new sw activated.

You can also keep old assets on the server, this will prevent the error while sw not updated and hard refresh from client.

About cache contro

[2021-11-29 14:09] jonaskuske commented on #178
@userquin

Yeah, but that's the point – *even if you logged in*, the browser won't send the credentials along with the request for the manifest, so while the application itself loads, the manifest doesn't and the app isn't installable.

From web.dev:

![Screenshot_20211129-150653.png](https://user-images.githubusercontent.com/30421456/143882416-8483fadc-54cc-4650-b005-3a7a80391c04.png)

(https://w

[2021-11-29 17:18] adrianrudnik commented on #177
Thanks! I will adapt an copy-over-old approach for now, as this avoids the problem at its core.

But I will also take away some review for the headers as well. I just did a review of the NGINX vhost configuration used for the site, which is a pretty basic 0815 template for this stuff, same I used for precompile hugo sites with static assets with hashes:

[code]

The error is in the detail that `.j

[2021-11-29 17:18] #177 closed

[2021-11-29 19:46] userquin commented on #180
@samuel-git check issue #177 again, you will have there some hints, also check PR #181

[2021-11-29 22:30] userquin commented on #178
@jonaskuske are you working on the PR or do you prefer me to include it?

[2021-11-29 22:44] userquin commented on #178
If you're working on it, add also an entry here on the pwa docs: https://github.com/antfu/vite-plugin-pwa/blob/main/docs/guide/faq.md

Add it as the after `## IDE errors 'Cannot find module' (ts2307)` and before `## Service Worker Registration Errors` with its own section (mention also the 401 status code), for example:
[code]

[2021-11-29 22:46] jonaskuske commented on #178
Working on it, and alright, will do 👍🏻

[2021-11-29 22:57] userquin commented on #178
@jonaskuske you don't need to test it, just check the build script works, I'll review it tmr or maybe `@antfu`: `pnpm run build`. Don't forget to run before `pnpm install` to install the dependencies.

If you want to test it use `pnpm run examples` after run the build script, then select `vue + generateSW + prompt + no for cheks` on the `cli`, then open `https://localhost`  and check the manifest

[2021-11-30 09:19] CHENQIKUAI commented on #158
build with "vite build" not "tsc && vite build" 🙂

[2021-11-30 09:59] hafidk opened #183 "ReloadPrompt example not functional"
Hi there!

I've been going through the docs and got the pwa in react working, even if the sw it's pretty barebones it installs and activates as inteded, the issue I have is following the ReloadPrompt.tsx example within the [docs](https://vite-plugin-pwa.netlify.app/frameworks/react.html#prompt-for-update) . I tried to add a button to skipWaiting once the user chooses to install the new version but

[2021-11-30 10:55] #183 closed

[2021-11-30 10:56] userquin commented on #183
you should call `updateServiceWorker` only when `needRefresh` is activated, otherwise the call does nothing.

[2021-11-30 11:05] hafidk commented on #183
Hey, thanks for the quick response.

But this is precisely what the example does (I ommited some code but it's verbatim the same as the example).

`{ needRefresh && <button className="ReloadPrompt-toast-button" onClick={() => updateServiceWorker(true)}>Reload</button> }`

When we `needRefresh`, the button appears correctly, I already tested that and the SW detects the new changes and is waiting fo

[2021-11-30 11:09] userquin commented on #183
Check if you have some warning/error on the console about the service worker.

You can clone this repo and run `pnpm install && pnpm run build`, then `pnpm run examples` and select `react + generateSW + prompt + no check for updates` and open `https://localhost`, check that `App ready to work offline is shown`, then stop the server and rerun `pnpm run example`, select again the same options on the

[2021-11-30 11:16] userquin commented on #183
maybe it is related to #171: uninstall `vite-plugin-pwa` and install it again, you should use `0.11.8` version, we have fix some `side effects`.

[2021-11-30 11:32] hafidk commented on #183
Updating to `0.11.8` did the trick, thanks!

[2021-11-30 20:04] #178 closed

[2021-12-01 00:45] #124 closed

[2021-12-01 00:48] userquin opened #184 "add vitepress and sveltekit to repo tags"
@antfu when you have time

[2021-12-01 08:48] samuel-git commented on #180
Thanks, I need some time to test properly but I think it was the short caching time for js files.

I use the netlify config from your awesome vitesse template now und will report back if this did not help.

[2021-12-01 08:48] #180 closed

[2021-12-01 16:55] userquin commented on #158
@mxm-web-develop can this be closed?

[2021-12-01 19:43] doutatsu opened #186 "Issue deploying to Netlify"
I am trying to get a basic configuration going, but when I try to deploy to Netlify, it fails during the vite build:

[code]

I only use babel for my tests, so they shouldn't affect anything, but even removing the configuration still results in this error, so I am not even sure it's that at fault. Here the rest of my code:

### Reload Prompt
[code]

## Vite Config
[code]

[2021-12-03 05:40] reslear opened #187 "how to off strict mode for assets ?"
<img width="557" alt="Screenshot 2021-12-03 at 13 34 01" src="https://user-images.githubusercontent.com/12596485/144550886-f443f834-c781-4340-83d7-c093305209b0.png">

how to skip assets and continue build, is not found
right now i'm get build fail on production

[2021-12-03 06:41] ziyak-indusos opened #188 "Base option does not work as expected"
[code]

Just adding a . will not work and we need to add ./ to resolve this. similarly, if I add ./folder-name it will not work and I need to add ./folder-name/ instead. This is not in sync with the vite base option.

[2021-12-03 08:03] ziyak-indusos commented on #188
UPDATE: While vite handles my base url it also warns me that I should start and end my base with a /

So this is not an issue with the plugin just me using the base opinion incorrectly and vite handling it for me.

[2021-12-03 08:03] #188 closed

[2021-12-03 12:07] userquin commented on #187
@reslear the error is not from pwa plugin, this plugin only fails when the vite build fails, you've an error on `src/composable/useAlert.ts` module. The build script will also fails if you remove this plugin from your application.

[2021-12-03 15:14] userquin commented on #187
Use dynamic import on `onMount` hook, catch the error and add the image only if that var is set, use ref for it:

[code]
Then in your template
[code]

[2021-12-03 15:39] reslear commented on #187
good, thanks
would like to have a mode in which, due to the lack of assets, the build did not stop

[2021-12-03 15:51] userquin commented on #187
@reslear if your codebase import resources you later remove what do you expect to happen?

[2021-12-03 15:51] #187 closed

[2021-12-04 06:01] Moerning commented on #148
Ok My Bad,
now that i got the hang of it,
It's actually working pretty good,
The docs helped too.
Apologies

[2021-12-06 03:09] imShara commented on #84
Is I'm right that you need to fork `vite-plugin-pwa` service worker to add new functionality? Or just need to make module?

[2021-12-14 10:21] yann-combarnous opened #190 "[feat] Add option to disable for production mode"
We are using Cypress for testing, and building our app for faster testing.

Vite is great in development mode, but for testing the entire app, using Vite dev server and loading all of our files on each test is too slow, as Cypress clears the cache on each step.

So we use app builds to test, but we have no option to disable service worker generation in this plugin. Just removing plugin will not wo

[2021-12-14 11:32] userquin commented on #190
I'll check this, in the mean time you can use dynamic import and check for `window.Cypress`, for example:

[code]

For `ReloadPrompt` use similar logic to load the component.

[2021-12-14 20:05] userquin commented on #190
@yann-combarnous I'll included a new `disable` option on `VitePWAOptions` and so you can configure it using yours env variables. This option will disable the generation and sw registration, the virtual module will be still there and so you don't need to change the codebase (the plugin will generate the dev module of the corresponding framework you're using).

[2021-12-15 16:51] JessicaSachs commented on #190
Hey @yann-combarnous are you using Cypress Component Testing or Cypress E2E?

[2021-12-15 17:52] yann-combarnous commented on #190
Both, while cypress component testing is fast, cypress e2e loads 1000s of files for each test, if I use Vite dev server. So building bundle and doing ‘vite preview’ is faster for Cypress e2e.

[2021-12-15 18:25] JessicaSachs commented on #190
Yeah. Component is just a Vite plugin. So for E2E, I generally `vite build` to dist the Vite app and then host it statically like I would in prod. Disting the app removes the per-module waterfall requests. Like with an express static server.

In addition to this, if you're running `vite dev` and hitting that as your app, keeping your `optimizeDeps` up to date is absolutely critical for the best pe

[2021-12-15 19:44] #190 closed

[2021-12-15 20:49] Snugug opened #192 "Provide function to filter what gets injected"
The `injectManifest` functionality is great for building your own custom service worker, but it appears as if the only option I have when using it is inject every file that Vite generated, or use something else. Precaching (which is what this is usually used for) should IMO be used sparingly on key important assets, not on everything. As such, I'd love a config option to pass a function, that effe

[2021-12-15 21:26] userquin commented on #192
@Snugug why not just use the `injectManifestOption` plugin option? You can filter using the `globPatterns` and `globIgnores` options. See for example the sveltekit example https://github.com/antfu/vite-plugin-pwa/blob/main/examples/sveltekit-pwa/pwa-configuration.js#L50

[2021-12-15 21:43] userquin commented on #190
@yann-combarnous can you test with the new release `0.11.12`?

[2021-12-16 00:41] Snugug commented on #192
Thanks! I'll look at that tomorrow!

Maybe this winds up being a documentation issue instead of a feature request, as this config is buried under static asset handling instead of configuration of injectManifest where I expected it to be.

[2021-12-16 01:56] userquin commented on #192
@Snugug check also some hints I add on your issue 151 on chromeos

[2021-12-16 12:33] yann-combarnous commented on #190
LGTM, just tried with `disable: true` and without the option, works as expected. Thx!

[2021-12-16 12:37] yann-combarnous commented on #190
Yep, and now with this new option in vite-plugin-pwa, I can get rid of managing the service worker lifecycle in Cypress. Thx.

[2021-12-16 15:15] userquin commented on #192
@Snugug about the docs, just read https://vite-plugin-pwa.netlify.app/workbox/#how-is-workbox-build-related-to-vite-plugin-pwa

You can see the options provided to `workbox` here https://vite-plugin-pwa.netlify.app/workbox/#how-is-workbox-build-related-to-vite-plugin-pwa and here https://github.com/antfu/vite-plugin-pwa/blob/main/src/types.ts#L87 (both options are workbox types):
- for `generateSW

[2021-12-18 15:52] doutatsu commented on #186
Any idea about this @antfu? 😢

[2021-12-18 16:18] userquin commented on #186
@doutatsu babel is there, you can try `rm -rf ./node_modules && rm yarn.lock && yarn`

[2021-12-18 16:44] doutatsu commented on #186
I was absolutely sure that I have tried that already - but as I was trying again, it did go through without issues. My bad, that was a dumb mistake
![image](https://user-images.githubusercontent.com/4270980/146648842-e56b060a-1e06-4796-be84-bd37e7113615.png)

Unfortunately, even though it seems to be building the app, the service worker is not working - even after I followed the Vue 3 example...
!

[2021-12-18 16:56] userquin commented on #186
@doutatsu you need to call `registerSW` from `virtual:pwa-register` or if using vue, `useRegisterSW` from `virtual:pwa-register/vue`. If you don't call `registerSW` or `useRegisterSW` the sw will not be registered.

[2021-12-18 17:01] userquin commented on #186
the example projects are condensed to allow test each framework with the same codebase using different strategies and behavior (`registerType`): if you use `generateSW` strategy you don't need any of the sw.

[2021-12-24 11:34] IAmRGroot opened #194 "Generated service worker is created after Rollup writeBundle hook?"
I have a situation where I need to copy the contents of the build (dist) folder to another folder at the end of the build. I'm currently adding the vite-plugin-pwa but I'm having the following problem.

I'm using https://github.com/vladshcherbin/rollup-plugin-copy to copy the files.

In this example (https://github.com/IAmRGroot/vite-pwa-copy-replication) I copy the src/dist folder to src/out with

[2021-12-24 12:00] userquin commented on #194
@IAmRGroot  just move the copy plugin before the pwa plugin

[2021-12-24 12:05] userquin commented on #194
@IAmRGroot sorry, misundertood the question, try this:
[code]